Repository dotnet/docs-desktop, pull requests merged in 2020-10, with the labels that each got.

#68 Add missing letter in first link of article
  dotnet-desktop-guide/framework/wpf/advanced/dependency-properties-overview.md
Labels: :sparkles: 1st-time docs contributor!

#69 Fix missing letter in first link of article (#68)
  dotnet-desktop-guide/framework/wpf/advanced/dependency-properties-overview.md
Labels: :books: Area - .NET Framework, :card_file_box: Technology - WPF

#91 Add WinForms tutorial
  .openpublishing.redirection.json
  dotnet-desktop-guide/net/winforms/get-started/create-app-visual-studio.md
  dotnet-desktop-guide/net/winforms/get-started/media/create-app-visual-studio/app-running.png
  dotnet-desktop-guide/net/winforms/get-started/media/create-app-visual-studio/icon-events.png
  dotnet-desktop-guide/net/winforms/get-started/media/create-app-visual-studio/icon-properties.png
  dotnet-desktop-guide/net/winforms/get-started/media/create-app-visual-studio/vs-config-new-project.png
  dotnet-desktop-guide/net/winforms/get-started/media/create-app-visual-studio/vs-create-new-project.png
  dotnet-desktop-guide/net/winforms/get-started/media/create-app-visual-studio/vs-form-preview.png
  dotnet-desktop-guide/net/winforms/get-started/media/create-app-visual-studio/vs-main-window.pdn
  dotnet-desktop-guide/net/winforms/get-started/media/create-app-visual-studio/vs-main-window.png
  dotnet-desktop-guide/net/winforms/get-started/media/create-app-visual-studio/vs-properties-events.png
  dotnet-desktop-guide/net/winforms/get-started/media/create-app-visual-studio/vs-solution-explorer-form.png
  dotnet-desktop-guide/net/winforms/get-started/media/create-app-visual-studio/vs-template-search-cs.png
  dotnet-desktop-guide/net/winforms/get-started/media/create-app-visual-studio/vs-template-search-vb.png
  dotnet-desktop-guide/net/winforms/get-started/media/create-app-visual-studio/vs-template-search.png
  dotnet-desktop-guide/net/winforms/get-started/snippets/create-app-visual-studio/csharp/Main.Designer.cs
  dotnet-desktop-guide/net/winforms/get-started/snippets/create-app-visual-studio/csharp/Main.cs
  dotnet-desktop-guide/net/winforms/get-started/snippets/create-app-visual-studio/csharp/Main.resx
  dotnet-desktop-guide/net/winforms/get-started/snippets/create-app-visual-studio/csharp/Program.cs
  dotnet-desktop-guide/net/winforms/get-started/snippets/create-app-visual-studio/csharp/project.csproj
  dotnet-desktop-guide/net/winforms/get-started/snippets/create-app-visual-studio/vb/Main.Designer.vb
  dotnet-desktop-guide/net/winforms/get-started/snippets/create-app-visual-studio/vb/Main.resx
  dotnet-desktop-guide/net/winforms/get-started/snippets/create-app-visual-studio/vb/Main.vb
  dotnet-desktop-guide/net/winforms/get-started/snippets/create-app-visual-studio/vb/Program.vb
  dotnet-desktop-guide/net/winforms/get-started/snippets/create-app-visual-studio/vb/projectvb.vbproj
  dotnet-desktop-guide/net/winforms/input-mouse/overview.md
  dotnet-desktop-guide/net/winforms/toc.yml
Labels: :books: Area - .NET, :card_file_box: Technology - WinForms

#93 Add forms articles
  dotnet-desktop-guide/net/winforms/forms/how-to-add.md
  dotnet-desktop-guide/net/winforms/forms/how-to-position-and-resize.md
  dotnet-desktop-guide/net/winforms/forms/media/how-to-add/existing-right-click.png
  dotnet-desktop-guide/net/winforms/forms/media/how-to-add/new-form-dialog.png
  dotnet-desktop-guide/net/winforms/forms/media/how-to-add/right-click.png
  dotnet-desktop-guide/net/winforms/forms/media/how-to-position-and-resize/designer-grips.png
  dotnet-desktop-guide/net/winforms/forms/media/how-to-position-and-resize/designer-properties-size.png
  dotnet-desktop-guide/net/winforms/forms/media/how-to-position-and-resize/startposition.png
  dotnet-desktop-guide/net/winforms/toc.yml
Labels: :books: Area - .NET, :card_file_box: Technology - WinForms

#95 Winforms publish
  dotnet-desktop-guide/docfx.json
  dotnet-desktop-guide/net/winforms/controls/custom-painting-drawing.md
  dotnet-desktop-guide/net/winforms/controls/custom.md
  dotnet-desktop-guide/net/winforms/controls/how-to-add-a-picture-to-a-control.md
  dotnet-desktop-guide/net/winforms/controls/how-to-add-to-a-form.md
  dotnet-desktop-guide/net/winforms/controls/how-to-create-access-keys.md
  dotnet-desktop-guide/net/winforms/controls/how-to-set-the-display-text.md
  dotnet-desktop-guide/net/winforms/controls/labels.md
  dotnet-desktop-guide/net/winforms/controls/layout.md
  dotnet-desktop-guide/net/winforms/controls/overview.md
  dotnet-desktop-guide/net/winforms/controls/provide-accessibility-information.md
  dotnet-desktop-guide/net/winforms/forms/autoscale.md
  dotnet-desktop-guide/net/winforms/forms/events.md
  dotnet-desktop-guide/net/winforms/forms/how-to-add.md
  dotnet-desktop-guide/net/winforms/forms/how-to-position-and-resize.md
  dotnet-desktop-guide/net/winforms/get-started/create-app-visual-studio.md
  dotnet-desktop-guide/net/winforms/input-keyboard/events.md
  dotnet-desktop-guide/net/winforms/input-keyboard/how-to-change-key-press.md
  dotnet-desktop-guide/net/winforms/input-keyboard/how-to-check-modifier-key.md
  dotnet-desktop-guide/net/winforms/input-keyboard/how-to-handle-forms.md
  dotnet-desktop-guide/net/winforms/input-keyboard/how-to-simulate-events.md
  dotnet-desktop-guide/net/winforms/input-keyboard/overview.md
  dotnet-desktop-guide/net/winforms/input-keyboard/validation.md
  dotnet-desktop-guide/net/winforms/input-mouse/drag-and-drop.md
  dotnet-desktop-guide/net/winforms/input-mouse/events.md
  dotnet-desktop-guide/net/winforms/input-mouse/how-to-distinguish-between-clicks-and-double-clicks.md
  dotnet-desktop-guide/net/winforms/input-mouse/how-to-manage-cursor-pointer.md
  dotnet-desktop-guide/net/winforms/input-mouse/how-to-simulate-events.md
  dotnet-desktop-guide/net/winforms/input-mouse/overview.md
  dotnet-desktop-guide/net/winforms/overview/index.md
  dotnet-desktop-guide/net/winforms/toc.yml
Labels: :books: Area - .NET, :card_file_box: Technology - WinForms
