Repository dotnet/docs-desktop, pull requests merged in 2020-11, with the labels that each got.

#101 Update how-to-validate-application-settings.md
  dotnet-desktop-guide/framework/winforms/advanced/how-to-validate-application-settings.md
Labels: :books: Area - .NET Framework, :card_file_box: Technology - WinForms, :sparkles: 1st-time docs contributor!

#107 Links: .NET Desktop - net
  dotnet-desktop-guide/net/winforms/input-keyboard/overview.md
  dotnet-desktop-guide/net/wpf/index.yml
  dotnet-desktop-guide/net/wpf/migration/convert-project-from-net-framework.md
  dotnet-desktop-guide/net/wpf/overview/index.md
  dotnet-desktop-guide/net/wpf/toc.yml
Labels: :books: Area - .NET, :card_file_box: Technology - WPF, :card_file_box: Technology - WinForms

#110 Inital migration article port
  dotnet-desktop-guide/net/winforms/get-started/create-app-visual-studio.md
  dotnet-desktop-guide/net/winforms/migration/index.md
  dotnet-desktop-guide/net/winforms/toc.yml
Labels: :books: Area - .NET, :card_file_box: Technology - WinForms

#114 Add what's new in WinForms article
  dotnet-desktop-guide/net/winforms/index.yml
  dotnet-desktop-guide/net/winforms/migration/index.md
  dotnet-desktop-guide/net/winforms/overview/index.md
  dotnet-desktop-guide/net/winforms/toc.yml
  dotnet-desktop-guide/net/winforms/whats-new/index.md
Labels: :books: Area - .NET, :card_file_box: Technology - WinForms

#118 Minor changes to whats new
  dotnet-desktop-guide/net/winforms/overview/index.md
  dotnet-desktop-guide/net/winforms/whats-new/index.md
Labels: :books: Area - .NET, :card_file_box: Technology - WinForms

#122 Fixes related to open issues.
  dotnet-desktop-guide/framework/winforms/controls/defining-default-values-with-the-shouldserialize-and-reset-methods.md
  dotnet-desktop-guide/framework/winforms/index.yml
  dotnet-desktop-guide/framework/wpf/advanced/how-to-use-special-characters-in-xaml.md
  dotnet-desktop-guide/framework/wpf/graphics-multimedia/storyboards-overview.md
  dotnet-desktop-guide/net/winforms/get-started/create-app-visual-studio.md
  dotnet-desktop-guide/samples/snippets/cpp/VS_Snippets_Wpf/ScrollViewer/CPP/ScrollViewer_wcp.cpp
  dotnet-desktop-guide/samples/snippets/csharp/VS_Snippets_Wpf/ControlTemplateExamples/CS/resources/expander.xaml
  dotnet-desktop-guide/samples/snippets/csharp/VS_Snippets_Wpf/ScrollViewer/CSharp/ScrollViewer_wcp.cs
  dotnet-desktop-guide/samples/snippets/visualbasic/VS_Snippets_Wpf/ScrollViewer/VisualBasic/ScrollViewer.vb
Labels: :books: Area - .NET, :books: Area - .NET Framework, :card_file_box: Technology - WPF, :card_file_box: Technology - WinForms

#121 Delete reference to "the Visual Basic code above"
  dotnet-desktop-guide/framework/winforms/how-to-create-event-handlers-at-run-time-for-windows-forms.md
Labels: :books: Area - .NET Framework, :card_file_box: Technology - WinForms, :sparkles: 1st-time docs contributor!

#131 Fix menu item text
  dotnet-desktop-guide/net/winforms/migration/index.md
Labels: :books: Area - .NET, :card_file_box: Technology - WinForms

#132 Add Visual Basic notes to WinForms migration article
  dotnet-desktop-guide/net/winforms/migration/index.md
Labels: :books: Area - .NET, :card_file_box: Technology - WinForms
