Repository dotnet/docs-desktop, pull requests merged in 2020-12, with the labels that each got.

#138 Clarify Panel.Background text.
  dotnet-desktop-guide/framework/wpf/getting-started/walkthrough-my-first-wpf-desktop-application.md
Labels: :books: Area - .NET Framework, :card_file_box: Technology - WPF

#151 Update VS version
  dotnet-desktop-guide/net/winforms/get-started/create-app-visual-studio.md
Labels: :books: Area - .NET, :card_file_box: Technology - WinForms

#154 Remove extra "and"
  dotnet-desktop-guide/net/includes/desktop-guide-preview-note.md
Labels: :sparkles: 1st-time docs contributor!

#156 Migration for winforms article clarifies update vs include
  dotnet-desktop-guide/net/winforms/migration/index.md
Labels: :books: Area - .NET, :card_file_box: Technology - WinForms
