Repository dotnet/docs-desktop, pull requests merged in 2021-07, with the labels that each got.

#1108 Data binding overview correction
  dotnet-desktop-guide/net/wpf/data/index.md
Labels: :sparkles: 1st-time docs contributor!, dotnet-desktop/prod, dotnet-wpf/tech

#1113 Add control event articles
  .openpublishing.redirection.json
  dotnet-desktop-guide/net/winforms/controls/events.md
  dotnet-desktop-guide/net/winforms/controls/how-to-add-a-picture-to-a-control.md
  dotnet-desktop-guide/net/winforms/controls/how-to-add-an-event-handler.md
  dotnet-desktop-guide/net/winforms/controls/how-to-set-the-display-text.md
  dotnet-desktop-guide/net/winforms/controls/media/how-to-add-an-event-handler/visual-studio-properties-events-click.png
  dotnet-desktop-guide/net/winforms/controls/snippets/how-to-add-an-event-handler/cs/Form1.Designer.cs
  dotnet-desktop-guide/net/winforms/controls/snippets/how-to-add-an-event-handler/cs/Form1.cs
  dotnet-desktop-guide/net/winforms/controls/snippets/how-to-add-an-event-handler/cs/Form1.resx
  dotnet-desktop-guide/net/winforms/controls/snippets/how-to-add-an-event-handler/cs/Program.cs
  dotnet-desktop-guide/net/winforms/controls/snippets/how-to-add-an-event-handler/cs/project.csproj
  dotnet-desktop-guide/net/winforms/controls/snippets/how-to-add-an-event-handler/vb/Form1.Designer.vb
  dotnet-desktop-guide/net/winforms/controls/snippets/how-to-add-an-event-handler/vb/Form1.resx
  dotnet-desktop-guide/net/winforms/controls/snippets/how-to-add-an-event-handler/vb/Form1.vb
  dotnet-desktop-guide/net/winforms/controls/snippets/how-to-add-an-event-handler/vb/Form2.Designer.vb
  dotnet-desktop-guide/net/winforms/controls/snippets/how-to-add-an-event-handler/vb/Form2.resx
  dotnet-desktop-guide/net/winforms/controls/snippets/how-to-add-an-event-handler/vb/Form2.vb
  dotnet-desktop-guide/net/winforms/controls/snippets/how-to-add-an-event-handler/vb/Program.vb
  dotnet-desktop-guide/net/winforms/controls/snippets/how-to-add-an-event-handler/vb/project.vbproj
  dotnet-desktop-guide/net/winforms/media/shared/visual-studio-chevron-button.png
  dotnet-desktop-guide/net/winforms/media/shared/visual-studio-ellipsis-button.png
  dotnet-desktop-guide/net/winforms/media/shared/visual-studio-events-button.png
  dotnet-desktop-guide/net/winforms/toc.yml
Labels: dotnet-desktop/prod, dotnet-winforms/tech

#1111 Update popup code
  dotnet-desktop-guide/framework/wpf/controls/popup-overview.md
  dotnet-desktop-guide/framework/wpf/controls/snippets/popup-overview/csharp/CSharpExample.csproj
  dotnet-desktop-guide/framework/wpf/controls/snippets/popup-overview/csharp/Window1.xaml
  dotnet-desktop-guide/framework/wpf/controls/snippets/popup-overview/csharp/Window1.xaml.cs
  dotnet-desktop-guide/framework/wpf/controls/snippets/popup-overview/csharp/app.xaml
  dotnet-desktop-guide/framework/wpf/controls/snippets/popup-overview/csharp/app.xaml.cs
  dotnet-desktop-guide/samples/snippets/csharp/VS_Snippets_Wpf/PopupSimple/CSharp/PopupPropertiesSample.csproj
  dotnet-desktop-guide/samples/snippets/csharp/VS_Snippets_Wpf/PopupSimple/CSharp/Window1.xaml
  dotnet-desktop-guide/samples/snippets/csharp/VS_Snippets_Wpf/PopupSimple/CSharp/sampleid.txt
Labels: dotnet-framework/prod, dotnet-wpf/tech

#1119 Add how-to-make-thread-safe-calls.md & Update Layout with margin/padding
  .openpublishing.redirection.json
  dotnet-desktop-guide/net/winforms/controls/how-to-add-an-event-handler.md
  dotnet-desktop-guide/net/winforms/controls/how-to-make-thread-safe-calls.md
  dotnet-desktop-guide/net/winforms/controls/layout.md
  dotnet-desktop-guide/net/winforms/controls/media/layout/margin-padding.pdn
  dotnet-desktop-guide/net/winforms/controls/media/layout/margin-padding.png
  dotnet-desktop-guide/net/winforms/controls/media/layout/margins.gif
  dotnet-desktop-guide/net/winforms/controls/overview.md
  dotnet-desktop-guide/net/winforms/controls/snippets/how-to-make-thread-safe-calls/cs/Form1.Designer.cs
  dotnet-desktop-guide/net/winforms/controls/snippets/how-to-make-thread-safe-calls/cs/Form1.cs
  dotnet-desktop-guide/net/winforms/controls/snippets/how-to-make-thread-safe-calls/cs/Form1.resx
  dotnet-desktop-guide/net/winforms/controls/snippets/how-to-make-thread-safe-calls/cs/FormBackgroundWorker.Designer.cs
  dotnet-desktop-guide/net/winforms/controls/snippets/how-to-make-thread-safe-calls/cs/FormBackgroundWorker.cs
  dotnet-desktop-guide/net/winforms/controls/snippets/how-to-make-thread-safe-calls/cs/FormBackgroundWorker.resx
  dotnet-desktop-guide/net/winforms/controls/snippets/how-to-make-thread-safe-calls/cs/FormBad.Designer.cs
  dotnet-desktop-guide/net/winforms/controls/snippets/how-to-make-thread-safe-calls/cs/FormBad.cs
  dotnet-desktop-guide/net/winforms/controls/snippets/how-to-make-thread-safe-calls/cs/FormBad.resx
  dotnet-desktop-guide/net/winforms/controls/snippets/how-to-make-thread-safe-calls/cs/FormThread.Designer.cs
  dotnet-desktop-guide/net/winforms/controls/snippets/how-to-make-thread-safe-calls/cs/FormThread.cs
  dotnet-desktop-guide/net/winforms/controls/snippets/how-to-make-thread-safe-calls/cs/FormThread.resx
  dotnet-desktop-guide/net/winforms/controls/snippets/how-to-make-thread-safe-calls/cs/Program.cs
  dotnet-desktop-guide/net/winforms/controls/snippets/how-to-make-thread-safe-calls/cs/project.csproj
  dotnet-desktop-guide/net/winforms/controls/snippets/how-to-make-thread-safe-calls/vb/FormBackgroundWorker.Designer.vb
  dotnet-desktop-guide/net/winforms/controls/snippets/how-to-make-thread-safe-calls/vb/FormBackgroundWorker.resx
  dotnet-desktop-guide/net/winforms/controls/snippets/how-to-make-thread-safe-calls/vb/FormBackgroundWorker.vb
  dotnet-desktop-guide/net/winforms/controls/snippets/how-to-make-thread-safe-calls/vb/FormBad.Designer.vb
  dotnet-desktop-guide/net/winforms/controls/snippets/how-to-make-thread-safe-calls/vb/FormBad.resx
  dotnet-desktop-guide/net/winforms/controls/snippets/how-to-make-thread-safe-calls/vb/FormBad.vb
  dotnet-desktop-guide/net/winforms/controls/snippets/how-to-make-thread-safe-calls/vb/FormThread.Designer.vb
  dotnet-desktop-guide/net/winforms/controls/snippets/how-to-make-thread-safe-calls/vb/FormThread.resx
  dotnet-desktop-guide/net/winforms/controls/snippets/how-to-make-thread-safe-calls/vb/FormThread.vb
  dotnet-desktop-guide/net/winforms/controls/snippets/how-to-make-thread-safe-calls/vb/Program.vb
  dotnet-desktop-guide/net/winforms/controls/snippets/how-to-make-thread-safe-calls/vb/project.vbproj
  dotnet-desktop-guide/net/winforms/toc.yml
  redirects_generator/definitions.json
Labels: dotnet-desktop/prod, dotnet-winforms/tech

#1127 Modify snippet in a WPF getting started
  dotnet-desktop-guide/net/wpf/get-started/snippets/create-app-visual-studio/csharp/Final.xaml.cs
  dotnet-desktop-guide/net/wpf/get-started/snippets/create-app-visual-studio/vb/Final.xaml.vb
Labels: dotnet-desktop/prod, dotnet-wpf/tech

#1125 Fix "Smooth quadratic Bezier curve Command" syntax
  dotnet-desktop-guide/framework/wpf/graphics-multimedia/path-markup-syntax.md
Labels: dotnet-framework/prod, dotnet-wpf/tech

#1129 Fix migration article for winforms
  dotnet-desktop-guide/net/winforms/migration/index.md
Labels: dotnet-desktop/prod, dotnet-winforms/tech
