Repository dotnet/docs-desktop, pull requests merged in 2021-06, with the labels that each got.

#1081 Port dock/anchor articles
  .openpublishing.redirection.json
  dotnet-desktop-guide/net/winforms/controls/how-to-dock-and-anchor.md
  dotnet-desktop-guide/net/winforms/controls/layout.md
  dotnet-desktop-guide/net/winforms/controls/media/how-to-dock-and-anchor/anchor-resize.gif
  dotnet-desktop-guide/net/winforms/controls/media/how-to-dock-and-anchor/dock-modes.png
  dotnet-desktop-guide/net/winforms/controls/media/how-to-dock-and-anchor/vs-anchor-property-expanded.png
  dotnet-desktop-guide/net/winforms/controls/media/how-to-dock-and-anchor/vs-anchor-property.png
  dotnet-desktop-guide/net/winforms/controls/media/how-to-dock-and-anchor/vs-dock-property-expanded.png
  dotnet-desktop-guide/net/winforms/controls/media/how-to-dock-and-anchor/vs-dock-property.png
  dotnet-desktop-guide/net/winforms/toc.yml
Labels: dotnet-desktop/prod, dotnet-winforms/tech

#1080 Update how-to-set-the-tab-order.md - Change headers
  dotnet-desktop-guide/net/winforms/controls/how-to-set-the-tab-order.md
Labels: dotnet-desktop/prod, dotnet-winforms/tech

#1096 Update known folders with 3d objects
  dotnet-desktop-guide/framework/winforms/controls/known-folder-guids-for-file-dialog-custom-places.md
Labels: dotnet-framework/prod, dotnet-winforms/tech

#1105 Fix link in index.yml
  dotnet-desktop-guide/net/wpf/index.yml
Labels: :sparkles: 1st-time docs contributor!, dotnet-desktop/prod, dotnet-wpf/tech

#1104 Add information about debugging windows forms design time for .NET
  dotnet-desktop-guide/framework/winforms/controls/walkthrough-debugging-custom-windows-forms-controls-at-design-time.md
Labels: dotnet-framework/prod, dotnet-winforms/tech
