Repository dotnet/docs-desktop, pull requests merged in 2021-05, with the labels that each got.

#1056 Add how to bind enum article
  dotnet-desktop-guide/net/wpf/data/how-to-bind-to-an-enumeration.md
  dotnet-desktop-guide/net/wpf/data/snippets/how-to-bind-to-an-enumeration/csharp/App.xaml
  dotnet-desktop-guide/net/wpf/data/snippets/how-to-bind-to-an-enumeration/csharp/App.xaml.cs
  dotnet-desktop-guide/net/wpf/data/snippets/how-to-bind-to-an-enumeration/csharp/ArticleExample.csproj
  dotnet-desktop-guide/net/wpf/data/snippets/how-to-bind-to-an-enumeration/csharp/AssemblyInfo.cs
  dotnet-desktop-guide/net/wpf/data/snippets/how-to-bind-to-an-enumeration/csharp/BindEnum.xaml
  dotnet-desktop-guide/net/wpf/data/snippets/how-to-bind-to-an-enumeration/csharp/BindEnum.xaml.cs
  dotnet-desktop-guide/net/wpf/data/snippets/how-to-bind-to-an-enumeration/csharp/BindEnumFull.xaml
  dotnet-desktop-guide/net/wpf/data/snippets/how-to-bind-to-an-enumeration/csharp/BindEnumFull.xaml.cs
  dotnet-desktop-guide/net/wpf/data/snippets/how-to-bind-to-an-enumeration/csharp/MainWindow.xaml
  dotnet-desktop-guide/net/wpf/data/snippets/how-to-bind-to-an-enumeration/csharp/MainWindow.xaml.cs
  dotnet-desktop-guide/net/wpf/data/snippets/how-to-bind-to-an-enumeration/csharp/PrimaryColors.cs
  dotnet-desktop-guide/net/wpf/data/snippets/how-to-bind-to-an-enumeration/vb/Application.xaml
  dotnet-desktop-guide/net/wpf/data/snippets/how-to-bind-to-an-enumeration/vb/Application.xaml.vb
  dotnet-desktop-guide/net/wpf/data/snippets/how-to-bind-to-an-enumeration/vb/ArticleExampleVB.vbproj
  dotnet-desktop-guide/net/wpf/data/snippets/how-to-bind-to-an-enumeration/vb/AssemblyInfo.vb
  dotnet-desktop-guide/net/wpf/data/snippets/how-to-bind-to-an-enumeration/vb/BindEnum.xaml
  dotnet-desktop-guide/net/wpf/data/snippets/how-to-bind-to-an-enumeration/vb/BindEnum.xaml.vb
  dotnet-desktop-guide/net/wpf/data/snippets/how-to-bind-to-an-enumeration/vb/MainWindow.xaml
  dotnet-desktop-guide/net/wpf/data/snippets/how-to-bind-to-an-enumeration/vb/MainWindow.xaml.vb
  dotnet-desktop-guide/net/wpf/toc.yml
Labels: dotnet-desktop/prod, dotnet-wpf/tech

#1068 Clarify some porting winforms points
  dotnet-desktop-guide/net/winforms/migration/index.md
Labels: dotnet-desktop/prod, dotnet-winforms/tech

#1072 Correct spelling error in the "TextBox or RichTextBox?" paragraph. #1064
  dotnet-desktop-guide/framework/wpf/controls/richtextbox-overview.md
Labels: :sparkles: 1st-time docs contributor!, dotnet-framework/prod, dotnet-wpf/tech

#1067 Fix link to theme files
  dotnet-desktop-guide/framework/wpf/controls/control-styles-and-templates.md
Labels: dotnet-framework/prod, dotnet-wpf/tech

#1077 Port the How to set tab order article
  .openpublishing.redirection.json
  dotnet-desktop-guide/net/winforms/controls/how-to-add-a-picture-to-a-control.md
  dotnet-desktop-guide/net/winforms/controls/how-to-add-to-a-form.md
  dotnet-desktop-guide/net/winforms/controls/how-to-create-access-keys.md
  dotnet-desktop-guide/net/winforms/controls/how-to-set-the-display-text.md
  dotnet-desktop-guide/net/winforms/controls/how-to-set-the-tab-order.md
  dotnet-desktop-guide/net/winforms/controls/media/how-to-set-the-tab-order/properties-tabindex.png
  dotnet-desktop-guide/net/winforms/controls/media/how-to-set-the-tab-order/properties-tabstop.png
  dotnet-desktop-guide/net/winforms/controls/overview.md
  dotnet-desktop-guide/net/winforms/toc.yml
Labels: dotnet-desktop/prod, dotnet-winforms/tech
