Repository dotnet/docs-desktop, pull requests merged in 2021-01, with the labels that each got.

#159 Fix encoder/decoder in how-to-set-jpeg-compression-level.md
  dotnet-desktop-guide/framework/winforms/advanced/how-to-set-jpeg-compression-level.md
Labels: :books: Area - .NET Framework, :card_file_box: Technology - WinForms

#166 Add note about x:key conflict with explicit keys
  dotnet-desktop-guide/framework/wpf/app-development/how-to-use-an-application-scope-resource-dictionary.md
Labels: :books: Area - .NET Framework, :card_file_box: Technology - WPF

#167 Added missing closing bracket
  dotnet-desktop-guide/net/wpf/data/data-binding-overview.md
Labels: :books: Area - .NET, :card_file_box: Technology - WPF, :sparkles: 1st-time docs contributor!

#173 Update webbrowser sample
  dotnet-desktop-guide/framework/winforms/controls/implement-two-way-com-between-dhtml-and-client.md
  dotnet-desktop-guide/samples/snippets/csharp/VS_Snippets_Winforms/System.Windows.Forms.WebBrowser.ObjectForScripting/CS/form1.cs
  dotnet-desktop-guide/samples/snippets/csharp/VS_Snippets_Winforms/System.Windows.Forms.WebBrowser.ObjectForScripting/CS/sample.csproj
  dotnet-desktop-guide/samples/snippets/visualbasic/VS_Snippets_Winforms/System.Windows.Forms.WebBrowser.ObjectForScripting/vb/form1.vb
  dotnet-desktop-guide/samples/snippets/visualbasic/VS_Snippets_Winforms/System.Windows.Forms.WebBrowser.ObjectForScripting/vb/sample.vbproj
Labels: :books: Area - .NET Framework, :card_file_box: Technology - WinForms

#184 Remove Jill as author
  dotnet-desktop-guide/framework/winforms/advanced/how-to-copy-and-paste-an-elementhost-control-at-design-time.md
  dotnet-desktop-guide/framework/winforms/advanced/using-wpf-controls.md
  dotnet-desktop-guide/framework/winforms/advanced/walkthrough-arranging-wpf-content-on-windows-forms-at-design-time.md
  dotnet-desktop-guide/framework/winforms/advanced/walkthrough-assigning-wpf-content-on-windows-forms-at-design-time.md
  dotnet-desktop-guide/framework/winforms/advanced/walkthrough-creating-new-wpf-content-on-windows-forms-at-design-time.md
  dotnet-desktop-guide/framework/winforms/advanced/walkthrough-styling-wpf-content.md
  dotnet-desktop-guide/framework/winforms/controls/creating-a-wf-control-design-time-features.md
  dotnet-desktop-guide/framework/winforms/controls/design-time-errors-in-the-windows-forms-designer.md
  dotnet-desktop-guide/framework/winforms/controls/developing-windows-forms-controls-at-design-time.md
  dotnet-desktop-guide/framework/winforms/controls/how-to-align-multiple-controls-on-windows-forms.md
  dotnet-desktop-guide/framework/winforms/controls/how-to-anchor-controls-on-windows-forms.md
  dotnet-desktop-guide/framework/winforms/controls/how-to-author-composite-controls.md
  dotnet-desktop-guide/framework/winforms/controls/how-to-author-controls-for-windows-forms.md
  dotnet-desktop-guide/framework/winforms/controls/how-to-display-a-control-in-the-choose-toolbox-items-dialog-box.md
  dotnet-desktop-guide/framework/winforms/controls/how-to-dock-controls-on-windows-forms.md
  dotnet-desktop-guide/framework/winforms/controls/how-to-inherit-from-existing-windows-forms-controls.md
  dotnet-desktop-guide/framework/winforms/controls/how-to-inherit-from-the-control-class.md
  dotnet-desktop-guide/framework/winforms/controls/how-to-inherit-from-the-usercontrol-class.md
  dotnet-desktop-guide/framework/winforms/controls/how-to-layer-objects-on-windows-forms.md
  dotnet-desktop-guide/framework/winforms/controls/how-to-lock-controls-to-windows-forms.md
  dotnet-desktop-guide/framework/winforms/controls/how-to-position-controls-on-windows-forms.md
  dotnet-desktop-guide/framework/winforms/controls/how-to-provide-a-toolbox-bitmap-for-a-control.md
  dotnet-desktop-guide/framework/winforms/controls/how-to-reassign-existing-controls-to-a-different-parent.md
  dotnet-desktop-guide/framework/winforms/controls/how-to-resize-controls-on-windows-forms.md
  dotnet-desktop-guide/framework/winforms/controls/how-to-set-grid-options-for-all-windows-forms.md
  dotnet-desktop-guide/framework/winforms/controls/how-to-set-the-tab-order-on-windows-forms.md
  dotnet-desktop-guide/framework/winforms/controls/how-to-test-the-run-time-behavior-of-a-usercontrol.md
  dotnet-desktop-guide/framework/winforms/controls/perform-common-tasks-design-actions.md
  dotnet-desktop-guide/framework/winforms/controls/serializing-collections-designerserializationvisibilityattribute.md
  dotnet-desktop-guide/framework/winforms/controls/troubleshooting-control-and-component-authoring.md
  dotnet-desktop-guide/framework/winforms/controls/walkthrough-arranging-controls-on-windows-forms-using-snaplines.md
  dotnet-desktop-guide/framework/winforms/controls/walkthrough-authoring-a-composite-control-with-visual-csharp.md
  dotnet-desktop-guide/framework/winforms/controls/walkthrough-debugging-custom-windows-forms-controls-at-design-time.md
  dotnet-desktop-guide/framework/winforms/controls/walkthrough-inheriting-from-a-windows-forms-control-with-visual-csharp.md
  dotnet-desktop-guide/framework/winforms/controls/windows-forms-controls-padding-autosize.md
Labels: :books: Area - .NET Framework, :card_file_box: Technology - WinForms

#183 New article: Create new WPF project
  dotnet-desktop-guide/net/wpf/get-started/create-app-visual-studio.md
  dotnet-desktop-guide/net/wpf/get-started/media/create-app-visual-studio/app-default.png
  dotnet-desktop-guide/net/wpf/get-started/media/create-app-visual-studio/app-finished.png
  dotnet-desktop-guide/net/wpf/get-started/media/create-app-visual-studio/vs-config-new-project-next.png
  dotnet-desktop-guide/net/wpf/get-started/media/create-app-visual-studio/vs-config-new-project.png
  dotnet-desktop-guide/net/wpf/get-started/media/create-app-visual-studio/vs-create-new-project.png
  dotnet-desktop-guide/net/wpf/get-started/media/create-app-visual-studio/vs-designer-grid-rows-columns-label.png
  dotnet-desktop-guide/net/wpf/get-started/media/create-app-visual-studio/vs-designer-grid-rows-columns.png
  dotnet-desktop-guide/net/wpf/get-started/media/create-app-visual-studio/vs-main-window.pdn
  dotnet-desktop-guide/net/wpf/get-started/media/create-app-visual-studio/vs-main-window.png
  dotnet-desktop-guide/net/wpf/get-started/media/create-app-visual-studio/vs-template-search-cs.png
  dotnet-desktop-guide/net/wpf/get-started/media/create-app-visual-studio/vs-template-search-vb.png
  dotnet-desktop-guide/net/wpf/get-started/media/create-app-visual-studio/vs-template-search.png
  dotnet-desktop-guide/net/wpf/get-started/snippets/create-app-visual-studio/csharp/App.xaml
  dotnet-desktop-guide/net/wpf/get-started/snippets/create-app-visual-studio/csharp/App.xaml.cs
  dotnet-desktop-guide/net/wpf/get-started/snippets/create-app-visual-studio/csharp/AssemblyInfo.cs
  dotnet-desktop-guide/net/wpf/get-started/snippets/create-app-visual-studio/csharp/Final.xaml
  dotnet-desktop-guide/net/wpf/get-started/snippets/create-app-visual-studio/csharp/Final.xaml.cs
  dotnet-desktop-guide/net/wpf/get-started/snippets/create-app-visual-studio/csharp/LayoutStep1.xaml
  dotnet-desktop-guide/net/wpf/get-started/snippets/create-app-visual-studio/csharp/LayoutStep1.xaml.cs
  dotnet-desktop-guide/net/wpf/get-started/snippets/create-app-visual-studio/csharp/LayoutStep2.xaml
  dotnet-desktop-guide/net/wpf/get-started/snippets/create-app-visual-studio/csharp/LayoutStep2.xaml.cs
  dotnet-desktop-guide/net/wpf/get-started/snippets/create-app-visual-studio/csharp/LayoutStep3.xaml
  dotnet-desktop-guide/net/wpf/get-started/snippets/create-app-visual-studio/csharp/LayoutStep3.xaml.cs
  dotnet-desktop-guide/net/wpf/get-started/snippets/create-app-visual-studio/csharp/LayoutStep4.xaml
  dotnet-desktop-guide/net/wpf/get-started/snippets/create-app-visual-studio/csharp/LayoutStep4.xaml.cs
  dotnet-desktop-guide/net/wpf/get-started/snippets/create-app-visual-studio/csharp/MoreControls1.xaml
  dotnet-desktop-guide/net/wpf/get-started/snippets/create-app-visual-studio/csharp/MoreControls1.xaml.cs
  dotnet-desktop-guide/net/wpf/get-started/snippets/create-app-visual-studio/csharp/MoreControls2.xaml
  dotnet-desktop-guide/net/wpf/get-started/snippets/create-app-visual-studio/csharp/MoreControls2.xaml.cs
  dotnet-desktop-guide/net/wpf/get-started/snippets/create-app-visual-studio/csharp/MoreControls3.xaml
  dotnet-desktop-guide/net/wpf/get-started/snippets/create-app-visual-studio/csharp/MoreControls3.xaml.cs
  dotnet-desktop-guide/net/wpf/get-started/snippets/create-app-visual-studio/csharp/Names.csproj
  dotnet-desktop-guide/net/wpf/get-started/snippets/create-app-visual-studio/csharp/Start.xaml
  dotnet-desktop-guide/net/wpf/get-started/snippets/create-app-visual-studio/csharp/Start.xaml.cs
  dotnet-desktop-guide/net/wpf/get-started/snippets/create-app-visual-studio/vb/Application.xaml
  dotnet-desktop-guide/net/wpf/get-started/snippets/create-app-visual-studio/vb/Application.xaml.vb
  dotnet-desktop-guide/net/wpf/get-started/snippets/create-app-visual-studio/vb/AssemblyInfo.vb
  dotnet-desktop-guide/net/wpf/get-started/snippets/create-app-visual-studio/vb/Final.xaml
  dotnet-desktop-guide/net/wpf/get-started/snippets/create-app-visual-studio/vb/Final.xaml.vb
  dotnet-desktop-guide/net/wpf/get-started/snippets/create-app-visual-studio/vb/MoreControls3.xaml
  dotnet-desktop-guide/net/wpf/get-started/snippets/create-app-visual-studio/vb/MoreControls3.xaml.vb
  dotnet-desktop-guide/net/wpf/get-started/snippets/create-app-visual-studio/vb/Names.vbproj
  dotnet-desktop-guide/net/wpf/index.yml
Labels: :books: Area - .NET, :card_file_box: Technology - WPF

#186 Add differences article for WPF
  dotnet-desktop-guide/net/wpf/get-started/create-app-visual-studio.md
  dotnet-desktop-guide/net/wpf/migration/differences-from-net-framework.md
  dotnet-desktop-guide/net/wpf/migration/media/differences-from-net-framework/package-reference-migration.png
Labels: :books: Area - .NET, :card_file_box: Technology - WPF
