Repository dotnet/docs-desktop, pull requests merged in 2021-03, with the labels that each got.

#213 Minor typo fix
  dotnet-desktop-guide/net/wpf/fundamentals/xaml.md
Labels: :sparkles: 1st-time docs contributor!, dotnet-desktop/prod, dotnet-wpf/tech

#223 Update how-to-create-a-quadratic-bezier-curve.md
  dotnet-desktop-guide/framework/wpf/graphics-multimedia/how-to-create-a-quadratic-bezier-curve.md
Labels: dotnet-framework/prod, dotnet-wpf/tech

#220 Cleaned up how-to-create-a-cubic-bezier-curve.md
  dotnet-desktop-guide/framework/wpf/graphics-multimedia/how-to-create-a-cubic-bezier-curve.md
Labels: dotnet-framework/prod, dotnet-wpf/tech

#221 Update how-to-create-a-linesegment-in-a-pathgeometry.md
  dotnet-desktop-guide/framework/wpf/graphics-multimedia/how-to-create-a-linesegment-in-a-pathgeometry.md
Labels: dotnet-framework/prod, dotnet-wpf/tech

#222 Update how-to-create-an-elliptical-arc.md
  dotnet-desktop-guide/framework/wpf/graphics-multimedia/how-to-create-an-elliptical-arc.md
Labels: dotnet-framework/prod, dotnet-wpf/tech

#1017 extraneous double quote
  dotnet-desktop-guide/framework/wpf/advanced/walkthrough-hosting-a-wpf-composite-control-in-windows-forms.md
Labels: :sparkles: 1st-time docs contributor!, dotnet-framework/prod, dotnet-wpf/tech
