Repository dotnet/docs-desktop, pull requests merged in 2022-02, with the labels that each got.

#1295 Step 1 fixing publishing
  dotnet-desktop-guide/framework/winforms/controls/defining-default-values-with-the-shouldserialize-and-reset-methods.md
  dotnet-desktop-guide/framework/wpf/advanced/xaml-syntax-in-detail.md
Labels: dotnet-framework/prod, dotnet-wpf/tech, dotnet-winforms/tech

#1296 Fix publishing of bad article
  dotnet-desktop-guide/framework/winforms/controls/defining-default-values-with-the-shouldserialize-and-reset-methods.md
Labels: dotnet-framework/prod, dotnet-winforms/tech

#1292 Add type reference to article
  dotnet-desktop-guide/framework/wpf/controls/listview-overview.md
Labels: dotnet-framework/prod, dotnet-wpf/tech

#1294 Fix link that pointed to the wrong section
  dotnet-desktop-guide/net/wpf/data/index.md
Labels: dotnet-wpf/tech, dotnet-desktop/prod, okr-coverage

#1276 Updated titles and column headers for US-1889327
  dotnet-desktop-guide/framework/winforms/controls/walkthrough-creating-an-unbound-windows-forms-datagridview-control.md
  dotnet-desktop-guide/framework/winforms/data-binding-and-windows-forms.md
  dotnet-desktop-guide/framework/winforms/windows-forms-data-binding.md
  dotnet-desktop-guide/framework/wpf/advanced/binding-markup-extension.md
  dotnet-desktop-guide/framework/wpf/advanced/colorconvertedbitmap-markup-extension.md
Labels: dotnet-framework/prod, dotnet-wpf/tech, dotnet-winforms/tech

#1302 fixed creeping lint errors
  dotnet-desktop-guide/net/winforms/forms/how-to-add.md
  dotnet-desktop-guide/net/winforms/migration/index.md
  dotnet-desktop-guide/net/wpf/windows/dialog-boxes-overview.md
  dotnet-desktop-guide/net/wpf/windows/index.md
Labels: dotnet-wpf/tech, dotnet-winforms/tech, dotnet-desktop/prod

#1303 Update attached-properties-overview.md
  dotnet-desktop-guide/framework/wpf/advanced/attached-properties-overview.md
  dotnet-desktop-guide/net/wpf/properties/attached-properties-overview.md
Labels: dotnet-framework/prod, dotnet-wpf/tech, dotnet-desktop/prod

#1304 Update xaml-and-custom-classes-for-wpf.md
  dotnet-desktop-guide/framework/wpf/advanced/xaml-and-custom-classes-for-wpf.md
Labels: dotnet-framework/prod, dotnet-wpf/tech

#1289 Content update - How to create a custom routed event (user story 1878475)
  .openpublishing.redirection.json
  dotnet-desktop-guide/net/wpf/events/how-to-create-a-custom-routed-event.md
  dotnet-desktop-guide/net/wpf/events/snippets/how-to-create-a-custom-routed-event/WpfControlLibraryCsharp/CustomButton.cs
  dotnet-desktop-guide/net/wpf/events/snippets/how-to-create-a-custom-routed-event/WpfControlLibraryCsharp/WpfControlLibrary.csproj
  dotnet-desktop-guide/net/wpf/events/snippets/how-to-create-a-custom-routed-event/WpfControlLibraryVb/CustomButton.vb
  dotnet-desktop-guide/net/wpf/events/snippets/how-to-create-a-custom-routed-event/WpfControlLibraryVb/WpfControlLibraryVb.vbproj
  dotnet-desktop-guide/net/wpf/events/snippets/how-to-create-a-custom-routed-event/csharp/App.xaml.cs
  dotnet-desktop-guide/net/wpf/events/snippets/how-to-create-a-custom-routed-event/csharp/AssemblyInfo.cs
  dotnet-desktop-guide/net/wpf/events/snippets/how-to-create-a-custom-routed-event/csharp/CodeSample.csproj
  dotnet-desktop-guide/net/wpf/events/snippets/how-to-create-a-custom-routed-event/csharp/MainWindow.xaml
  dotnet-desktop-guide/net/wpf/events/snippets/how-to-create-a-custom-routed-event/csharp/MainWindow.xaml.cs
  dotnet-desktop-guide/net/wpf/events/snippets/how-to-create-a-custom-routed-event/csharp/Properties/Resources.Designer.cs
  dotnet-desktop-guide/net/wpf/events/snippets/how-to-create-a-custom-routed-event/csharp/Properties/Resources.resx
  dotnet-desktop-guide/net/wpf/events/snippets/how-to-create-a-custom-routed-event/csharp/WpfControlLibrary.dll
  dotnet-desktop-guide/net/wpf/events/snippets/how-to-create-a-custom-routed-event/csharp/app.xaml
  dotnet-desktop-guide/net/wpf/events/snippets/how-to-create-a-custom-routed-event/vb/Application.xaml
  dotnet-desktop-guide/net/wpf/events/snippets/how-to-create-a-custom-routed-event/vb/Application.xaml.vb
  dotnet-desktop-guide/net/wpf/events/snippets/how-to-create-a-custom-routed-event/vb/AssemblyInfo.vb
  dotnet-desktop-guide/net/wpf/events/snippets/how-to-create-a-custom-routed-event/vb/CodeSampleVb.vbproj
  dotnet-desktop-guide/net/wpf/events/snippets/how-to-create-a-custom-routed-event/vb/MainWindow.xaml
  dotnet-desktop-guide/net/wpf/events/snippets/how-to-create-a-custom-routed-event/vb/MainWindow.xaml.vb
  dotnet-desktop-guide/net/wpf/events/snippets/how-to-create-a-custom-routed-event/vb/WpfControlLibraryVb.dll
  dotnet-desktop-guide/net/wpf/toc.yml
  redirects_generator/definitions.json
Labels: dotnet-wpf/tech, dotnet-desktop/prod

#1308 Remove unused files for WPF snippets
  dotnet-desktop-guide/net/wpf/events/snippets/how-to-create-a-custom-routed-event/csharp/WpfControlLibrary.dll
  dotnet-desktop-guide/net/wpf/events/snippets/how-to-create-a-custom-routed-event/vb/WpfControlLibraryVb.dll
Labels: dotnet-wpf/tech, dotnet-desktop/prod

#1306 US 1889327: Suggestion/warning fixes.
  dotnet-desktop-guide/framework/wpf/advanced/componentresourcekey-markup-extension.md
  dotnet-desktop-guide/framework/wpf/advanced/documents-in-wpf.md
  dotnet-desktop-guide/framework/wpf/advanced/documents.md
  dotnet-desktop-guide/framework/wpf/advanced/dynamicresource-markup-extension.md
  dotnet-desktop-guide/framework/wpf/advanced/how-to-alter-the-typography-of-text.md
Labels: dotnet-framework/prod, dotnet-wpf/tech

#1312 Set watermark image to resource
  dotnet-desktop-guide/framework/wpf/getting-started/walkthrough-my-first-wpf-desktop-application.md
Labels: dotnet-framework/prod, dotnet-wpf/tech

#1314 US-1889327: Suggestion/warning fixes for WPF.
  dotnet-desktop-guide/framework/wpf/advanced/how-to-build-a-table-programmatically.md
  dotnet-desktop-guide/framework/wpf/advanced/how-to-change-the-flowdirection-of-content-programmatically.md
  dotnet-desktop-guide/framework/wpf/advanced/how-to-create-a-data-object.md
  dotnet-desktop-guide/framework/wpf/advanced/how-to-determine-if-a-data-format-is-present-in-a-data-object.md
  dotnet-desktop-guide/framework/wpf/advanced/how-to-flip-a-uielement-horizontally-or-vertically.md
  dotnet-desktop-guide/framework/wpf/advanced/how-to-list-the-data-formats-in-a-data-object.md
  dotnet-desktop-guide/framework/wpf/advanced/how-to-localize-an-application.md
  dotnet-desktop-guide/framework/wpf/advanced/how-to-manipulate-a-flowdocument-through-the-blocks-property.md
  dotnet-desktop-guide/framework/wpf/advanced/how-to-manipulate-flow-content-elements-through-the-blocks-property.md
  dotnet-desktop-guide/framework/wpf/advanced/how-to-manipulate-flow-content-elements-through-the-inlines-property.md
  dotnet-desktop-guide/framework/wpf/advanced/how-to-manipulate-table-columns-through-the-columns-property.md
  dotnet-desktop-guide/framework/wpf/advanced/how-to-manipulate-table-row-groups-through-the-rowgroups-property.md
  dotnet-desktop-guide/framework/wpf/advanced/how-to-retrieve-data-in-a-particular-data-format.md
  dotnet-desktop-guide/framework/wpf/advanced/how-to-rotate-ink.md
  dotnet-desktop-guide/framework/wpf/advanced/localization-attributes-and-comments.md
  dotnet-desktop-guide/framework/wpf/advanced/mc-ignorable-attribute.md
  dotnet-desktop-guide/framework/wpf/advanced/mc-processcontent-attribute.md
  dotnet-desktop-guide/framework/wpf/advanced/presentationoptions-freeze-attribute.md
  dotnet-desktop-guide/framework/wpf/advanced/relativesource-markupextension.md
  dotnet-desktop-guide/framework/wpf/advanced/savetohistory-function-wpf-unmanaged-api-reference.md
Labels: dotnet-framework/prod, dotnet-wpf/tech

#1317 Add missing accessibility keyboard shortcut for WinForms
  dotnet-desktop-guide/framework/winforms/controls/default-keyboard-and-mouse-handling-in-the-windows-forms-datagridview-control.md
Labels: dotnet-framework/prod, dotnet-winforms/tech

#1319 US-1889327: Header fixes
  dotnet-desktop-guide/framework/wpf/advanced/staticresource-markup-extension.md
  dotnet-desktop-guide/framework/wpf/advanced/templatebinding-markup-extension.md
  dotnet-desktop-guide/framework/wpf/advanced/themedictionary-markup-extension.md
  dotnet-desktop-guide/framework/wpf/advanced/typography-in-wpf.md
  dotnet-desktop-guide/framework/wpf/advanced/typography.md
  dotnet-desktop-guide/framework/wpf/advanced/xaml-syntax-in-detail.md
  dotnet-desktop-guide/framework/wpf/controls/adorners-overview.md
  dotnet-desktop-guide/framework/wpf/controls/change-selection-in-a-richtextbox-programmatically.md
  dotnet-desktop-guide/framework/wpf/controls/gridview-column-header-styles-and-templates-overview.md
  dotnet-desktop-guide/framework/wpf/controls/how-to-create-apply-template.md
  dotnet-desktop-guide/framework/wpf/controls/how-to-customize-the-thumb-size-on-a-scrollbar.md
  dotnet-desktop-guide/framework/wpf/controls/how-to-detect-when-text-in-a-textbox-has-changed.md
  dotnet-desktop-guide/framework/wpf/controls/how-to-extract-the-text-content-from-a-richtextbox.md
  dotnet-desktop-guide/framework/wpf/controls/how-to-position-a-custom-context-menu-in-a-richtextbox.md
  dotnet-desktop-guide/framework/wpf/controls/how-to-remove-all-adorners-from-an-element.md
  dotnet-desktop-guide/framework/wpf/controls/how-to-remove-an-adorner-from-an-element.md
  dotnet-desktop-guide/framework/wpf/controls/how-to-retrieve-a-text-selection.md
  dotnet-desktop-guide/framework/wpf/controls/how-to-save-load-and-print-richtextbox-content.md
  dotnet-desktop-guide/framework/wpf/controls/how-to-set-focus-in-a-textbox-control.md
  dotnet-desktop-guide/framework/wpf/controls/how-to-set-the-text-content-of-a-textbox-control.md
Labels: dotnet-framework/prod, dotnet-wpf/tech
