Repository dotnet/docs-desktop, pull requests merged in 2022-07, with the labels that each got.

#1413 [BrokenLinksH2] Fix path in link
  dotnet-desktop-guide/framework/winforms/advanced/com-interop-by-displaying-a-windows-form-shadow.md
  dotnet-desktop-guide/framework/winforms/advanced/how-to-support-com-interop-by-displaying-each-windows-form-on-its-own-thread.md
  dotnet-desktop-guide/framework/winforms/advanced/windows-forms-and-unmanaged-applications-overview.md
  dotnet-desktop-guide/framework/winforms/controls/accessing-unexposed-members-on-the-managed-html-document-object-model.md
  dotnet-desktop-guide/framework/winforms/controls/how-to-set-pictures-at-run-time-windows-forms.md
  dotnet-desktop-guide/framework/winforms/how-keyboard-input-works.md
  dotnet-desktop-guide/framework/winforms/security-in-windows-forms-overview.md
  dotnet-desktop-guide/net/winforms/input-keyboard/overview.md
  dotnet-desktop-guide/net/wpf/events/visual-basic-and-wpf-event-handling.md
  dotnet-desktop-guide/net/wpf/properties/framework-property-metadata.md
Labels: dotnet-framework/prod, dotnet-wpf/tech, dotnet-winforms/tech, dotnet-desktop/prod

#1418 Update high-dpi-support-in-windows-forms.md
  dotnet-desktop-guide/framework/winforms/high-dpi-support-in-windows-forms.md
Labels: dotnet-framework/prod, dotnet-winforms/tech

#1419 Validation: Fix missing descriptions
  dotnet-desktop-guide/framework/wpf/graphics-multimedia/how-to-skew-an-element.md
  dotnet-desktop-guide/framework/wpf/graphics-multimedia/how-to-specify-handoffbehavior-between-storyboard-animations.md
  dotnet-desktop-guide/framework/wpf/graphics-multimedia/how-to-specify-the-origin-of-a-transform-by-using-relative-values.md
  dotnet-desktop-guide/framework/wpf/graphics-multimedia/how-to-specify-whether-a-timeline-automatically-reverses.md
  dotnet-desktop-guide/framework/wpf/graphics-multimedia/how-to-test-point4d-structures-for-equality-and-inequality.md
  dotnet-desktop-guide/framework/wpf/graphics-multimedia/how-to-transform-a-brush.md
  dotnet-desktop-guide/framework/wpf/graphics-multimedia/how-to-transform-points-and-vectors.md
  dotnet-desktop-guide/framework/wpf/graphics-multimedia/how-to-transform-the-scale-of-a-3-d-model.md
  dotnet-desktop-guide/framework/wpf/graphics-multimedia/how-to-translate-an-element.md
  dotnet-desktop-guide/framework/wpf/graphics-multimedia/how-to-trigger-an-animation-when-a-property-value-changes.md
  dotnet-desktop-guide/framework/wpf/graphics-multimedia/how-to-trigger-media-playback-with-a-user-event.md
  dotnet-desktop-guide/framework/wpf/graphics-multimedia/how-to-use-a-bitmapimage.md
  dotnet-desktop-guide/framework/wpf/graphics-multimedia/how-to-use-a-cached-element-as-a-brush.md
  dotnet-desktop-guide/framework/wpf/graphics-multimedia/how-to-use-a-drawing-as-an-image-source.md
  dotnet-desktop-guide/framework/wpf/graphics-multimedia/how-to-use-a-matrixtransform-to-create-custom-transforms.md
  dotnet-desktop-guide/framework/wpf/graphics-multimedia/how-to-use-event-triggers-to-control-a-storyboard-after-it-starts.md
  dotnet-desktop-guide/framework/wpf/graphics-multimedia/how-to-use-system-colors-in-a-gradient.md
  dotnet-desktop-guide/framework/wpf/graphics-multimedia/how-to-use-transforms-on-a-mediaelement.md
  dotnet-desktop-guide/framework/wpf/graphics-multimedia/how-to-write-metadata-to-a-bitmap.md
  dotnet-desktop-guide/framework/wpf/graphics-multimedia/images.md
  dotnet-desktop-guide/framework/wpf/graphics-multimedia/imaging-how-to-topics.md
  dotnet-desktop-guide/framework/wpf/graphics-multimedia/imaging-overview.md
  dotnet-desktop-guide/framework/wpf/graphics-multimedia/key-frame-animation-how-to-topics.md
  dotnet-desktop-guide/framework/wpf/graphics-multimedia/key-frame-animations-overview.md
  dotnet-desktop-guide/framework/wpf/graphics-multimedia/maximize-wpf-3d-performance.md
  dotnet-desktop-guide/framework/wpf/graphics-multimedia/multimedia-overview.md
  dotnet-desktop-guide/framework/wpf/graphics-multimedia/opacity-masks-overview.md
  dotnet-desktop-guide/framework/wpf/graphics-multimedia/painting-with-images-drawings-and-visuals.md
  dotnet-desktop-guide/framework/wpf/graphics-multimedia/path-animation-how-to-topics.md
  dotnet-desktop-guide/framework/wpf/graphics-multimedia/path-animations-overview.md
Labels: dotnet-framework/prod, dotnet-wpf/tech

#1432 Fix lint errors
  dotnet-desktop-guide/framework/winforms/advanced/how-to-translate-image-colors.md
  dotnet-desktop-guide/framework/winforms/advanced/how-to-use-a-color-matrix-to-transform-a-single-color.md
  dotnet-desktop-guide/framework/winforms/advanced/using-transformations-to-scale-colors.md
Labels: dotnet-framework/prod, dotnet-winforms/tech

#1426 Validation: Added Unique Descriptions
  dotnet-desktop-guide/framework/winforms/advanced/graphics-overview-windows-forms.md
  dotnet-desktop-guide/framework/winforms/advanced/graphics-paths-in-gdi.md
  dotnet-desktop-guide/framework/winforms/advanced/help-systems-in-windows-forms-applications.md
  dotnet-desktop-guide/framework/winforms/advanced/how-to-add-data-to-the-clipboard.md
  dotnet-desktop-guide/framework/winforms/advanced/how-to-align-drawn-text.md
  dotnet-desktop-guide/framework/winforms/advanced/how-to-apply-gamma-correction-to-a-gradient.md
  dotnet-desktop-guide/framework/winforms/advanced/how-to-arrange-mdi-child-forms.md
  dotnet-desktop-guide/framework/winforms/advanced/how-to-capture-user-input-from-a-printdialog-at-run-time.md
  dotnet-desktop-guide/framework/winforms/advanced/how-to-change-the-value-of-a-setting-between-application-sessions.md
  dotnet-desktop-guide/framework/winforms/advanced/how-to-change-the-value-of-an-existing-setting-at-design-time.md
  dotnet-desktop-guide/framework/winforms/advanced/how-to-choose-the-printers-attached-to-user-computer-in-windows-forms.md
  dotnet-desktop-guide/framework/winforms/advanced/how-to-complete-windows-forms-print-jobs.md
  dotnet-desktop-guide/framework/winforms/advanced/how-to-construct-font-families-and-fonts.md
  dotnet-desktop-guide/framework/winforms/advanced/how-to-convert-a-bmp-image-to-a-png-image.md
  dotnet-desktop-guide/framework/winforms/advanced/how-to-copy-and-paste-an-elementhost-control-at-design-time.md
  dotnet-desktop-guide/framework/winforms/advanced/how-to-copy-pixels-for-reducing-flicker-in-windows-forms.md
  dotnet-desktop-guide/framework/winforms/advanced/how-to-create-a-linear-gradient.md
  dotnet-desktop-guide/framework/winforms/advanced/how-to-create-a-path-gradient.md
  dotnet-desktop-guide/framework/winforms/advanced/how-to-create-a-pen.md
  dotnet-desktop-guide/framework/winforms/advanced/how-to-create-a-private-font-collection.md
  dotnet-desktop-guide/framework/winforms/advanced/how-to-create-a-shaped-windows-form.md
  dotnet-desktop-guide/framework/winforms/advanced/how-to-create-a-solid-brush.md
  dotnet-desktop-guide/framework/winforms/advanced/how-to-create-application-settings.md
  dotnet-desktop-guide/framework/winforms/advanced/how-to-create-figures-from-lines-curves-and-shapes.md
  dotnet-desktop-guide/framework/winforms/advanced/how-to-create-standard-windows-forms-print-jobs.md
  dotnet-desktop-guide/framework/winforms/advanced/how-to-create-thumbnail-images.md
  dotnet-desktop-guide/framework/winforms/advanced/how-to-create-vertical-text.md
  dotnet-desktop-guide/framework/winforms/advanced/how-to-crop-and-scale-images.md
  dotnet-desktop-guide/framework/winforms/advanced/how-to-determine-the-active-mdi-child.md
  dotnet-desktop-guide/framework/winforms/advanced/how-to-determine-the-parameters-supported-by-an-encoder.md
Labels: dotnet-framework/prod, dotnet-winforms/tech

#1422 Validation: fix missing descriptions #2
  dotnet-desktop-guide/framework/wpf/advanced/application-startup-time.md
  dotnet-desktop-guide/framework/wpf/advanced/attached-events-overview.md
  dotnet-desktop-guide/framework/wpf/advanced/base-elements-how-to-topics.md
  dotnet-desktop-guide/framework/wpf/advanced/base-elements-overview.md
  dotnet-desktop-guide/framework/wpf/advanced/base-elements.md
  dotnet-desktop-guide/framework/wpf/advanced/bidirectional-features-in-wpf-overview.md
  dotnet-desktop-guide/framework/wpf/advanced/binding-markup-extension.md
Labels: dotnet-framework/prod, dotnet-wpf/tech

#1420 Validation: Duplicate alt text and duplicate description error fixes.
  dotnet-desktop-guide/framework/winforms/additional-security-considerations-in-windows-forms.md
  dotnet-desktop-guide/framework/winforms/adjusting-the-size-and-scale-of-windows-forms.md
  dotnet-desktop-guide/framework/winforms/advanced/about-gdi-managed-code.md
  dotnet-desktop-guide/framework/winforms/advanced/alpha-blending-lines-and-fills.md
  dotnet-desktop-guide/framework/winforms/advanced/antialiasing-with-lines-and-curves.md
  dotnet-desktop-guide/framework/winforms/advanced/application-settings-architecture.md
  dotnet-desktop-guide/framework/winforms/advanced/application-settings-attributes.md
  dotnet-desktop-guide/framework/winforms/advanced/application-settings-for-custom-controls.md
  dotnet-desktop-guide/framework/winforms/advanced/application-settings-for-windows-forms.md
  dotnet-desktop-guide/framework/winforms/advanced/bezier-splines-in-gdi.md
  dotnet-desktop-guide/framework/winforms/advanced/bi-directional-support-for-windows-forms-applications.md
  dotnet-desktop-guide/framework/winforms/advanced/brushes-and-filled-shapes-in-gdi.md
  dotnet-desktop-guide/framework/winforms/advanced/cardinal-splines-in-gdi.md
  dotnet-desktop-guide/framework/winforms/advanced/com-interop-by-displaying-a-windows-form-shadow.md
  dotnet-desktop-guide/framework/winforms/advanced/constructing-and-drawing-curves.md
  dotnet-desktop-guide/framework/winforms/advanced/constructing-and-drawing-paths.md
  dotnet-desktop-guide/framework/winforms/advanced/control-help-using-tooltips.md
  dotnet-desktop-guide/framework/winforms/advanced/coordinate-systems-and-transformations.md
  dotnet-desktop-guide/framework/winforms/advanced/cropping-and-scaling-images-in-gdi.md
  dotnet-desktop-guide/framework/winforms/advanced/display-of-asian-characters-with-the-imemode-property.md
  dotnet-desktop-guide/framework/winforms/advanced/double-buffered-graphics.md
  dotnet-desktop-guide/framework/winforms/advanced/drag-and-drop-operations-and-clipboard-support.md
  dotnet-desktop-guide/framework/winforms/advanced/drawing-positioning-and-cloning-images-in-gdi.md
  dotnet-desktop-guide/framework/winforms/advanced/effects-of-modifying-base-form-appearance.md
  dotnet-desktop-guide/framework/winforms/advanced/ellipses-and-arcs-in-gdi.md
  dotnet-desktop-guide/framework/winforms/advanced/global-and-local-transformations.md
Labels: dotnet-framework/prod, dotnet-winforms/tech

#1427 BULK VALIDATION description-missing
  dotnet-desktop-guide/framework/winforms/advanced/windows-forms-and-unmanaged-applications-overview.md
  dotnet-desktop-guide/framework/winforms/advanced/windows-forms-and-unmanaged-applications.md
  dotnet-desktop-guide/framework/winforms/advanced/windows-forms-print-support.md
  dotnet-desktop-guide/framework/winforms/advanced/windows-forms-visual-inheritance.md
  dotnet-desktop-guide/framework/winforms/advanced/working-with-images-bitmaps-icons-and-metafiles.md
  dotnet-desktop-guide/framework/winforms/change-notification-in-windows-forms-data-binding.md
  dotnet-desktop-guide/framework/winforms/clickonce-deployment-for-windows-forms.md
  dotnet-desktop-guide/framework/winforms/controls/access-objects-in-a-wf-datagridviewcomboboxcell-drop-down-list.md
  dotnet-desktop-guide/framework/winforms/controls/access-specific-items-in-a-wf-combobox-listbox-or-checkedlistbox.md
  dotnet-desktop-guide/framework/winforms/controls/accessing-frames-in-the-managed-html-document-object-model.md
  dotnet-desktop-guide/framework/winforms/controls/accessing-unexposed-members-on-the-managed-html-document-object-model.md
  dotnet-desktop-guide/framework/winforms/controls/add-and-remove-columns-in-the-datagrid-using-the-designer.md
  dotnet-desktop-guide/framework/winforms/controls/add-and-remove-items-with-wf-listview-control-using-the-designer.md
  dotnet-desktop-guide/framework/winforms/controls/add-and-remove-menu-items-with-wf-contextmenu-component.md
  dotnet-desktop-guide/framework/winforms/controls/add-and-remove-nodes-with-wf-treeview-control-using-the-designer.md
  dotnet-desktop-guide/framework/winforms/controls/add-custom-information-to-a-treeview-or-listview-control-wf.md
  dotnet-desktop-guide/framework/winforms/controls/add-tables-and-columns-to-wf-datagrid-control-using-the-designer.md
  dotnet-desktop-guide/framework/winforms/controls/add-tooltips-to-individual-cells-in-a-wf-datagridview-control.md
  dotnet-desktop-guide/framework/winforms/controls/app-icons-to-the-taskbar-with-wf-notifyicon.md
  dotnet-desktop-guide/framework/winforms/controls/attributes-in-windows-forms-controls.md
  dotnet-desktop-guide/framework/winforms/controls/autogenerate-columns-in-a-data-bound-wf-datagridview-control.md
  dotnet-desktop-guide/framework/winforms/controls/automatically-resize-cells-when-content-changes-in-the-datagrid.md
  dotnet-desktop-guide/framework/winforms/controls/autosize-behavior-in-the-tablelayoutpanel-control.md
  dotnet-desktop-guide/framework/winforms/controls/autosize-property-overview.md
  dotnet-desktop-guide/framework/winforms/controls/backgroundworker-component-overview.md
  dotnet-desktop-guide/framework/winforms/controls/backgroundworker-component.md
  dotnet-desktop-guide/framework/winforms/controls/basic-column-row-and-cell-features-wf-datagridview-control.md
  dotnet-desktop-guide/framework/winforms/controls/basic-formatting-and-styling-in-the-windows-forms-datagridview-control.md
  dotnet-desktop-guide/framework/winforms/controls/best-practices-for-scaling-the-windows-forms-datagridview-control.md
  dotnet-desktop-guide/framework/winforms/controls/best-practices-for-the-tablelayoutpanel-control.md
Labels: dotnet-framework/prod, dotnet-winforms/tech

#1428 [BULK] validation: missing-description
  dotnet-desktop-guide/framework/winforms/controls/group-controls-with-wf-panel-control-using-the-designer.md
  dotnet-desktop-guide/framework/winforms/controls/handle-errors-that-occur-during-data-entry-in-the-datagrid.md
  dotnet-desktop-guide/framework/winforms/controls/handling-errors-that-occur-during-data-entry-in-the-datagrid.md
  dotnet-desktop-guide/framework/winforms/controls/handling-user-input.md
  dotnet-desktop-guide/framework/winforms/controls/helpprovider-component-overview-windows-forms.md
  dotnet-desktop-guide/framework/winforms/controls/helpprovider-component-windows-forms.md
  dotnet-desktop-guide/framework/winforms/controls/hide-columns-in-the-datagrid-using-the-designer.md
  dotnet-desktop-guide/framework/winforms/controls/how-to-access-objects-bound-to-windows-forms-datagridview-rows.md
  dotnet-desktop-guide/framework/winforms/controls/how-to-access-the-html-source-in-the-managed-html-document-object-model.md
  dotnet-desktop-guide/framework/winforms/controls/how-to-access-the-managed-html-document-object-model.md
  dotnet-desktop-guide/framework/winforms/controls/how-to-add-a-control-to-a-tab-page-using-the-designer.md
  dotnet-desktop-guide/framework/winforms/controls/how-to-add-a-control-to-a-tab-page.md
  dotnet-desktop-guide/framework/winforms/controls/how-to-add-a-control-to-a-toolstripcontentpanel.md
  dotnet-desktop-guide/framework/winforms/controls/how-to-add-a-custom-place-to-a-file-dialog-box.md
  dotnet-desktop-guide/framework/winforms/controls/how-to-add-a-toolstripcontainer-to-a-form.md
  dotnet-desktop-guide/framework/winforms/controls/how-to-add-activex-controls-to-windows-forms.md
  dotnet-desktop-guide/framework/winforms/controls/how-to-add-and-remove-nodes-with-the-windows-forms-treeview-control.md
  dotnet-desktop-guide/framework/winforms/controls/how-to-add-buttons-to-a-toolbar-control-using-the-designer.md
  dotnet-desktop-guide/framework/winforms/controls/how-to-add-buttons-to-a-toolbar-control.md
  dotnet-desktop-guide/framework/winforms/controls/how-to-add-columns-to-the-windows-forms-listview-control-using-the-designer.md
  dotnet-desktop-guide/framework/winforms/controls/how-to-add-controls-without-a-user-interface-to-windows-forms.md
  dotnet-desktop-guide/framework/winforms/controls/how-to-add-enhancements-to-toolstripmenuitems.md
  dotnet-desktop-guide/framework/winforms/controls/how-to-add-items-to-windows-forms-domainupdown-controls-programmatically.md
  dotnet-desktop-guide/framework/winforms/controls/how-to-add-menu-items-to-a-contextmenustrip.md
  dotnet-desktop-guide/framework/winforms/controls/how-to-add-or-remove-imagelist-images-with-the-designer.md
  dotnet-desktop-guide/framework/winforms/controls/how-to-add-or-remove-images-with-the-windows-forms-imagelist-component.md
  dotnet-desktop-guide/framework/winforms/controls/how-to-add-panels-to-a-statusbar-control.md
  dotnet-desktop-guide/framework/winforms/controls/how-to-add-search-capabilities-to-a-listview-control.md
  dotnet-desktop-guide/framework/winforms/controls/how-to-add-tables-and-columns-to-the-windows-forms-datagrid-control.md
  dotnet-desktop-guide/framework/winforms/controls/how-to-add-toolstrip-items-dynamically.md
Labels: dotnet-framework/prod, dotnet-winforms/tech

#1429 Validation: Description missing error fixes.
  dotnet-desktop-guide/framework/winforms/advanced/how-to-load-and-display-metafiles.md
  dotnet-desktop-guide/framework/winforms/advanced/how-to-manually-manage-buffered-graphics.md
  dotnet-desktop-guide/framework/winforms/advanced/how-to-manually-render-buffered-graphics.md
  dotnet-desktop-guide/framework/winforms/advanced/how-to-obtain-font-metrics.md
  dotnet-desktop-guide/framework/winforms/advanced/how-to-perform-drag-and-drop-operations-between-applications.md
  dotnet-desktop-guide/framework/winforms/advanced/how-to-print-a-multi-page-text-file-in-windows-forms.md
  dotnet-desktop-guide/framework/winforms/advanced/how-to-print-graphics-in-windows-forms.md
  dotnet-desktop-guide/framework/winforms/advanced/how-to-provide-help-in-a-windows-application.md
  dotnet-desktop-guide/framework/winforms/advanced/how-to-render-images-with-gdi.md
  dotnet-desktop-guide/framework/winforms/advanced/how-to-retrieve-data-from-the-clipboard.md
  dotnet-desktop-guide/framework/winforms/advanced/how-to-rotate-colors.md
  dotnet-desktop-guide/framework/winforms/advanced/how-to-rotate-reflect-and-skew-images.md
  dotnet-desktop-guide/framework/winforms/advanced/how-to-send-data-to-the-active-mdi-child.md
  dotnet-desktop-guide/framework/winforms/advanced/how-to-set-pen-width-and-alignment.md
  dotnet-desktop-guide/framework/winforms/advanced/how-to-set-tab-stops-in-drawn-text.md
  dotnet-desktop-guide/framework/winforms/advanced/how-to-set-the-color-of-a-pen.md
  dotnet-desktop-guide/framework/winforms/advanced/how-to-shear-colors.md
  dotnet-desktop-guide/framework/winforms/advanced/how-to-support-com-interop-by-displaying-each-windows-form-on-its-own-thread.md
  dotnet-desktop-guide/framework/winforms/advanced/how-to-tile-a-shape-with-an-image.md
  dotnet-desktop-guide/framework/winforms/advanced/how-to-translate-image-colors.md
  dotnet-desktop-guide/framework/winforms/advanced/how-to-use-a-color-matrix-to-set-alpha-values-in-images.md
  dotnet-desktop-guide/framework/winforms/advanced/how-to-use-a-color-matrix-to-transform-a-single-color.md
  dotnet-desktop-guide/framework/winforms/advanced/how-to-use-a-color-remap-table.md
  dotnet-desktop-guide/framework/winforms/advanced/how-to-use-a-pen-to-draw-lines.md
  dotnet-desktop-guide/framework/winforms/advanced/how-to-use-antialiasing-with-text.md
  dotnet-desktop-guide/framework/winforms/advanced/how-to-use-compositing-mode-to-control-alpha-blending.md
  dotnet-desktop-guide/framework/winforms/advanced/how-to-use-hit-testing-with-a-region.md
  dotnet-desktop-guide/framework/winforms/advanced/how-to-use-interpolation-mode-to-control-image-quality-during-scaling.md
  dotnet-desktop-guide/framework/winforms/advanced/how-to-use-the-modifiers-and-generatemember-properties.md
  dotnet-desktop-guide/framework/winforms/advanced/how-to-validate-application-settings.md
Labels: dotnet-framework/prod, dotnet-winforms/tech

#1431 Validation: Added Unique Descriptions
  dotnet-desktop-guide/framework/winforms/advanced/how-to-display-pop-up-help.md
  dotnet-desktop-guide/framework/winforms/advanced/how-to-draw-a-custom-dashed-line.md
  dotnet-desktop-guide/framework/winforms/advanced/how-to-draw-a-filled-ellipse-on-a-windows-form.md
  dotnet-desktop-guide/framework/winforms/advanced/how-to-draw-a-line-filled-with-a-texture.md
  dotnet-desktop-guide/framework/winforms/advanced/how-to-draw-a-line-with-line-caps.md
  dotnet-desktop-guide/framework/winforms/advanced/how-to-draw-a-sequence-of-bezier-splines.md
  dotnet-desktop-guide/framework/winforms/advanced/how-to-draw-a-single-bezier-spline.md
  dotnet-desktop-guide/framework/winforms/advanced/how-to-draw-an-existing-bitmap-to-the-screen.md
  dotnet-desktop-guide/framework/winforms/advanced/how-to-draw-an-outlined-shape.md
  dotnet-desktop-guide/framework/winforms/advanced/how-to-draw-cardinal-splines.md
  dotnet-desktop-guide/framework/winforms/advanced/how-to-draw-opaque-and-semitransparent-lines.md
  dotnet-desktop-guide/framework/winforms/advanced/how-to-draw-text-at-a-specified-location.md
  dotnet-desktop-guide/framework/winforms/advanced/how-to-draw-text-on-a-windows-form.md
  dotnet-desktop-guide/framework/winforms/advanced/how-to-draw-text-with-gdi.md
  dotnet-desktop-guide/framework/winforms/advanced/how-to-draw-vertical-text-on-a-windows-form.md
  dotnet-desktop-guide/framework/winforms/advanced/how-to-draw-with-opaque-and-semitransparent-brushes.md
  dotnet-desktop-guide/framework/winforms/advanced/how-to-draw-wrapped-text-in-a-rectangle.md
  dotnet-desktop-guide/framework/winforms/advanced/how-to-enumerate-installed-fonts.md
  dotnet-desktop-guide/framework/winforms/advanced/how-to-extract-the-icon-associated-with-a-file-in-windows-forms.md
  dotnet-desktop-guide/framework/winforms/advanced/how-to-fill-a-shape-with-a-hatch-pattern.md
  dotnet-desktop-guide/framework/winforms/advanced/how-to-fill-a-shape-with-a-solid-color.md
  dotnet-desktop-guide/framework/winforms/advanced/how-to-fill-a-shape-with-an-image-texture.md
  dotnet-desktop-guide/framework/winforms/advanced/how-to-fill-open-figures.md
  dotnet-desktop-guide/framework/winforms/advanced/how-to-flatten-a-curved-path-into-a-line.md
  dotnet-desktop-guide/framework/winforms/advanced/how-to-improve-performance-by-avoiding-automatic-scaling.md
  dotnet-desktop-guide/framework/winforms/advanced/how-to-inherit-forms-using-the-inheritance-picker-dialog-box.md
  dotnet-desktop-guide/framework/winforms/advanced/how-to-inherit-windows-forms.md
  dotnet-desktop-guide/framework/winforms/advanced/how-to-join-lines.md
  dotnet-desktop-guide/framework/winforms/advanced/how-to-list-installed-decoders.md
  dotnet-desktop-guide/framework/winforms/advanced/how-to-list-installed-encoders.md
Labels: dotnet-framework/prod, dotnet-winforms/tech

#1434 Validation: Fix multiple issues
  dotnet-desktop-guide/framework/wpf/graphics-multimedia/how-to-convert-a-bitmapsource-to-an-indexed-pixel-format.md
  dotnet-desktop-guide/framework/wpf/graphics-multimedia/how-to-create-a-bitmap-from-a-visual.md
  dotnet-desktop-guide/framework/wpf/graphics-multimedia/how-to-create-a-combined-geometry.md
  dotnet-desktop-guide/framework/wpf/graphics-multimedia/how-to-create-a-composite-drawing.md
  dotnet-desktop-guide/framework/wpf/graphics-multimedia/how-to-create-a-composite-shape.md
  dotnet-desktop-guide/framework/wpf/graphics-multimedia/how-to-create-a-cubic-bezier-curve.md
  dotnet-desktop-guide/framework/wpf/graphics-multimedia/how-to-create-a-geometrydrawing.md
  dotnet-desktop-guide/framework/wpf/graphics-multimedia/how-to-create-a-line-using-a-linegeometry.md
  dotnet-desktop-guide/framework/wpf/graphics-multimedia/how-to-create-a-linesegment-in-a-pathgeometry.md
  dotnet-desktop-guide/framework/wpf/graphics-multimedia/how-to-create-a-new-bitmapsource.md
  dotnet-desktop-guide/framework/wpf/graphics-multimedia/how-to-create-a-quadratic-bezier-curve.md
  dotnet-desktop-guide/framework/wpf/graphics-multimedia/how-to-create-a-reflection.md
  dotnet-desktop-guide/framework/wpf/graphics-multimedia/how-to-create-a-shape-by-using-a-pathgeometry.md
  dotnet-desktop-guide/framework/wpf/graphics-multimedia/how-to-create-an-elliptical-arc.md
  dotnet-desktop-guide/framework/wpf/graphics-multimedia/how-to-create-different-tile-patterns-with-a-tilebrush.md
  dotnet-desktop-guide/framework/wpf/graphics-multimedia/how-to-create-multiple-subpaths-within-a-pathgeometry.md
  dotnet-desktop-guide/framework/wpf/graphics-multimedia/how-to-define-a-name-scope.md
  dotnet-desktop-guide/framework/wpf/graphics-multimedia/how-to-draw-a-closed-shape-by-using-the-polygon-element.md
  dotnet-desktop-guide/framework/wpf/graphics-multimedia/how-to-draw-a-line.md
  dotnet-desktop-guide/framework/wpf/graphics-multimedia/how-to-draw-a-polyline-by-using-the-polyline-element.md
  dotnet-desktop-guide/framework/wpf/graphics-multimedia/how-to-draw-a-rectangle.md
  dotnet-desktop-guide/framework/wpf/graphics-multimedia/how-to-draw-an-image-using-imagedrawing.md
  dotnet-desktop-guide/framework/wpf/graphics-multimedia/how-to-encode-a-visual-to-an-image-file.md
  dotnet-desktop-guide/framework/wpf/graphics-multimedia/how-to-encode-and-decode-a-jpeg-image.md
  dotnet-desktop-guide/framework/wpf/graphics-multimedia/how-to-enumerate-drawing-content-of-a-visual.md
  dotnet-desktop-guide/framework/wpf/graphics-multimedia/how-to-get-the-offset-of-a-visual.md
Labels: dotnet-framework/prod, dotnet-wpf/tech

#1435 Validation: fix missing descriptions #3
  dotnet-desktop-guide/framework/wpf/advanced/activate-function-wpf-unmanaged-api-reference.md
  dotnet-desktop-guide/framework/wpf/advanced/cleartype-overview.md
  dotnet-desktop-guide/framework/wpf/advanced/cleartype-registry-settings.md
  dotnet-desktop-guide/framework/wpf/advanced/code-behind-and-xaml-in-wpf.md
  dotnet-desktop-guide/framework/wpf/advanced/collecting-ink.md
  dotnet-desktop-guide/framework/wpf/advanced/collection-type-dependency-properties.md
  dotnet-desktop-guide/framework/wpf/advanced/colorconvertedbitmap-markup-extension.md
  dotnet-desktop-guide/framework/wpf/advanced/componentresourcekey-markup-extension.md
  dotnet-desktop-guide/framework/wpf/advanced/createidispatchstaforwarder-function-wpf-unmanaged-api-reference.md
Labels: dotnet-framework/prod, dotnet-wpf/tech

#1436 Validation: fix missing descriptions #4
  dotnet-desktop-guide/framework/wpf/advanced/creating-an-ink-input-control.md
  dotnet-desktop-guide/framework/wpf/advanced/custom-rendering-ink.md
  dotnet-desktop-guide/framework/wpf/advanced/data-and-data-objects.md
  dotnet-desktop-guide/framework/wpf/advanced/datetime-xaml-syntax.md
  dotnet-desktop-guide/framework/wpf/advanced/deactivate-function-wpf-unmanaged-api-reference.md
  dotnet-desktop-guide/framework/wpf/advanced/dependency-property-callbacks-and-validation.md
  dotnet-desktop-guide/framework/wpf/advanced/dependency-property-metadata.md
  dotnet-desktop-guide/framework/wpf/advanced/dependency-property-security.md
  dotnet-desktop-guide/framework/wpf/advanced/dependency-property-value-precedence.md
Labels: dotnet-framework/prod, dotnet-wpf/tech

#1438 Validation: Added Unique Descriptions
  dotnet-desktop-guide/framework/winforms/controls/how-to-align-a-control-to-the-edges-of-forms-at-design-time.md
  dotnet-desktop-guide/framework/winforms/controls/how-to-align-a-control-to-the-edges-of-forms.md
  dotnet-desktop-guide/framework/winforms/controls/how-to-align-and-stretch-a-control-in-a-tablelayoutpanel-control.md
  dotnet-desktop-guide/framework/winforms/controls/how-to-align-multiple-controls-on-windows-forms.md
  dotnet-desktop-guide/framework/winforms/controls/how-to-anchor-and-dock-child-controls-in-a-flowlayoutpanel-control.md
  dotnet-desktop-guide/framework/winforms/controls/how-to-anchor-and-dock-child-controls-in-a-tablelayoutpanel-control.md
  dotnet-desktop-guide/framework/winforms/controls/how-to-anchor-controls-on-windows-forms.md
  dotnet-desktop-guide/framework/winforms/controls/how-to-append-a-menustrip-to-an-mdi-parent-window-windows-forms.md
  dotnet-desktop-guide/framework/winforms/controls/how-to-apply-attributes-in-windows-forms-controls.md
  dotnet-desktop-guide/framework/winforms/controls/how-to-associate-a-contextmenustrip-with-a-control.md
  dotnet-desktop-guide/framework/winforms/controls/how-to-associate-a-shortcut-menu-with-a-windows-forms-notifyicon-component.md
  dotnet-desktop-guide/framework/winforms/controls/how-to-attach-a-shortcut-menu-to-a-treenode-using-the-designer.md
  dotnet-desktop-guide/framework/winforms/controls/how-to-attach-a-shortcut-menu-to-a-treeview-node.md
  dotnet-desktop-guide/framework/winforms/controls/how-to-author-composite-controls.md
  dotnet-desktop-guide/framework/winforms/controls/how-to-author-controls-for-windows-forms.md
  dotnet-desktop-guide/framework/winforms/controls/how-to-bind-a-windows-forms-control-to-a-factory-object.md
  dotnet-desktop-guide/framework/winforms/controls/how-to-bind-a-windows-forms-control-to-a-type-using-the-designer.md
  dotnet-desktop-guide/framework/winforms/controls/how-to-bind-a-windows-forms-control-to-a-type.md
  dotnet-desktop-guide/framework/winforms/controls/how-to-bind-data-to-the-maskedtextbox-control.md
  dotnet-desktop-guide/framework/winforms/controls/how-to-bind-the-windows-forms-datagrid-control-to-a-data-source.md
  dotnet-desktop-guide/framework/winforms/controls/how-to-bind-to-a-web-service-using-the-windows-forms-bindingsource.md
  dotnet-desktop-guide/framework/winforms/controls/how-to-bind-windows-forms-controls-to-dbnull-database-values.md
  dotnet-desktop-guide/framework/winforms/controls/how-to-change-monthcalendar-control-appearance.md
  dotnet-desktop-guide/framework/winforms/controls/how-to-change-styles-on-an-element-in-the-managed-html-document-object-model.md
  dotnet-desktop-guide/framework/winforms/controls/how-to-change-the-appearance-of-the-windows-forms-colordialog-component.md
  dotnet-desktop-guide/framework/winforms/controls/how-to-change-the-appearance-of-the-windows-forms-linklabel-control.md
  dotnet-desktop-guide/framework/winforms/controls/how-to-change-the-appearance-of-the-windows-forms-tabcontrol.md
  dotnet-desktop-guide/framework/winforms/controls/how-to-change-the-appearance-of-toolstrip-text-and-images-in-windows-forms.md
Labels: dotnet-framework/prod, dotnet-winforms/tech

#1440 Validation: Duplicate alt text and missing description error fixes.
  dotnet-desktop-guide/framework/winforms/advanced/how-to-use-a-pen-to-draw-rectangles.md
  dotnet-desktop-guide/framework/winforms/advanced/how-to-use-clipping-with-a-region.md
  dotnet-desktop-guide/framework/winforms/advanced/images-bitmaps-and-metafiles.md
  dotnet-desktop-guide/framework/winforms/advanced/index.md
  dotnet-desktop-guide/framework/winforms/advanced/integrating-user-help-in-windows-forms.md
  dotnet-desktop-guide/framework/winforms/advanced/international-fonts-in-windows-forms-and-controls.md
  dotnet-desktop-guide/framework/winforms/advanced/lines-curves-and-shapes.md
  dotnet-desktop-guide/framework/winforms/advanced/managing-the-state-of-a-graphics-object.md
  dotnet-desktop-guide/framework/winforms/advanced/metafiles-in-gdi.md
  dotnet-desktop-guide/framework/winforms/advanced/networking-in-windows-forms-applications.md
  dotnet-desktop-guide/framework/winforms/advanced/open-and-closed-curves-in-gdi.md
  dotnet-desktop-guide/framework/winforms/advanced/overview-of-graphics.md
  dotnet-desktop-guide/framework/winforms/advanced/pens-lines-and-rectangles-in-gdi.md
  dotnet-desktop-guide/framework/winforms/advanced/polygons-in-gdi.md
  dotnet-desktop-guide/framework/winforms/advanced/power-management-in-windows-forms.md
  dotnet-desktop-guide/framework/winforms/advanced/properties-on-windows-forms-controls-that-support-accessibility-guidelines.md
  dotnet-desktop-guide/framework/winforms/advanced/recoloring-images.md
  dotnet-desktop-guide/framework/winforms/advanced/regions-in-gdi.md
  dotnet-desktop-guide/framework/winforms/advanced/restricting-the-drawing-surface-in-gdi.md
  dotnet-desktop-guide/framework/winforms/advanced/structure-of-the-graphics-interface.md
  dotnet-desktop-guide/framework/winforms/advanced/system-information-and-windows-forms.md
  dotnet-desktop-guide/framework/winforms/advanced/three-categories-of-graphics-services.md
  dotnet-desktop-guide/framework/winforms/advanced/types-of-bitmaps.md
Labels: dotnet-framework/prod, dotnet-winforms/tech

#1442 Validation: Added Unique Descriptions
  dotnet-desktop-guide/framework/winforms/controls/how-to-change-the-delay-of-the-windows-forms-tooltip-component.md
  dotnet-desktop-guide/framework/winforms/controls/how-to-change-the-order-of-columns-in-the-windows-forms-datagridview-control.md
  dotnet-desktop-guide/framework/winforms/controls/how-to-change-the-spacing-and-alignment-of-toolstrip-items-in-windows-forms.md
  dotnet-desktop-guide/framework/winforms/controls/how-to-configure-contextmenustrip-check-margins-and-image-margins.md
  dotnet-desktop-guide/framework/winforms/controls/how-to-configure-menustrip-check-margins-and-image-margins.md
  dotnet-desktop-guide/framework/winforms/controls/how-to-control-the-insertion-point-in-a-windows-forms-textbox-control.md
  dotnet-desktop-guide/framework/winforms/controls/how-to-copy-toolstripmenuitems.md
  dotnet-desktop-guide/framework/winforms/controls/how-to-create-a-border-around-a-windows-forms-control-using-padding.md
  dotnet-desktop-guide/framework/winforms/controls/how-to-create-a-lookup-table-with-the-windows-forms-bindingsource-component.md
  dotnet-desktop-guide/framework/winforms/controls/how-to-create-a-professionally-styled-toolstrip-control.md
  dotnet-desktop-guide/framework/winforms/controls/how-to-create-a-resizable-windows-form-for-data-entry.md
  dotnet-desktop-guide/framework/winforms/controls/how-to-create-a-windows-explorer-style-interface-on-a-windows-form.md
  dotnet-desktop-guide/framework/winforms/controls/how-to-create-a-windows-forms-control-that-shows-progress.md
  dotnet-desktop-guide/framework/winforms/controls/how-to-create-access-keys-for-windows-forms-controls.md
  dotnet-desktop-guide/framework/winforms/controls/how-to-create-access-keys-with-windows-forms-label-controls.md
  dotnet-desktop-guide/framework/winforms/controls/how-to-create-an-html-document-viewer-in-a-windows-forms-application.md
  dotnet-desktop-guide/framework/winforms/controls/how-to-create-an-mdi-form-with-menu-merging-and-toolstrip-controls.md
  dotnet-desktop-guide/framework/winforms/controls/how-to-create-an-mdi-form-with-toolstrippanel-controls.md
  dotnet-desktop-guide/framework/winforms/controls/how-to-create-an-mdi-window-list-with-menustrip-windows-forms.md
  dotnet-desktop-guide/framework/winforms/controls/how-to-create-master-detail-lists-with-the-windows-forms-datagrid-control.md
  dotnet-desktop-guide/framework/winforms/controls/how-to-create-toggle-buttons-in-toolstrip-controls.md
  dotnet-desktop-guide/framework/winforms/controls/how-to-create-variable-sized-text-in-a-combobox-control.md
  dotnet-desktop-guide/framework/winforms/controls/how-to-custom-draw-a-toolstrip-control.md
  dotnet-desktop-guide/framework/winforms/controls/how-to-customize-colors-in-toolstrip-applications.md
  dotnet-desktop-guide/framework/winforms/controls/how-to-customize-data-formatting-in-the-windows-forms-datagridview-control.md
  dotnet-desktop-guide/framework/winforms/controls/how-to-customize-item-addition-with-the-windows-forms-bindingsource.md
  dotnet-desktop-guide/framework/winforms/controls/how-to-customize-sorting-in-the-windows-forms-datagridview-control.md
  dotnet-desktop-guide/framework/winforms/controls/how-to-define-an-icon-for-a-toolbar-button.md
  dotnet-desktop-guide/framework/winforms/controls/how-to-define-resize-and-positioning-behavior-in-a-split-window.md
Labels: dotnet-framework/prod, dotnet-winforms/tech

#1454 BULK VALIDATION description-missing
  dotnet-desktop-guide/framework/winforms/controls/how-to-manipulate-rows-in-the-windows-forms-datagridview-control.md
  dotnet-desktop-guide/framework/winforms/controls/how-to-modify-the-size-or-placement-of-a-picture-at-run-time-windows-forms.md
  dotnet-desktop-guide/framework/winforms/controls/how-to-move-a-toolstrip-out-of-a-toolstripcontainer-onto-a-form.md
  dotnet-desktop-guide/framework/winforms/controls/how-to-move-toolstripmenuitems.md
  dotnet-desktop-guide/framework/winforms/controls/how-to-navigate-data-with-the-windows-forms-bindingnavigator-control.md
  dotnet-desktop-guide/framework/winforms/controls/how-to-opt-out-of-file-dialog-box-automatic-upgrade.md
  dotnet-desktop-guide/framework/winforms/controls/how-to-play-a-beep-from-a-windows-form.md
  dotnet-desktop-guide/framework/winforms/controls/how-to-play-a-sound-embedded-in-a-resource-from-a-windows-form.md
  dotnet-desktop-guide/framework/winforms/controls/how-to-play-a-system-sound-from-a-windows-form.md
  dotnet-desktop-guide/framework/winforms/controls/how-to-position-a-toolstripitem-on-a-toolstrip.md
  dotnet-desktop-guide/framework/winforms/controls/how-to-print-with-a-webbrowser-control.md
  dotnet-desktop-guide/framework/winforms/controls/how-to-provide-a-toolbox-bitmap-for-a-control.md
  dotnet-desktop-guide/framework/winforms/controls/how-to-provide-standard-menu-items-to-a-form.md
  dotnet-desktop-guide/framework/winforms/controls/how-to-raise-change-notifications-using-the-bindingsource-resetitem-method.md
  dotnet-desktop-guide/framework/winforms/controls/how-to-reassign-existing-controls-to-a-different-parent.md
  dotnet-desktop-guide/framework/winforms/controls/how-to-remove-a-toolstripmenuitem-from-an-mdi-drop-down-menu-windows-forms.md
  dotnet-desktop-guide/framework/winforms/controls/how-to-remove-items-from-windows-forms-domainupdown-controls.md
  dotnet-desktop-guide/framework/winforms/controls/how-to-render-a-visual-style-element.md
  dotnet-desktop-guide/framework/winforms/controls/how-to-resize-controls-on-windows-forms.md
  dotnet-desktop-guide/framework/winforms/controls/how-to-respond-to-clicks-in-the-windows-forms-datagrid-control.md
  dotnet-desktop-guide/framework/winforms/controls/how-to-save-files-with-the-windows-forms-richtextbox-control.md
  dotnet-desktop-guide/framework/winforms/controls/how-to-select-a-range-of-dates-in-the-windows-forms-monthcalendar-control.md
  dotnet-desktop-guide/framework/winforms/controls/how-to-select-an-item-in-the-windows-forms-listview-control.md
  dotnet-desktop-guide/framework/winforms/controls/how-to-set-alternating-row-styles-for-the-windows-forms-datagridview-control.md
  dotnet-desktop-guide/framework/winforms/controls/how-to-set-and-return-dates-with-the-windows-forms-datetimepicker-control.md
  dotnet-desktop-guide/framework/winforms/controls/how-to-set-default-cell-styles-for-the-windows-forms-datagridview-control.md
  dotnet-desktop-guide/framework/winforms/controls/how-to-set-font-and-color-styles-in-the-windows-forms-datagridview-control.md
  dotnet-desktop-guide/framework/winforms/controls/how-to-set-font-attributes-for-the-windows-forms-richtextbox-control.md
  dotnet-desktop-guide/framework/winforms/controls/how-to-set-grid-options-for-all-windows-forms.md
  dotnet-desktop-guide/framework/winforms/controls/how-to-set-icons-for-the-windows-forms-treeview-control.md
Labels: dotnet-framework/prod, dotnet-winforms/tech

#1456 Validation: Fix multiple issues
  dotnet-desktop-guide/framework/wpf/data/attribute-xelement-dynamic-property.md
  dotnet-desktop-guide/framework/wpf/data/data-binding-how-to-topics.md
  dotnet-desktop-guide/framework/wpf/data/data-templating-overview.md
  dotnet-desktop-guide/framework/wpf/data/descendants-xelement-dynamic-property.md
  dotnet-desktop-guide/framework/wpf/data/element-xelement-dynamic-property.md
  dotnet-desktop-guide/framework/wpf/data/elements-xelement-dynamic-property.md
  dotnet-desktop-guide/framework/wpf/data/how-to-bind-the-properties-of-two-controls.md
  dotnet-desktop-guide/framework/wpf/data/how-to-bind-to-an-ado-net-data-source.md
  dotnet-desktop-guide/framework/wpf/data/how-to-bind-to-an-enumeration.md
  dotnet-desktop-guide/framework/wpf/data/how-to-bind-to-the-results-of-a-linq-query.md
  dotnet-desktop-guide/framework/wpf/data/how-to-bind-to-xdocument-xelement-or-linq-for-xml-query-results.md
  dotnet-desktop-guide/framework/wpf/data/how-to-bind-to-xml-data-using-an-xmldataprovider-and-xpath-queries.md
  dotnet-desktop-guide/framework/wpf/data/how-to-clear-bindings.md
  dotnet-desktop-guide/framework/wpf/data/how-to-convert-bound-data.md
  dotnet-desktop-guide/framework/wpf/data/how-to-filter-data-in-a-view.md
  dotnet-desktop-guide/framework/wpf/data/how-to-find-datatemplate-generated-elements.md
  dotnet-desktop-guide/framework/wpf/data/how-to-get-the-binding-object-from-a-bound-target-property.md
  dotnet-desktop-guide/framework/wpf/data/how-to-get-the-default-view-of-a-data-collection.md
  dotnet-desktop-guide/framework/wpf/data/how-to-implement-a-compositecollection.md
  dotnet-desktop-guide/framework/wpf/data/how-to-implement-prioritybinding.md
  dotnet-desktop-guide/framework/wpf/data/how-to-implement-validation-logic-on-custom-objects.md
  dotnet-desktop-guide/framework/wpf/data/how-to-navigate-through-the-objects-in-a-data-collectionview.md
  dotnet-desktop-guide/framework/wpf/data/how-to-produce-a-value-based-on-a-list-of-bound-items.md
  dotnet-desktop-guide/framework/wpf/data/how-to-set-up-notification-of-binding-updates.md
  dotnet-desktop-guide/framework/wpf/data/how-to-sort-data-in-a-view.md
  dotnet-desktop-guide/framework/wpf/data/how-to-specify-the-direction-of-the-binding.md
Labels: dotnet-framework/prod, dotnet-wpf/tech

#1457 Validation: Added Unique Descriptions
  dotnet-desktop-guide/framework/winforms/controls/toolstrip-technology-summary.md
  dotnet-desktop-guide/framework/winforms/controls/toolstripstatuslabel-control-overview.md
  dotnet-desktop-guide/framework/winforms/controls/toolstripstatuslabel-control.md
  dotnet-desktop-guide/framework/winforms/controls/tooltip-component-overview-windows-forms.md
  dotnet-desktop-guide/framework/winforms/controls/tooltip-component-windows-forms.md
  dotnet-desktop-guide/framework/winforms/controls/trackbar-control-overview-windows-forms.md
  dotnet-desktop-guide/framework/winforms/controls/trackbar-control-windows-forms.md
  dotnet-desktop-guide/framework/winforms/controls/treeview-control-overview-windows-forms.md
  dotnet-desktop-guide/framework/winforms/controls/treeview-control-windows-forms.md
  dotnet-desktop-guide/framework/winforms/controls/troubleshooting-control-and-component-authoring.md
  dotnet-desktop-guide/framework/winforms/controls/unbound-column-to-a-data-bound-datagridview.md
  dotnet-desktop-guide/framework/winforms/controls/use-the-row-template-to-customize-rows-in-the-datagrid.md
  dotnet-desktop-guide/framework/winforms/controls/user-drawn-controls.md
  dotnet-desktop-guide/framework/winforms/controls/using-the-designer-with-the-windows-forms-datagridview-control.md
  dotnet-desktop-guide/framework/winforms/controls/using-the-managed-html-document-object-model.md
  dotnet-desktop-guide/framework/winforms/controls/using-the-row-for-new-records-in-the-windows-forms-datagridview-control.md
  dotnet-desktop-guide/framework/winforms/controls/varieties-of-custom-controls.md
  dotnet-desktop-guide/framework/winforms/controls/view-errors-within-a-dataset-with-wf-errorprovider-component.md
  dotnet-desktop-guide/framework/winforms/controls/virtual-mode-in-the-windows-forms-datagridview-control.md
  dotnet-desktop-guide/framework/winforms/controls/virtual-mode-with-just-in-time-data-loading-in-the-datagrid.md
  dotnet-desktop-guide/framework/winforms/controls/walkthrough-arranging-controls-on-windows-forms-using-snaplines.md
  dotnet-desktop-guide/framework/winforms/controls/walkthrough-authoring-a-composite-control-with-visual-csharp.md
  dotnet-desktop-guide/framework/winforms/controls/walkthrough-automatically-populating-the-toolbox-with-custom-components.md
  dotnet-desktop-guide/framework/winforms/controls/walkthrough-creating-a-professionally-styled-toolstrip-control.md
  dotnet-desktop-guide/framework/winforms/controls/walkthrough-creating-an-mdi-form-with-menu-merging-and-toolstrip-controls.md
  dotnet-desktop-guide/framework/winforms/controls/walkthrough-debugging-custom-windows-forms-controls-at-design-time.md
  dotnet-desktop-guide/framework/winforms/controls/walkthrough-implementing-a-form-that-uses-a-background-operation.md
  dotnet-desktop-guide/framework/winforms/controls/walkthrough-inheriting-from-a-windows-forms-control-with-visual-csharp.md
  dotnet-desktop-guide/framework/winforms/controls/walkthrough-providing-standard-menu-items-to-a-form.md
  dotnet-desktop-guide/framework/winforms/controls/walkthrough-running-an-operation-in-the-background.md
Labels: dotnet-framework/prod, dotnet-winforms/tech

#1458 Validation: Fix missing descriptions
  dotnet-desktop-guide/framework/wpf/data/how-to-use-the-master-detail-pattern-with-hierarchical-data.md
  dotnet-desktop-guide/framework/wpf/data/how-to-use-the-master-detail-pattern-with-hierarchical-xml-data.md
  dotnet-desktop-guide/framework/wpf/data/how-to-use-xml-namespaces-in-data-binding.md
  dotnet-desktop-guide/framework/wpf/data/index.md
  dotnet-desktop-guide/framework/wpf/data/l2dbform-xaml-cs-source-code.md
  dotnet-desktop-guide/framework/wpf/data/l2dbform-xaml-source-code.md
  dotnet-desktop-guide/framework/wpf/data/linq-to-xml-data-binding-sample.md
  dotnet-desktop-guide/framework/wpf/data/linq-to-xml-dynamic-properties.md
  dotnet-desktop-guide/framework/wpf/data/value-xattribute-dynamic-property.md
  dotnet-desktop-guide/framework/wpf/data/value-xelement-dynamic-property.md
  dotnet-desktop-guide/framework/wpf/data/wpf-data-binding-with-linq-to-xml-overview.md
  dotnet-desktop-guide/framework/wpf/data/xml-xelement-dynamic-property.md
  dotnet-desktop-guide/framework/wpf/getting-started/community-feedback.md
  dotnet-desktop-guide/framework/wpf/getting-started/whats-new.md
  dotnet-desktop-guide/framework/wpf/graphics-multimedia/3-d-graphics-how-to-topics.md
  dotnet-desktop-guide/framework/wpf/graphics-multimedia/3-d-transformations-overview.md
  dotnet-desktop-guide/framework/wpf/graphics-multimedia/animate-a-3-d-rotation-quaternionanimationusingkeyframes.md
  dotnet-desktop-guide/framework/wpf/graphics-multimedia/animate-an-object-along-a-path-matrix-animation-with-offset.md
  dotnet-desktop-guide/framework/wpf/graphics-multimedia/animation-and-timing-how-to-topics.md
  dotnet-desktop-guide/framework/wpf/graphics-multimedia/animation-and-timing-system-overview.md
  dotnet-desktop-guide/framework/wpf/graphics-multimedia/animation-tips-and-tricks.md
  dotnet-desktop-guide/framework/wpf/graphics-multimedia/audio-and-video-how-to-topics.md
  dotnet-desktop-guide/framework/wpf/graphics-multimedia/bitmap-effects-overview.md
  dotnet-desktop-guide/framework/wpf/graphics-multimedia/bitmap-effects.md
  dotnet-desktop-guide/framework/wpf/graphics-multimedia/brush-transformation-overview.md
  dotnet-desktop-guide/framework/wpf/graphics-multimedia/brushes-how-to-topics.md
  dotnet-desktop-guide/framework/wpf/graphics-multimedia/brushes.md
  dotnet-desktop-guide/framework/wpf/graphics-multimedia/change-the-speed-of-a-clock.md
  dotnet-desktop-guide/framework/wpf/graphics-multimedia/clocks-how-to-topics.md
  dotnet-desktop-guide/framework/wpf/graphics-multimedia/custom-animations-overview.md
Labels: dotnet-framework/prod, dotnet-wpf/tech

#1453 Validation: Added Unique Descriptions
  dotnet-desktop-guide/framework/winforms/controls/soundplayer-class-overview.md
  dotnet-desktop-guide/framework/winforms/controls/soundplayer-class.md
  dotnet-desktop-guide/framework/winforms/controls/specify-default-values-for-new-rows-in-the-datagrid.md
  dotnet-desktop-guide/framework/winforms/controls/splitcontainer-control-overview-windows-forms.md
  dotnet-desktop-guide/framework/winforms/controls/splitcontainer-control-windows-forms.md
  dotnet-desktop-guide/framework/winforms/controls/splitter-control-overview-windows-forms.md
  dotnet-desktop-guide/framework/winforms/controls/splitter-control-windows-forms.md
  dotnet-desktop-guide/framework/winforms/controls/statusbar-control-overview-windows-forms.md
  dotnet-desktop-guide/framework/winforms/controls/statusbar-control-windows-forms.md
  dotnet-desktop-guide/framework/winforms/controls/statusstrip-control-overview.md
  dotnet-desktop-guide/framework/winforms/controls/statusstrip-control.md
  dotnet-desktop-guide/framework/winforms/controls/stretch-a-toolstriptextbox-to-fill-the-remaining-width-of-a-toolstrip-wf.md
  dotnet-desktop-guide/framework/winforms/controls/tabcontrol-control-overview-windows-forms.md
  dotnet-desktop-guide/framework/winforms/controls/tabcontrol-control-windows-forms.md
  dotnet-desktop-guide/framework/winforms/controls/tablelayoutpanel-control-overview.md
  dotnet-desktop-guide/framework/winforms/controls/tablelayoutpanel-control-windows-forms.md
  dotnet-desktop-guide/framework/winforms/controls/textbox-control-overview-windows-forms.md
  dotnet-desktop-guide/framework/winforms/controls/timer-component-overview-windows-forms.md
  dotnet-desktop-guide/framework/winforms/controls/timer-component-windows-forms.md
  dotnet-desktop-guide/framework/winforms/controls/toolbar-control-overview-windows-forms.md
  dotnet-desktop-guide/framework/winforms/controls/toolbar-control-windows-forms.md
  dotnet-desktop-guide/framework/winforms/controls/toolstrip-control-architecture.md
  dotnet-desktop-guide/framework/winforms/controls/toolstrip-control-overview-windows-forms.md
  dotnet-desktop-guide/framework/winforms/controls/toolstrip-control-windows-forms.md
  dotnet-desktop-guide/framework/winforms/controls/toolstripcontainer-control-overview.md
  dotnet-desktop-guide/framework/winforms/controls/toolstripcontainer-control.md
  dotnet-desktop-guide/framework/winforms/controls/toolstrippanel-control-overview.md
  dotnet-desktop-guide/framework/winforms/controls/toolstrippanel-control.md
  dotnet-desktop-guide/framework/winforms/controls/toolstripprogressbar-control-overview.md
  dotnet-desktop-guide/framework/winforms/controls/toolstripprogressbar-control.md
Labels: dotnet-framework/prod, dotnet-winforms/tech

#1459 Validation: fix missing descriptions #6
  dotnet-desktop-guide/framework/wpf/advanced/draw-text-using-glyphs.md
  dotnet-desktop-guide/framework/wpf/advanced/dynamicresource-markup-extension.md
  dotnet-desktop-guide/framework/wpf/advanced/element-tree-and-serialization-how-to-topics.md
  dotnet-desktop-guide/framework/wpf/advanced/element-tree-and-serialization.md
  dotnet-desktop-guide/framework/wpf/advanced/events-how-to-topics.md
  dotnet-desktop-guide/framework/wpf/advanced/events-wpf.md
  dotnet-desktop-guide/framework/wpf/advanced/flow-content-elements-how-to-topics.md
  dotnet-desktop-guide/framework/wpf/advanced/flow-content.md
  dotnet-desktop-guide/framework/wpf/advanced/flow-document-overview.md
  dotnet-desktop-guide/framework/wpf/advanced/fonts-how-to-topics.md
  dotnet-desktop-guide/framework/wpf/advanced/fonts-wpf.md
Labels: dotnet-framework/prod, dotnet-wpf/tech

#1450 Validation: fix missing descriptions #5
  dotnet-desktop-guide/framework/wpf/advanced/digital-ink-how-to-topics.md
  dotnet-desktop-guide/framework/wpf/advanced/digital-ink-overviews.md
  dotnet-desktop-guide/framework/wpf/advanced/digital-ink.md
  dotnet-desktop-guide/framework/wpf/advanced/disable-the-realtimestylus-for-wpf-applications.md
  dotnet-desktop-guide/framework/wpf/advanced/document-serialization-and-storage.md
  dotnet-desktop-guide/framework/wpf/advanced/documents-in-wpf.md
  dotnet-desktop-guide/framework/wpf/advanced/documents.md
  dotnet-desktop-guide/framework/wpf/advanced/drag-and-drop-how-to-topics.md
  dotnet-desktop-guide/framework/wpf/advanced/drag-and-drop.md
  dotnet-desktop-guide/framework/wpf/advanced/drawing-formatted-text.md
Labels: dotnet-framework/prod, dotnet-wpf/tech

#1460 Validation: Fix missing descriptions
  dotnet-desktop-guide/framework/wpf/controls/listview-styles-and-templates.md
  dotnet-desktop-guide/framework/wpf/controls/manipulate-columns-and-rows-by-using-columndefinitionscollections.md
  dotnet-desktop-guide/framework/wpf/controls/menu-overview.md
  dotnet-desktop-guide/framework/wpf/controls/menu.md
  dotnet-desktop-guide/framework/wpf/controls/navigationwindow-styles-and-templates.md
  dotnet-desktop-guide/framework/wpf/controls/panel-how-to-topics.md
  dotnet-desktop-guide/framework/wpf/controls/panel.md
  dotnet-desktop-guide/framework/wpf/controls/passwordbox-styles-and-templates.md
  dotnet-desktop-guide/framework/wpf/controls/passwordbox.md
  dotnet-desktop-guide/framework/wpf/controls/popup-how-to-topics.md
  dotnet-desktop-guide/framework/wpf/controls/popup-placement-behavior.md
  dotnet-desktop-guide/framework/wpf/controls/popup.md
  dotnet-desktop-guide/framework/wpf/controls/printdialog.md
  dotnet-desktop-guide/framework/wpf/controls/progressbar-styles-and-templates.md
  dotnet-desktop-guide/framework/wpf/controls/progressbar.md
  dotnet-desktop-guide/framework/wpf/controls/radiobutton-styles-and-templates.md
  dotnet-desktop-guide/framework/wpf/controls/radiobutton.md
  dotnet-desktop-guide/framework/wpf/controls/repeatbutton-styles-and-templates.md
  dotnet-desktop-guide/framework/wpf/controls/repeatbutton.md
  dotnet-desktop-guide/framework/wpf/controls/richtextbox-how-to-topics.md
  dotnet-desktop-guide/framework/wpf/controls/richtextbox.md
  dotnet-desktop-guide/framework/wpf/controls/scrollbar-styles-and-templates.md
  dotnet-desktop-guide/framework/wpf/controls/scrollbar.md
  dotnet-desktop-guide/framework/wpf/controls/scrollviewer-how-to-topics.md
  dotnet-desktop-guide/framework/wpf/controls/scrollviewer-styles-and-templates.md
  dotnet-desktop-guide/framework/wpf/controls/scrollviewer.md
  dotnet-desktop-guide/framework/wpf/controls/separator.md
  dotnet-desktop-guide/framework/wpf/controls/slider-styles-and-templates.md
  dotnet-desktop-guide/framework/wpf/controls/slider.md
Labels: dotnet-framework/prod, dotnet-wpf/tech

#1463 Validation: Added Unique Descriptions
  dotnet-desktop-guide/framework/wpf/advanced/handwriting-recognition.md
  dotnet-desktop-guide/framework/wpf/advanced/hosting-win32-content-in-wpf.md
  dotnet-desktop-guide/framework/wpf/advanced/how-to-add-an-owner-type-for-a-dependency-property.md
  dotnet-desktop-guide/framework/wpf/advanced/how-to-add-class-handling-for-a-routed-event.md
  dotnet-desktop-guide/framework/wpf/advanced/how-to-add-custom-data-to-ink-data.md
  dotnet-desktop-guide/framework/wpf/advanced/how-to-adjust-spacing-between-paragraphs.md
  dotnet-desktop-guide/framework/wpf/advanced/how-to-analyze-ink-with-analysis-hints.md
  dotnet-desktop-guide/framework/wpf/advanced/how-to-animate-the-size-of-a-frameworkelement.md
  dotnet-desktop-guide/framework/wpf/advanced/how-to-apply-a-focusvisualstyle-to-a-control.md
  dotnet-desktop-guide/framework/wpf/advanced/how-to-apply-animations-to-text.md
  dotnet-desktop-guide/framework/wpf/advanced/how-to-apply-transforms-to-text.md
  dotnet-desktop-guide/framework/wpf/advanced/how-to-change-the-color-of-an-element-using-focus-events.md
  dotnet-desktop-guide/framework/wpf/advanced/how-to-change-the-textwrapping-property-programmatically.md
  dotnet-desktop-guide/framework/wpf/advanced/how-to-clone-a-printer.md
  dotnet-desktop-guide/framework/wpf/advanced/how-to-create-a-custom-routed-event.md
  dotnet-desktop-guide/framework/wpf/advanced/how-to-create-a-rollover-effect-using-events.md
  dotnet-desktop-guide/framework/wpf/advanced/how-to-create-a-routedcommand.md
  dotnet-desktop-guide/framework/wpf/advanced/how-to-create-a-text-decoration.md
  dotnet-desktop-guide/framework/wpf/advanced/how-to-create-outlined-text.md
  dotnet-desktop-guide/framework/wpf/advanced/how-to-create-text-with-a-shadow.md
  dotnet-desktop-guide/framework/wpf/advanced/how-to-data-bind-to-an-inkcanvas.md
  dotnet-desktop-guide/framework/wpf/advanced/how-to-define-a-table-with-xaml.md
  dotnet-desktop-guide/framework/wpf/advanced/how-to-define-and-reference-a-resource.md
  dotnet-desktop-guide/framework/wpf/advanced/how-to-determine-whether-a-freezable-is-frozen.md
  dotnet-desktop-guide/framework/wpf/advanced/how-to-diagnose-problematic-print-job.md
  dotnet-desktop-guide/framework/wpf/advanced/how-to-discover-whether-a-print-job-can-be-printed-at-this-time-of-day.md
  dotnet-desktop-guide/framework/wpf/advanced/how-to-drag-and-drop-ink.md
  dotnet-desktop-guide/framework/wpf/advanced/how-to-draw-text-to-a-control-background.md
  dotnet-desktop-guide/framework/wpf/advanced/how-to-draw-text-to-a-visual.md
  dotnet-desktop-guide/framework/wpf/advanced/how-to-enable-a-command.md
Labels: dotnet-framework/prod, dotnet-wpf/tech

#1461 [Bulk] Validation - Missing descriptions
  dotnet-desktop-guide/framework/winforms/controls/walkthrough-updating-status-bar-information-at-run-time.md
  dotnet-desktop-guide/framework/winforms/controls/walkthrough-validating-data-in-the-windows-forms-datagridview-control.md
  dotnet-desktop-guide/framework/winforms/controls/walkthrough-working-with-the-maskedtextbox-control.md
  dotnet-desktop-guide/framework/winforms/controls/ways-to-select-a-windows-forms-button-control.md
  dotnet-desktop-guide/framework/winforms/controls/webbrowser-security.md
  dotnet-desktop-guide/framework/winforms/controls/windows-forms-control-development-basics.md
  dotnet-desktop-guide/framework/winforms/controls/windows-forms-controls-padding-autosize.md
  dotnet-desktop-guide/framework/winforms/controls/windows-forms-controls-used-to-list-options.md
  dotnet-desktop-guide/framework/winforms/data-sources-supported-by-windows-forms.md
  dotnet-desktop-guide/framework/winforms/dialog-boxes-in-windows-forms.md
  dotnet-desktop-guide/framework/winforms/drag-and-drop-functionality-in-windows-forms.md
  dotnet-desktop-guide/framework/winforms/ensure-the-selected-row-in-a-child-table-correct.md
  dotnet-desktop-guide/framework/winforms/event-handlers-overview-windows-forms.md
  dotnet-desktop-guide/framework/winforms/events-overview-windows-forms.md
  dotnet-desktop-guide/framework/winforms/how-keyboard-input-works.md
  dotnet-desktop-guide/framework/winforms/how-mouse-input-works-in-windows-forms.md
  dotnet-desktop-guide/framework/winforms/how-to-access-keyed-collections-in-windows-forms.md
  dotnet-desktop-guide/framework/winforms/how-to-apply-the-propertynamechanged-pattern.md
  dotnet-desktop-guide/framework/winforms/how-to-change-the-borders-of-windows-forms.md
  dotnet-desktop-guide/framework/winforms/how-to-create-a-bound-control-and-format-the-displayed-data.md
  dotnet-desktop-guide/framework/winforms/how-to-create-a-simple-bound-control-on-a-windows-form.md
  dotnet-desktop-guide/framework/winforms/how-to-determine-which-modifier-key-was-pressed.md
  dotnet-desktop-guide/framework/winforms/how-to-display-dialog-boxes-for-windows-forms.md
  dotnet-desktop-guide/framework/winforms/how-to-distinguish-between-clicks-and-double-clicks.md
  dotnet-desktop-guide/framework/winforms/how-to-handle-user-input-events-in-windows-forms-controls.md
  dotnet-desktop-guide/framework/winforms/how-to-implement-the-ilistsource-interface.md
  dotnet-desktop-guide/framework/winforms/how-to-implement-the-itypedlist-interface.md
  dotnet-desktop-guide/framework/winforms/how-to-modify-keyboard-input-to-a-standard-control.md
  dotnet-desktop-guide/framework/winforms/how-to-navigate-data-in-windows-forms.md
Labels: dotnet-framework/prod, dotnet-winforms/tech

#1465 Validation: Added Unique Descriptions
  dotnet-desktop-guide/framework/wpf/advanced/how-to-enable-text-trimming.md
  dotnet-desktop-guide/framework/wpf/advanced/how-to-enable-visual-styles-in-a-hybrid-application.md
  dotnet-desktop-guide/framework/wpf/advanced/how-to-enumerate-a-subset-of-print-queues.md
  dotnet-desktop-guide/framework/wpf/advanced/how-to-enumerate-system-fonts.md
  dotnet-desktop-guide/framework/wpf/advanced/how-to-erase-ink-on-a-custom-control.md
  dotnet-desktop-guide/framework/wpf/advanced/how-to-find-an-element-by-its-name.md
  dotnet-desktop-guide/framework/wpf/advanced/how-to-find-the-source-element-in-an-event-handler.md
  dotnet-desktop-guide/framework/wpf/advanced/how-to-get-print-system-object-properties-without-reflection.md
  dotnet-desktop-guide/framework/wpf/advanced/how-to-handle-a-loaded-event.md
  dotnet-desktop-guide/framework/wpf/advanced/how-to-handle-a-routed-event.md
  dotnet-desktop-guide/framework/wpf/advanced/how-to-handle-the-contextmenuopening-event.md
  dotnet-desktop-guide/framework/wpf/advanced/how-to-hook-up-a-command-to-a-control-with-command-support.md
  dotnet-desktop-guide/framework/wpf/advanced/how-to-hook-up-a-command-to-a-control-with-no-command-support.md
  dotnet-desktop-guide/framework/wpf/advanced/how-to-implement-icommandsource.md
  dotnet-desktop-guide/framework/wpf/advanced/how-to-insert-an-element-into-text-programmatically.md
  dotnet-desktop-guide/framework/wpf/advanced/how-to-invoke-a-print-dialog.md
  dotnet-desktop-guide/framework/wpf/advanced/how-to-make-a-freezable-read-only.md
  dotnet-desktop-guide/framework/wpf/advanced/how-to-make-a-uielement-transparent-or-semi-transparent.md
  dotnet-desktop-guide/framework/wpf/advanced/how-to-make-an-object-follow-the-mouse-pointer.md
  dotnet-desktop-guide/framework/wpf/advanced/how-to-obtain-a-writable-copy-of-a-read-only-freezable.md
  dotnet-desktop-guide/framework/wpf/advanced/how-to-open-a-file-that-is-dropped-on-a-richtextbox-control.md
  dotnet-desktop-guide/framework/wpf/advanced/how-to-override-metadata-for-a-dependency-property.md
  dotnet-desktop-guide/framework/wpf/advanced/how-to-override-the-logical-tree.md
  dotnet-desktop-guide/framework/wpf/advanced/how-to-programmatically-print-xps-files.md
  dotnet-desktop-guide/framework/wpf/advanced/how-to-recognize-application-gestures.md
  dotnet-desktop-guide/framework/wpf/advanced/how-to-register-an-attached-property.md
  dotnet-desktop-guide/framework/wpf/advanced/how-to-remotely-survey-the-status-of-printers.md
  dotnet-desktop-guide/framework/wpf/advanced/how-to-select-ink-from-a-custom-control.md
  dotnet-desktop-guide/framework/wpf/advanced/how-to-set-margins-of-elements-and-controls.md
  dotnet-desktop-guide/framework/wpf/advanced/how-to-specify-whether-a-hyperlink-is-underlined.md
Labels: dotnet-framework/prod, dotnet-wpf/tech

#1446 Validation: Duplicate alt text and missing description errors.
  dotnet-desktop-guide/framework/winforms/advanced/using-a-brush-to-fill-shapes.md
  dotnet-desktop-guide/framework/winforms/advanced/using-a-gradient-brush-to-fill-shapes.md
  dotnet-desktop-guide/framework/winforms/advanced/using-a-pen-to-draw-lines-and-shapes.md
  dotnet-desktop-guide/framework/winforms/advanced/using-double-buffering.md
  dotnet-desktop-guide/framework/winforms/advanced/using-fonts-and-text.md
  dotnet-desktop-guide/framework/winforms/advanced/using-graphics-containers.md
  dotnet-desktop-guide/framework/winforms/advanced/using-image-encoders-and-decoders-in-managed-gdi.md
  dotnet-desktop-guide/framework/winforms/advanced/using-managed-graphics-classes.md
  dotnet-desktop-guide/framework/winforms/advanced/using-nested-graphics-containers.md
  dotnet-desktop-guide/framework/winforms/advanced/using-regions.md
  dotnet-desktop-guide/framework/winforms/advanced/using-the-world-transformation.md
  dotnet-desktop-guide/framework/winforms/advanced/using-transformations-in-managed-gdi.md
  dotnet-desktop-guide/framework/winforms/advanced/using-transformations-to-scale-colors.md
  dotnet-desktop-guide/framework/winforms/advanced/using-wpf-controls.md
  dotnet-desktop-guide/framework/winforms/advanced/vector-graphics-overview.md
  dotnet-desktop-guide/framework/winforms/advanced/walkthrough-arranging-wpf-content-on-windows-forms-at-design-time.md
  dotnet-desktop-guide/framework/winforms/advanced/walkthrough-assigning-wpf-content-on-windows-forms-at-design-time.md
  dotnet-desktop-guide/framework/winforms/advanced/walkthrough-creating-an-accessible-windows-based-application.md
  dotnet-desktop-guide/framework/winforms/advanced/walkthrough-creating-new-wpf-content-on-windows-forms-at-design-time.md
  dotnet-desktop-guide/framework/winforms/advanced/walkthrough-demonstrating-visual-inheritance.md
  dotnet-desktop-guide/framework/winforms/advanced/walkthrough-styling-wpf-content.md
  dotnet-desktop-guide/framework/winforms/advanced/why-transformation-order-is-significant.md
  dotnet-desktop-guide/framework/winforms/advanced/windows-forms-accessibility.md
Labels: dotnet-framework/prod, dotnet-winforms/tech

#1451 [Bulk] Validation - Missing descriptions
  dotnet-desktop-guide/framework/winforms/controls/how-to-enable-tile-view-in-a-windows-forms-listview-control.md
  dotnet-desktop-guide/framework/winforms/controls/how-to-expose-properties-of-constituent-controls.md
  dotnet-desktop-guide/framework/winforms/controls/how-to-format-the-windows-forms-datagrid-control-using-the-designer.md
  dotnet-desktop-guide/framework/winforms/controls/how-to-format-the-windows-forms-datagrid-control.md
  dotnet-desktop-guide/framework/winforms/controls/how-to-freeze-columns-in-the-windows-forms-datagridview-control.md
  dotnet-desktop-guide/framework/winforms/controls/how-to-give-your-control-a-transparent-background.md
  dotnet-desktop-guide/framework/winforms/controls/how-to-group-items-in-a-windows-forms-listview-control-using-the-designer.md
  dotnet-desktop-guide/framework/winforms/controls/how-to-group-items-in-a-windows-forms-listview-control.md
  dotnet-desktop-guide/framework/winforms/controls/how-to-handle-errors-and-exceptions-that-occur-with-databinding.md
  dotnet-desktop-guide/framework/winforms/controls/how-to-handle-the-contextmenustrip-opening-event.md
  dotnet-desktop-guide/framework/winforms/controls/how-to-hide-column-headers-in-the-windows-forms-datagridview-control.md
  dotnet-desktop-guide/framework/winforms/controls/how-to-hide-toolstripmenuitems-using-the-designer.md
  dotnet-desktop-guide/framework/winforms/controls/how-to-hide-toolstripmenuitems.md
  dotnet-desktop-guide/framework/winforms/controls/how-to-implement-a-custom-layout-engine.md
  dotnet-desktop-guide/framework/winforms/controls/how-to-implement-a-custom-toolstriprenderer.md
  dotnet-desktop-guide/framework/winforms/controls/how-to-implement-virtual-mode-in-the-windows-forms-datagridview-control.md
  dotnet-desktop-guide/framework/winforms/controls/how-to-inherit-from-existing-windows-forms-controls.md
  dotnet-desktop-guide/framework/winforms/controls/how-to-inherit-from-the-control-class.md
  dotnet-desktop-guide/framework/winforms/controls/how-to-inherit-from-the-usercontrol-class.md
  dotnet-desktop-guide/framework/winforms/controls/how-to-insert-a-menustrip-into-an-mdi-drop-down-menu-windows-forms.md
  dotnet-desktop-guide/framework/winforms/controls/how-to-join-toolstrippanels.md
  dotnet-desktop-guide/framework/winforms/controls/how-to-load-a-sound-asynchronously-within-a-windows-form.md
  dotnet-desktop-guide/framework/winforms/controls/how-to-load-files-into-the-windows-forms-richtextbox-control.md
  dotnet-desktop-guide/framework/winforms/controls/how-to-lock-controls-to-windows-forms.md
  dotnet-desktop-guide/framework/winforms/controls/how-to-loop-a-sound-playing-on-a-windows-form.md
  dotnet-desktop-guide/framework/winforms/controls/how-to-make-columns-read-only-in-the-windows-forms-datagridview-control.md
  dotnet-desktop-guide/framework/winforms/controls/how-to-make-your-control-invisible-at-run-time.md
  dotnet-desktop-guide/framework/winforms/controls/how-to-manage-toolstrip-overflow-in-windows-forms.md
  dotnet-desktop-guide/framework/winforms/controls/how-to-manipulate-bands-in-the-windows-forms-datagridview-control.md
  dotnet-desktop-guide/framework/winforms/controls/how-to-manipulate-columns-in-the-windows-forms-datagridview-control.md
Labels: dotnet-framework/prod, dotnet-winforms/tech

#1445 BULK VALIDATION description-missing
  dotnet-desktop-guide/framework/winforms/controls/designate-a-wf-button-as-the-cancel-button-using-the-designer.md
  dotnet-desktop-guide/framework/winforms/controls/determine-when-formatting-attributes-change-wf-richtextbox-control.md
  dotnet-desktop-guide/framework/winforms/controls/determine-which-panel-wf-statusbar-control-was-clicked.md
  dotnet-desktop-guide/framework/winforms/controls/developing-a-composite-windows-forms-control.md
  dotnet-desktop-guide/framework/winforms/controls/developing-windows-forms-controls-at-design-time.md
  dotnet-desktop-guide/framework/winforms/controls/dialog-box-controls-and-components-windows-forms.md
  dotnet-desktop-guide/framework/winforms/controls/disable-buttons-in-a-button-column-in-the-datagrid.md
  dotnet-desktop-guide/framework/winforms/controls/display-a-web-page-from-a-wf-linklabel-control-visual-basic.md
  dotnet-desktop-guide/framework/winforms/controls/display-error-icons-for-form-validation-with-wf-errorprovider.md
  dotnet-desktop-guide/framework/winforms/controls/display-more-than-one-month-wf-monthcalendar-control.md
  dotnet-desktop-guide/framework/winforms/controls/display-specific-days-in-bold-with-wf-monthcalendar-control.md
  dotnet-desktop-guide/framework/winforms/controls/domainupdown-control-overview-windows-forms.md
  dotnet-desktop-guide/framework/winforms/controls/domainupdown-control-windows-forms.md
  dotnet-desktop-guide/framework/winforms/controls/enable-column-reordering-in-the-datagrid-using-the-designer.md
  dotnet-desktop-guide/framework/winforms/controls/enable-drag-and-drop-operations-with-wf-richtextbox-control.md
  dotnet-desktop-guide/framework/winforms/controls/enable-tile-view-in-a-wf-listview-control-using-the-designer.md
  dotnet-desktop-guide/framework/winforms/controls/enable-users-to-copy-multiple-cells-to-the-clipboard-datagridview.md
  dotnet-desktop-guide/framework/winforms/controls/errorprovider-component-overview-windows-forms.md
  dotnet-desktop-guide/framework/winforms/controls/errorprovider-component-windows-forms.md
  dotnet-desktop-guide/framework/winforms/controls/events-in-windows-forms-controls.md
  dotnet-desktop-guide/framework/winforms/controls/filedialog-class.md
  dotnet-desktop-guide/framework/winforms/controls/flowlayoutpanel-control-overview.md
  dotnet-desktop-guide/framework/winforms/controls/flowlayoutpanel-control-windows-forms.md
  dotnet-desktop-guide/framework/winforms/controls/folderbrowserdialog-component-overview-windows-forms.md
  dotnet-desktop-guide/framework/winforms/controls/folderbrowserdialog-component-windows-forms.md
  dotnet-desktop-guide/framework/winforms/controls/fontdialog-component-overview-windows-forms.md
  dotnet-desktop-guide/framework/winforms/controls/fontdialog-component-windows-forms.md
  dotnet-desktop-guide/framework/winforms/controls/freeze-columns-in-the-datagrid-using-the-designer.md
  dotnet-desktop-guide/framework/winforms/controls/groupbox-control-overview-windows-forms.md
  dotnet-desktop-guide/framework/winforms/controls/groupbox-control-windows-forms.md
Labels: dotnet-framework/prod, dotnet-winforms/tech
