Repository dotnet/docs-desktop, pull requests merged in 2022-04, with the labels that each got.

#1350 Content update - Property changed events (user story 1878475)
  .openpublishing.redirection.json
  dotnet-desktop-guide/net/wpf/events/property-change-events.md
  dotnet-desktop-guide/net/wpf/toc.yml
  redirects_generator/definitions.json
Labels: dotnet-wpf/tech, dotnet-desktop/prod

#1359 Remove trailing white space from code sample
  dotnet-desktop-guide/framework/wpf/advanced/styling-for-focus-in-controls-and-focusvisualstyle.md
Labels: dotnet-framework/prod, dotnet-wpf/tech

#1355 New article - US1888233-Printing-Overview
  .openpublishing.redirection.json
  dotnet-desktop-guide/net/winforms/printing/overview.md
  dotnet-desktop-guide/net/winforms/printing/snippets/overview/csharp/Form1.Designer.cs
  dotnet-desktop-guide/net/winforms/printing/snippets/overview/csharp/Form1.cs
  dotnet-desktop-guide/net/winforms/printing/snippets/overview/csharp/Form1.resx
  dotnet-desktop-guide/net/winforms/printing/snippets/overview/csharp/Program.cs
  dotnet-desktop-guide/net/winforms/printing/snippets/overview/csharp/Sample_Print_Application.csproj
  dotnet-desktop-guide/net/winforms/printing/snippets/overview/vb/ApplicationEvents.vb
  dotnet-desktop-guide/net/winforms/printing/snippets/overview/vb/Form1.Designer.vb
  dotnet-desktop-guide/net/winforms/printing/snippets/overview/vb/Form1.resx
  dotnet-desktop-guide/net/winforms/printing/snippets/overview/vb/Form1.vb
  dotnet-desktop-guide/net/winforms/printing/snippets/overview/vb/My Project/Application.Designer.vb
  dotnet-desktop-guide/net/winforms/printing/snippets/overview/vb/My Project/Application.myapp
  dotnet-desktop-guide/net/winforms/printing/snippets/overview/vb/SamplePrintApp.vbproj
  dotnet-desktop-guide/net/winforms/toc.yml
  redirects_generator/definitions.json
Labels: dotnet-winforms/tech, dotnet-desktop/prod
