Repository dotnet/docs-desktop, pull requests merged in 2022-01, with the labels that each got.

#1254 Content update - Safe constructor patterns for DependencyObjects (user story 1878471)
  .openpublishing.redirection.json
  dotnet-desktop-guide/net/wpf/properties/safe-constructor-patterns-for-dependencyobjects.md
  dotnet-desktop-guide/net/wpf/properties/snippets/safe-constructor-patterns-for-dependencyobjects/csharp/App.xaml.cs
  dotnet-desktop-guide/net/wpf/properties/snippets/safe-constructor-patterns-for-dependencyobjects/csharp/AssemblyInfo.cs
  dotnet-desktop-guide/net/wpf/properties/snippets/safe-constructor-patterns-for-dependencyobjects/csharp/CodeSampleCsharp.csproj
  dotnet-desktop-guide/net/wpf/properties/snippets/safe-constructor-patterns-for-dependencyobjects/csharp/MainWindow.xaml
  dotnet-desktop-guide/net/wpf/properties/snippets/safe-constructor-patterns-for-dependencyobjects/csharp/MainWindow.xaml.cs
  dotnet-desktop-guide/net/wpf/properties/snippets/safe-constructor-patterns-for-dependencyobjects/csharp/Properties/Resources.Designer.cs
  dotnet-desktop-guide/net/wpf/properties/snippets/safe-constructor-patterns-for-dependencyobjects/csharp/Properties/Resources.resx
  dotnet-desktop-guide/net/wpf/properties/snippets/safe-constructor-patterns-for-dependencyobjects/csharp/app.xaml
  dotnet-desktop-guide/net/wpf/properties/snippets/safe-constructor-patterns-for-dependencyobjects/vb/Application.xaml
  dotnet-desktop-guide/net/wpf/properties/snippets/safe-constructor-patterns-for-dependencyobjects/vb/Application.xaml.vb
  dotnet-desktop-guide/net/wpf/properties/snippets/safe-constructor-patterns-for-dependencyobjects/vb/AssemblyInfo.vb
  dotnet-desktop-guide/net/wpf/properties/snippets/safe-constructor-patterns-for-dependencyobjects/vb/CodeSampleVb.vbproj
  dotnet-desktop-guide/net/wpf/properties/snippets/safe-constructor-patterns-for-dependencyobjects/vb/MainWindow.xaml
  dotnet-desktop-guide/net/wpf/properties/snippets/safe-constructor-patterns-for-dependencyobjects/vb/MainWindow.xaml.vb
  dotnet-desktop-guide/net/wpf/toc.yml
  redirects_generator/definitions.json
Labels: dotnet-wpf/tech, dotnet-desktop/prod

#1261 Content update - Property value inheritance (user story 1878471)
  .openpublishing.redirection.json
  dotnet-desktop-guide/net/wpf/properties/property-value-inheritance.md
  dotnet-desktop-guide/net/wpf/properties/snippets/property-value-inheritance/csharp/App.xaml.cs
  dotnet-desktop-guide/net/wpf/properties/snippets/property-value-inheritance/csharp/AssemblyInfo.cs
  dotnet-desktop-guide/net/wpf/properties/snippets/property-value-inheritance/csharp/CodeSampleCsharp.csproj
  dotnet-desktop-guide/net/wpf/properties/snippets/property-value-inheritance/csharp/MainWindow.xaml
  dotnet-desktop-guide/net/wpf/properties/snippets/property-value-inheritance/csharp/MainWindow.xaml.cs
  dotnet-desktop-guide/net/wpf/properties/snippets/property-value-inheritance/csharp/Properties/Resources.Designer.cs
  dotnet-desktop-guide/net/wpf/properties/snippets/property-value-inheritance/csharp/Properties/Resources.resx
  dotnet-desktop-guide/net/wpf/properties/snippets/property-value-inheritance/csharp/app.xaml
  dotnet-desktop-guide/net/wpf/properties/snippets/property-value-inheritance/vb/Application.xaml
  dotnet-desktop-guide/net/wpf/properties/snippets/property-value-inheritance/vb/Application.xaml.vb
  dotnet-desktop-guide/net/wpf/properties/snippets/property-value-inheritance/vb/AssemblyInfo.vb
  dotnet-desktop-guide/net/wpf/properties/snippets/property-value-inheritance/vb/CodeSampleVb.vbproj
  dotnet-desktop-guide/net/wpf/properties/snippets/property-value-inheritance/vb/MainWindow.xaml
  dotnet-desktop-guide/net/wpf/properties/snippets/property-value-inheritance/vb/MainWindow.xaml.vb
  dotnet-desktop-guide/net/wpf/toc.yml
  redirects_generator/definitions.json
Labels: dotnet-wpf/tech, dotnet-desktop/prod

#1266 Fix metadata blank lines
  dotnet-desktop-guide/framework/winforms/controls/how-to-create-an-unbound-windows-forms-datagridview-control.md
  dotnet-desktop-guide/framework/winforms/controls/walkthrough-creating-an-unbound-windows-forms-datagridview-control.md
  dotnet-desktop-guide/framework/wpf/advanced/how-to-alter-the-typography-of-text.md
Labels: dotnet-framework/prod, dotnet-wpf/tech, dotnet-winforms/tech

#1265 US-1889327: Fixed suggestions to matrix-representation-of-transformations.md and types-of-coordinate-systems.md file
  dotnet-desktop-guide/framework/winforms/advanced/matrix-representation-of-transformations.md
  dotnet-desktop-guide/framework/winforms/advanced/types-of-coordinate-systems.md
Labels: dotnet-framework/prod, dotnet-winforms/tech

#1270 Fixed duplicate titles for US-1889327
  dotnet-desktop-guide/framework/winforms/controls/how-to-create-an-unbound-windows-forms-datagridview-control.md
  dotnet-desktop-guide/framework/winforms/controls/run-procedures-at-set-intervals-with-wf-timer-component.md
Labels: dotnet-framework/prod, dotnet-winforms/tech

#1271 Update property-animation-techniques-overview.md
  dotnet-desktop-guide/framework/wpf/graphics-multimedia/property-animation-techniques-overview.md
Labels: :sparkles: 1st-time docs contributor!, dotnet-framework/prod, dotnet-wpf/tech

#1277 Add removed xaml example
  dotnet-desktop-guide/framework/wpf/advanced/attached-properties-overview.md
Labels: dotnet-framework/prod, dotnet-wpf/tech

#1281 Fix published WPF article that doesn't match source
  dotnet-desktop-guide/framework/wpf/advanced/xaml-syntax-in-detail.md
Labels: dotnet-framework/prod, dotnet-wpf/tech

#1280 Upgrade framework winforms-outlook article
  dotnet-desktop-guide/framework/winforms/controls/how-to-create-a-multipane-user-interface-with-windows-forms.md
  dotnet-desktop-guide/framework/winforms/controls/media/how-to-create-a-multipane-user-interface-with-windows-forms/form.png
  dotnet-desktop-guide/framework/winforms/controls/snippets/how-to-create-a-multipane-user-interface-with-windows-forms/Form1.Designer.cs
  dotnet-desktop-guide/framework/winforms/controls/snippets/how-to-create-a-multipane-user-interface-with-windows-forms/Form1.cs
  dotnet-desktop-guide/framework/winforms/controls/snippets/how-to-create-a-multipane-user-interface-with-windows-forms/Form1.resx
  dotnet-desktop-guide/framework/winforms/controls/snippets/how-to-create-a-multipane-user-interface-with-windows-forms/Program.cs
  dotnet-desktop-guide/framework/winforms/controls/snippets/how-to-create-a-multipane-user-interface-with-windows-forms/project.csproj
  dotnet-desktop-guide/framework/winforms/controls/snippets/how-to-create-a-multipane-user-interface-with-windows-forms/readme.txt
Labels: dotnet-framework/prod, dotnet-winforms/tech

#1279 Widen framework WPF xaml snippet reference
  dotnet-desktop-guide/framework/wpf/controls/manipulate-columns-and-rows-by-using-columndefinitionscollections.md
  dotnet-desktop-guide/framework/wpf/controls/snippets/manipulate-columns-and-rows-by-using-columndefinitionscollections/csharp/Window1.xaml
  dotnet-desktop-guide/framework/wpf/controls/snippets/manipulate-columns-and-rows-by-using-columndefinitionscollections/csharp/Window1.xaml.cs
  dotnet-desktop-guide/framework/wpf/controls/snippets/manipulate-columns-and-rows-by-using-columndefinitionscollections/csharp/app.config
  dotnet-desktop-guide/framework/wpf/controls/snippets/manipulate-columns-and-rows-by-using-columndefinitionscollections/csharp/app.xaml
  dotnet-desktop-guide/framework/wpf/controls/snippets/manipulate-columns-and-rows-by-using-columndefinitionscollections/csharp/app.xaml.cs
  dotnet-desktop-guide/framework/wpf/controls/snippets/manipulate-columns-and-rows-by-using-columndefinitionscollections/csharp/columndefinitions_grid.csproj
  dotnet-desktop-guide/framework/wpf/controls/snippets/manipulate-columns-and-rows-by-using-columndefinitionscollections/csharp/snippets.5000.json
  dotnet-desktop-guide/framework/wpf/controls/snippets/manipulate-columns-and-rows-by-using-columndefinitionscollections/vb/ColumnDefinitionsGrid.vbproj
  dotnet-desktop-guide/framework/wpf/controls/snippets/manipulate-columns-and-rows-by-using-columndefinitionscollections/vb/Window1.xaml
  dotnet-desktop-guide/framework/wpf/controls/snippets/manipulate-columns-and-rows-by-using-columndefinitionscollections/vb/Window1.xaml.vb
  dotnet-desktop-guide/framework/wpf/controls/snippets/manipulate-columns-and-rows-by-using-columndefinitionscollections/vb/app.config
  dotnet-desktop-guide/framework/wpf/controls/snippets/manipulate-columns-and-rows-by-using-columndefinitionscollections/vb/app.xaml
  dotnet-desktop-guide/framework/wpf/controls/snippets/manipulate-columns-and-rows-by-using-columndefinitionscollections/vb/snippets.5000.json
  dotnet-desktop-guide/samples/snippets/csharp/VS_Snippets_Wpf/ColumnDefinitionsGrid/CSharp/Window1.xaml
Labels: dotnet-framework/prod, dotnet-wpf/tech
