Repository dotnet/docs-desktop, pull requests merged in 2022-09, with the labels that each got.

#1503 Add WFDEV warning reference
  dotnet-desktop-guide/net/winforms/toc.yml
  dotnet-desktop-guide/net/winforms/wfdev-diagnostics/obsoletions-overview.md
  dotnet-desktop-guide/net/winforms/wfdev-diagnostics/wfdev001.md
  dotnet-desktop-guide/net/winforms/wfdev-diagnostics/wfdev002.md
  dotnet-desktop-guide/net/winforms/wfdev-diagnostics/wfdev003.md
Labels: dotnet-winforms/tech, dotnet-desktop/prod

#1500 [BULK UPDATE] DocuTune - Fix build validation issues: docs-link-absolute
  dotnet-desktop-guide/framework/winforms/controls/design-time-errors-in-the-windows-forms-designer.md
Labels: dotnet-framework/prod, dotnet-winforms/tech

#1506 fix drop target bug in the WPFdrop target walkthrough
  dotnet-desktop-guide/framework/wpf/advanced/walkthrough-enabling-drag-and-drop-on-a-user-control.md
Labels: dotnet-framework/prod, dotnet-wpf/tech

#1512 [BULK UPDATE] DocuTune - Rebranding links
  CONTRIBUTING.md
  README.md
  dotnet-desktop-guide/framework/wpf/advanced/getting-started-with-ink.md
  dotnet-desktop-guide/framework/wpf/getting-started/walkthrough-my-first-wpf-desktop-application.md
  dotnet-desktop-guide/net/winforms/get-started/create-app-visual-studio.md
  dotnet-desktop-guide/net/winforms/index.yml
  dotnet-desktop-guide/net/winforms/migration/index.md
  dotnet-desktop-guide/net/winforms/overview/index.md
  dotnet-desktop-guide/net/wpf/get-started/create-app-visual-studio.md
  dotnet-desktop-guide/net/wpf/index.yml
  dotnet-desktop-guide/net/wpf/overview/index.md
  redirects_generator/readme.md
Labels: dotnet-framework/prod, dotnet-wpf/tech, dotnet-winforms/tech, dotnet-desktop/prod

#1507 Amend copy-paste error in positioning code
  dotnet-desktop-guide/net/winforms/forms/how-to-position-and-resize.md
Labels: dotnet-winforms/tech, dotnet-desktop/prod
