Repository dotnet/docs-desktop, pull requests merged in 2023-04, with the labels that each got.

#1614 Update index.md
  dotnet-desktop-guide/net/winforms/overview/index.md
Labels: dotnet-winforms/tech, dotnet-desktop/prod

#1618 Fix Typo
  dotnet-desktop-guide/net/wpf/data/binding-sources-overview.md
Labels: dotnet-wpf/tech, dotnet-desktop/prod

#1621 Fix bug in the watermark article
  dotnet-desktop-guide/framework/wpf/controls/how-to-add-a-watermark-to-a-textbox.md
  dotnet-desktop-guide/framework/wpf/controls/snippets/how-to-add-a-watermark-to-a-textbox/csharp/App.xaml
  dotnet-desktop-guide/framework/wpf/controls/snippets/how-to-add-a-watermark-to-a-textbox/csharp/App.xaml.cs
  dotnet-desktop-guide/framework/wpf/controls/snippets/how-to-add-a-watermark-to-a-textbox/csharp/AssemblyInfo.cs
  dotnet-desktop-guide/framework/wpf/controls/snippets/how-to-add-a-watermark-to-a-textbox/csharp/MainWindow.xaml
  dotnet-desktop-guide/framework/wpf/controls/snippets/how-to-add-a-watermark-to-a-textbox/csharp/MainWindow.xaml.cs
  dotnet-desktop-guide/framework/wpf/controls/snippets/how-to-add-a-watermark-to-a-textbox/csharp/textboxbackground.gif
  dotnet-desktop-guide/framework/wpf/controls/snippets/how-to-add-a-watermark-to-a-textbox/csharp/watermark.csproj
  dotnet-desktop-guide/framework/wpf/controls/snippets/how-to-add-a-watermark-to-a-textbox/vb/App.config
  dotnet-desktop-guide/framework/wpf/controls/snippets/how-to-add-a-watermark-to-a-textbox/vb/Application.xaml
  dotnet-desktop-guide/framework/wpf/controls/snippets/how-to-add-a-watermark-to-a-textbox/vb/Application.xaml.vb
  dotnet-desktop-guide/framework/wpf/controls/snippets/how-to-add-a-watermark-to-a-textbox/vb/MainWindow.xaml
  dotnet-desktop-guide/framework/wpf/controls/snippets/how-to-add-a-watermark-to-a-textbox/vb/MainWindow.xaml.vb
  dotnet-desktop-guide/framework/wpf/controls/snippets/how-to-add-a-watermark-to-a-textbox/vb/My Project/AssemblyInfo.vb
  dotnet-desktop-guide/framework/wpf/controls/snippets/how-to-add-a-watermark-to-a-textbox/vb/My Project/MyExtensions/MyWpfExtension.vb
  dotnet-desktop-guide/framework/wpf/controls/snippets/how-to-add-a-watermark-to-a-textbox/vb/My Project/Resources.Designer.vb
  dotnet-desktop-guide/framework/wpf/controls/snippets/how-to-add-a-watermark-to-a-textbox/vb/My Project/Resources.resx
  dotnet-desktop-guide/framework/wpf/controls/snippets/how-to-add-a-watermark-to-a-textbox/vb/My Project/Settings.Designer.vb
  dotnet-desktop-guide/framework/wpf/controls/snippets/how-to-add-a-watermark-to-a-textbox/vb/My Project/Settings.settings
  dotnet-desktop-guide/framework/wpf/controls/snippets/how-to-add-a-watermark-to-a-textbox/vb/snippets.5000.json
  dotnet-desktop-guide/framework/wpf/controls/snippets/how-to-add-a-watermark-to-a-textbox/vb/textboxbackground.gif
  dotnet-desktop-guide/framework/wpf/controls/snippets/how-to-add-a-watermark-to-a-textbox/vb/watermark.vbproj
Labels: dotnet-framework/prod, dotnet-wpf/tech

#1622 Update templates for framework bugs
  dotnet-desktop-guide/framework/wpf/controls/expander-styles-and-templates.md
  dotnet-desktop-guide/framework/wpf/controls/menu-styles-and-templates.md
  dotnet-desktop-guide/framework/wpf/controls/snippets/shared/templates/AllTemplates.csproj
  dotnet-desktop-guide/framework/wpf/controls/snippets/shared/templates/App.config
  dotnet-desktop-guide/framework/wpf/controls/snippets/shared/templates/App.xaml
  dotnet-desktop-guide/framework/wpf/controls/snippets/shared/templates/App.xaml.cs
  dotnet-desktop-guide/framework/wpf/controls/snippets/shared/templates/ExpanderTemplate.xaml
  dotnet-desktop-guide/framework/wpf/controls/snippets/shared/templates/MainWindow.xaml
  dotnet-desktop-guide/framework/wpf/controls/snippets/shared/templates/MainWindow.xaml.cs
  dotnet-desktop-guide/framework/wpf/controls/snippets/shared/templates/MenuItemTemplate.xaml
  dotnet-desktop-guide/framework/wpf/controls/snippets/shared/templates/MenuTemplate.xaml
  dotnet-desktop-guide/framework/wpf/controls/snippets/shared/templates/Properties/AssemblyInfo.cs
  dotnet-desktop-guide/framework/wpf/controls/snippets/shared/templates/Properties/Resources.Designer.cs
  dotnet-desktop-guide/framework/wpf/controls/snippets/shared/templates/Properties/Resources.resx
  dotnet-desktop-guide/framework/wpf/controls/snippets/shared/templates/Properties/Settings.Designer.cs
  dotnet-desktop-guide/framework/wpf/controls/snippets/shared/templates/Properties/Settings.settings
  dotnet-desktop-guide/framework/wpf/controls/snippets/shared/templates/WindowTemplate.xaml
  dotnet-desktop-guide/framework/wpf/controls/snippets/shared/templates/snippets.5000.json
  dotnet-desktop-guide/framework/wpf/controls/snippets/shared/templates/winter1.jpg
  dotnet-desktop-guide/framework/wpf/controls/window-styles-and-templates.md
Labels: dotnet-framework/prod, dotnet-wpf/tech
