Repository dotnet/docs-desktop, pull requests merged in 2023-09, with the labels that each got.

#1694 Clarify WPF metadata return type
  dotnet-desktop-guide/net/wpf/data/index.md
  dotnet-desktop-guide/net/wpf/data/snippets/index/csharp/App.xaml
  dotnet-desktop-guide/net/wpf/data/snippets/index/csharp/App.xaml.cs
  dotnet-desktop-guide/net/wpf/data/snippets/index/csharp/AuctionItem.cs
  dotnet-desktop-guide/net/wpf/data/snippets/index/csharp/AutoConvertPropertyToColor.xaml
  dotnet-desktop-guide/net/wpf/data/snippets/index/csharp/AutoConvertPropertyToColor.xaml.cs
  dotnet-desktop-guide/net/wpf/data/snippets/index/csharp/CollectionView.xaml
  dotnet-desktop-guide/net/wpf/data/snippets/index/csharp/CollectionView.xaml.cs
  dotnet-desktop-guide/net/wpf/data/snippets/index/csharp/ColorBrushConverter.cs
  dotnet-desktop-guide/net/wpf/data/snippets/index/csharp/DataValidation.xaml
  dotnet-desktop-guide/net/wpf/data/snippets/index/csharp/DataValidation.xaml.cs
  dotnet-desktop-guide/net/wpf/data/snippets/index/csharp/DateConverter.cs
  dotnet-desktop-guide/net/wpf/data/snippets/index/csharp/EmptyBinding.xaml
  dotnet-desktop-guide/net/wpf/data/snippets/index/csharp/EmptyBinding.xaml.cs
  dotnet-desktop-guide/net/wpf/data/snippets/index/csharp/FutureDateRule.cs
  dotnet-desktop-guide/net/wpf/data/snippets/index/csharp/MainWindow.xaml
  dotnet-desktop-guide/net/wpf/data/snippets/index/csharp/MainWindow.xaml.cs
  dotnet-desktop-guide/net/wpf/data/snippets/index/csharp/ManualBinding.cs
  dotnet-desktop-guide/net/wpf/data/snippets/index/csharp/Metadata.cs
  dotnet-desktop-guide/net/wpf/data/snippets/index/csharp/MyData.cs
  dotnet-desktop-guide/net/wpf/data/snippets/index/csharp/SpecialFeatures.cs
  dotnet-desktop-guide/net/wpf/data/snippets/index/csharp/bindings.csproj
  dotnet-desktop-guide/net/wpf/data/snippets/index/vb/Application.xaml
  dotnet-desktop-guide/net/wpf/data/snippets/index/vb/Application.xaml.vb
  dotnet-desktop-guide/net/wpf/data/snippets/index/vb/AuctionItem.vb
  dotnet-desktop-guide/net/wpf/data/snippets/index/vb/CollectionView.xaml
  dotnet-desktop-guide/net/wpf/data/snippets/index/vb/CollectionView.xaml.vb
  dotnet-desktop-guide/net/wpf/data/snippets/index/vb/ColorBrushConverter.vb
  dotnet-desktop-guide/net/wpf/data/snippets/index/vb/FutureDateRule.vb
  dotnet-desktop-guide/net/wpf/data/snippets/index/vb/MainWindow.xaml
  dotnet-desktop-guide/net/wpf/data/snippets/index/vb/MainWindow.xaml.vb
  dotnet-desktop-guide/net/wpf/data/snippets/index/vb/ManualBinding.vb
  dotnet-desktop-guide/net/wpf/data/snippets/index/vb/Metadata.vb
  dotnet-desktop-guide/net/wpf/data/snippets/index/vb/MyData.vb
  dotnet-desktop-guide/net/wpf/data/snippets/index/vb/bindings.vbproj
Labels: dotnet-wpf/tech, dotnet-desktop/prod

#1693 Update Framework debug article with info and links to the out-of-proc designer for .NET
  dotnet-desktop-guide/framework/winforms/controls/walkthrough-debugging-custom-windows-forms-controls-at-design-time.md
Labels: dotnet-framework/prod, dotnet-winforms/tech

#1703 Policheck Update - Sept 18 | Bulk Update
  dotnet-desktop-guide/framework/wpf/advanced/globalization-for-wpf.md
Labels: dotnet-framework/prod, dotnet-wpf/tech
