Repository dotnet/docs-desktop, pull requests merged in 2023-06, with the labels that each got.

#1640 Fix broken links
  dotnet-desktop-guide/framework/winforms/advanced/how-to-support-com-interop-by-displaying-each-windows-form-on-its-own-thread.md
  dotnet-desktop-guide/framework/winforms/advanced/windows-forms-and-unmanaged-applications-overview.md
  dotnet-desktop-guide/framework/winforms/advanced/windows-forms-and-unmanaged-applications.md
  dotnet-desktop-guide/framework/wpf/advanced/cleartype-overview.md
  dotnet-desktop-guide/framework/wpf/advanced/how-to-create-outlined-text.md
  dotnet-desktop-guide/framework/wpf/wpf-security-strategy-security-engineering.md
  dotnet-desktop-guide/net/winforms/printing/how-to-print-in-windows-forms-using-print-preview.md
Labels: dotnet-framework/prod, dotnet-wpf/tech, dotnet-winforms/tech, dotnet-desktop/prod

#1645 Update a few stray references to .NET 5
  dotnet-desktop-guide/net/breadcrumb/toc.yml
  dotnet-desktop-guide/net/winforms/overview/index.md
  dotnet-desktop-guide/net/winforms/wfdev-diagnostics/obsoletions-overview.md
  dotnet-desktop-guide/net/winforms/whats-new/net60.md
Labels: dotnet-wpf/tech, dotnet-winforms/tech, dotnet-desktop/prod

#1648 Fix XML for DPI
  dotnet-desktop-guide/framework/winforms/high-dpi-support-in-windows-forms.md
Labels: dotnet-framework/prod, dotnet-winforms/tech

#1649 Add note about winforms designer editing
  dotnet-desktop-guide/framework/winforms/controls/attributes-in-windows-forms-controls.md
  dotnet-desktop-guide/framework/winforms/controls/creating-a-wf-control-design-time-features.md
  dotnet-desktop-guide/framework/winforms/controls/developing-custom-windows-forms-controls.md
  dotnet-desktop-guide/framework/winforms/controls/how-to-apply-attributes-in-windows-forms-controls.md
  dotnet-desktop-guide/framework/winforms/controls/serializing-collections-designerserializationvisibilityattribute.md
  dotnet-desktop-guide/framework/winforms/includes/visual-studio-designer-net.md
Labels: dotnet-framework/prod, dotnet-winforms/tech

#1653 Update developing-a-composite-windows-forms-control.md
  dotnet-desktop-guide/framework/winforms/controls/developing-a-composite-windows-forms-control.md
Labels: dotnet-framework/prod, dotnet-winforms/tech

#1654 Split article into dedicated how-to
  .openpublishing.redirection.json
  dotnet-desktop-guide/net/winforms/controls-design/how-to-create-usercontrol.md
  dotnet-desktop-guide/net/winforms/controls-design/media/how-to-create-usercontrol/designer.png
  dotnet-desktop-guide/net/winforms/controls-design/media/how-to-create-usercontrol/example-initial-design.png
  dotnet-desktop-guide/net/winforms/controls-design/media/how-to-create-usercontrol/new-usercontrol-dialog.png
  dotnet-desktop-guide/net/winforms/controls-design/media/how-to-create-usercontrol/right-click.pdn
  dotnet-desktop-guide/net/winforms/controls-design/media/how-to-create-usercontrol/right-click.png
  dotnet-desktop-guide/net/winforms/controls-design/media/how-to-create-usercontrol/running-app.png
  dotnet-desktop-guide/net/winforms/controls-design/media/how-to-create-usercontrol/toolbox.png
  dotnet-desktop-guide/net/winforms/controls-design/media/usercontrol-overview/example-initial-design.png
  dotnet-desktop-guide/net/winforms/controls-design/media/usercontrol-overview/toolbox.png
  dotnet-desktop-guide/net/winforms/controls-design/snippets/how-to-create-usercontrol/csharp/ClearableTextBox.Designer.cs
  dotnet-desktop-guide/net/winforms/controls-design/snippets/how-to-create-usercontrol/csharp/ClearableTextBox.cs
  dotnet-desktop-guide/net/winforms/controls-design/snippets/how-to-create-usercontrol/csharp/ClearableTextBox.resx
  dotnet-desktop-guide/net/winforms/controls-design/snippets/how-to-create-usercontrol/csharp/Form1.Designer.cs
  dotnet-desktop-guide/net/winforms/controls-design/snippets/how-to-create-usercontrol/csharp/Form1.cs
  dotnet-desktop-guide/net/winforms/controls-design/snippets/how-to-create-usercontrol/csharp/Form1.resx
  dotnet-desktop-guide/net/winforms/controls-design/snippets/how-to-create-usercontrol/csharp/Program.cs
  dotnet-desktop-guide/net/winforms/controls-design/snippets/how-to-create-usercontrol/csharp/UserControlProject.csproj
  dotnet-desktop-guide/net/winforms/controls-design/snippets/how-to-create-usercontrol/vb/ApplicationEvents.vb
  dotnet-desktop-guide/net/winforms/controls-design/snippets/how-to-create-usercontrol/vb/ClearableTextBox.Designer.vb
  dotnet-desktop-guide/net/winforms/controls-design/snippets/how-to-create-usercontrol/vb/ClearableTextBox.resx
  dotnet-desktop-guide/net/winforms/controls-design/snippets/how-to-create-usercontrol/vb/ClearableTextBox.vb
  dotnet-desktop-guide/net/winforms/controls-design/snippets/how-to-create-usercontrol/vb/Form1.Designer.vb
  dotnet-desktop-guide/net/winforms/controls-design/snippets/how-to-create-usercontrol/vb/Form1.resx
  dotnet-desktop-guide/net/winforms/controls-design/snippets/how-to-create-usercontrol/vb/Form1.vb
  dotnet-desktop-guide/net/winforms/controls-design/snippets/how-to-create-usercontrol/vb/My Project/Application.Designer.vb
  dotnet-desktop-guide/net/winforms/controls-design/snippets/how-to-create-usercontrol/vb/My Project/Application.myapp
  dotnet-desktop-guide/net/winforms/controls-design/snippets/how-to-create-usercontrol/vb/UserControlProjectVB.vbproj
  dotnet-desktop-guide/net/winforms/controls-design/snippets/usercontrol-overview/csharp/UserControl1.cs
  dotnet-desktop-guide/net/winforms/controls-design/snippets/usercontrol-overview/vb/Form1.resx
  dotnet-desktop-guide/net/winforms/controls-design/snippets/usercontrol-overview/vb/UserControl1.resx
  dotnet-desktop-guide/net/winforms/controls-design/usercontrol-overview.md
  dotnet-desktop-guide/net/winforms/toc.yml
  redirects_generator/definitions.json
Labels: dotnet-winforms/tech, dotnet-desktop/prod
