Repository dotnet/docs-desktop, pull requests merged in 2023-02, with the labels that each got.

#1567 Fix typo
  dotnet-desktop-guide/framework/wpf/data/binding-sources-overview.md
Labels: dotnet-framework/prod, dotnet-wpf/tech

#1572 Fix unclosing paranthesis
  dotnet-desktop-guide/framework/wpf/data/data-binding-overview.md
Labels: dotnet-framework/prod, dotnet-wpf/tech

#1566 Fix typo and make a statement to be more concise
  dotnet-desktop-guide/net/wpf/overview/index.md
Labels: dotnet-wpf/tech, dotnet-desktop/prod

#1562 Fix grammar
  dotnet-desktop-guide/framework/wpf/app-development/persist-and-restore-application-scope-properties.md
Labels: dotnet-framework/prod, dotnet-wpf/tech

#1563 WFDEV002 warning -> error
  dotnet-desktop-guide/net/winforms/wfdev-diagnostics/obsoletions-overview.md
  dotnet-desktop-guide/net/winforms/wfdev-diagnostics/wfdev002.md
Labels: dotnet-winforms/tech, dotnet-desktop/prod

#1547 Update wpf-xaml-browser-applications-overview.md
  dotnet-desktop-guide/framework/wpf/app-development/wpf-xaml-browser-applications-overview.md
Labels: needs-more-info, dotnet-framework/prod, dotnet-wpf/tech

#1558 Update printpreviewdialog-control-overview-windows-forms.md
  dotnet-desktop-guide/framework/winforms/controls/printpreviewdialog-control-overview-windows-forms.md
Labels: dotnet-framework/prod, dotnet-winforms/tech

#1582 Whats new in WinForms/WPF 7
  .openpublishing.redirection.json
  dotnet-desktop-guide/net/winforms/overview/index.md
  dotnet-desktop-guide/net/winforms/toc.yml
  dotnet-desktop-guide/net/winforms/whats-new/net60.md
  dotnet-desktop-guide/net/winforms/whats-new/net70.md
  dotnet-desktop-guide/net/wpf/toc.yml
  dotnet-desktop-guide/net/wpf/whats-new/net70.md
  redirects_generator/definitions.json
Labels: dotnet-wpf/tech, dotnet-winforms/tech, dotnet-desktop/prod

#1585 "Ok" should be "OK"
  dotnet-desktop-guide/net/wpf/windows/how-to-open-message-box.md
Labels: dotnet-wpf/tech, dotnet-desktop/prod
