Repository dotnet/docs-desktop, pull requests merged in 2023-03, with the labels that each got.

#1589 Correct "VisaulStateManager" to "VisualStateManager"
  dotnet-desktop-guide/framework/wpf/controls/styles-templates-overview.md
  dotnet-desktop-guide/net/wpf/controls/styles-templates-overview.md
Labels: dotnet-framework/prod, dotnet-wpf/tech, dotnet-desktop/prod

#1593 Clarify what is about to be done in migration
  dotnet-desktop-guide/net/winforms/migration/index.md
Labels: dotnet-winforms/tech, dotnet-desktop/prod

#1594 Convert snippet to code block to show XML comments
  dotnet-desktop-guide/net/wpf/xaml/index.md
Labels: dotnet-wpf/tech, dotnet-desktop/prod

#1596 Fix WPF article where a find-replace for terms cut off a paragraph
  dotnet-desktop-guide/framework/wpf/advanced/commanding-overview.md
Labels: dotnet-framework/prod, dotnet-wpf/tech

#1598 Fix alternation count reference in WPF article
  dotnet-desktop-guide/framework/wpf/controls/datagrid.md
Labels: dotnet-framework/prod, dotnet-wpf/tech

#1602 Simplify and fix example for the reflection article
  dotnet-desktop-guide/framework/wpf/graphics-multimedia/how-to-create-a-reflection.md
  dotnet-desktop-guide/framework/wpf/graphics-multimedia/media/how-to-create-a-reflection/reflection.png
  dotnet-desktop-guide/framework/wpf/graphics-multimedia/snippets/how-to-create-a-reflection/csharp/App.xaml
  dotnet-desktop-guide/framework/wpf/graphics-multimedia/snippets/how-to-create-a-reflection/csharp/App.xaml.cs
  dotnet-desktop-guide/framework/wpf/graphics-multimedia/snippets/how-to-create-a-reflection/csharp/AssemblyInfo.cs
  dotnet-desktop-guide/framework/wpf/graphics-multimedia/snippets/how-to-create-a-reflection/csharp/MainWindow.xaml
  dotnet-desktop-guide/framework/wpf/graphics-multimedia/snippets/how-to-create-a-reflection/csharp/MainWindow.xaml.cs
  dotnet-desktop-guide/framework/wpf/graphics-multimedia/snippets/how-to-create-a-reflection/csharp/WpfApp1.csproj
  dotnet-desktop-guide/framework/wpf/graphics-multimedia/snippets/how-to-create-a-reflection/vb/App.config
  dotnet-desktop-guide/framework/wpf/graphics-multimedia/snippets/how-to-create-a-reflection/vb/Application.xaml
  dotnet-desktop-guide/framework/wpf/graphics-multimedia/snippets/how-to-create-a-reflection/vb/Application.xaml.vb
  dotnet-desktop-guide/framework/wpf/graphics-multimedia/snippets/how-to-create-a-reflection/vb/MainWindow.xaml
  dotnet-desktop-guide/framework/wpf/graphics-multimedia/snippets/how-to-create-a-reflection/vb/MainWindow.xaml.vb
  dotnet-desktop-guide/framework/wpf/graphics-multimedia/snippets/how-to-create-a-reflection/vb/My Project/AssemblyInfo.vb
  dotnet-desktop-guide/framework/wpf/graphics-multimedia/snippets/how-to-create-a-reflection/vb/My Project/MyExtensions/MyWpfExtension.vb
  dotnet-desktop-guide/framework/wpf/graphics-multimedia/snippets/how-to-create-a-reflection/vb/My Project/Resources.Designer.vb
  dotnet-desktop-guide/framework/wpf/graphics-multimedia/snippets/how-to-create-a-reflection/vb/My Project/Resources.resx
  dotnet-desktop-guide/framework/wpf/graphics-multimedia/snippets/how-to-create-a-reflection/vb/My Project/Settings.Designer.vb
  dotnet-desktop-guide/framework/wpf/graphics-multimedia/snippets/how-to-create-a-reflection/vb/My Project/Settings.settings
  dotnet-desktop-guide/framework/wpf/graphics-multimedia/snippets/how-to-create-a-reflection/vb/WpfApp1.vbproj
  dotnet-desktop-guide/framework/wpf/graphics-multimedia/snippets/how-to-create-a-reflection/vb/snippets.5000.json
  dotnet-desktop-guide/framework/wpf/graphics-multimedia/snippets/how-to-create-a-reflection/xaml/App.xaml
  dotnet-desktop-guide/framework/wpf/graphics-multimedia/snippets/how-to-create-a-reflection/xaml/App.xaml.cs
  dotnet-desktop-guide/framework/wpf/graphics-multimedia/snippets/how-to-create-a-reflection/xaml/AssemblyInfo.cs
  dotnet-desktop-guide/framework/wpf/graphics-multimedia/snippets/how-to-create-a-reflection/xaml/MainWindow.xaml
  dotnet-desktop-guide/framework/wpf/graphics-multimedia/snippets/how-to-create-a-reflection/xaml/MainWindow.xaml.cs
  dotnet-desktop-guide/framework/wpf/graphics-multimedia/snippets/how-to-create-a-reflection/xaml/WpfApp1.csproj
Labels: dotnet-framework/prod, dotnet-wpf/tech

#1600 Simplify and fix example for the StackPanel vs DockPanel article
  dotnet-desktop-guide/framework/wpf/controls/how-to-choose-between-stackpanel-and-dockpanel.md
  dotnet-desktop-guide/framework/wpf/controls/media/how-to-choose-between-stackpanel-and-dockpanel/example.png
  dotnet-desktop-guide/framework/wpf/controls/snippets/how-to-choose-between-stackpanel-and-dockpanel/csharp/App.xaml
  dotnet-desktop-guide/framework/wpf/controls/snippets/how-to-choose-between-stackpanel-and-dockpanel/csharp/App.xaml.cs
  dotnet-desktop-guide/framework/wpf/controls/snippets/how-to-choose-between-stackpanel-and-dockpanel/csharp/AssemblyInfo.cs
  dotnet-desktop-guide/framework/wpf/controls/snippets/how-to-choose-between-stackpanel-and-dockpanel/csharp/MainWindow.xaml
  dotnet-desktop-guide/framework/wpf/controls/snippets/how-to-choose-between-stackpanel-and-dockpanel/csharp/MainWindow.xaml.cs
  dotnet-desktop-guide/framework/wpf/controls/snippets/how-to-choose-between-stackpanel-and-dockpanel/csharp/WpfApp1.csproj
  dotnet-desktop-guide/framework/wpf/controls/snippets/how-to-choose-between-stackpanel-and-dockpanel/vb/App.config
  dotnet-desktop-guide/framework/wpf/controls/snippets/how-to-choose-between-stackpanel-and-dockpanel/vb/Application.xaml
  dotnet-desktop-guide/framework/wpf/controls/snippets/how-to-choose-between-stackpanel-and-dockpanel/vb/Application.xaml.vb
  dotnet-desktop-guide/framework/wpf/controls/snippets/how-to-choose-between-stackpanel-and-dockpanel/vb/MainWindow.xaml
  dotnet-desktop-guide/framework/wpf/controls/snippets/how-to-choose-between-stackpanel-and-dockpanel/vb/MainWindow.xaml.vb
  dotnet-desktop-guide/framework/wpf/controls/snippets/how-to-choose-between-stackpanel-and-dockpanel/vb/My Project/AssemblyInfo.vb
  dotnet-desktop-guide/framework/wpf/controls/snippets/how-to-choose-between-stackpanel-and-dockpanel/vb/My Project/MyExtensions/MyWpfExtension.vb
  dotnet-desktop-guide/framework/wpf/controls/snippets/how-to-choose-between-stackpanel-and-dockpanel/vb/My Project/Resources.Designer.vb
  dotnet-desktop-guide/framework/wpf/controls/snippets/how-to-choose-between-stackpanel-and-dockpanel/vb/My Project/Resources.resx
  dotnet-desktop-guide/framework/wpf/controls/snippets/how-to-choose-between-stackpanel-and-dockpanel/vb/My Project/Settings.Designer.vb
  dotnet-desktop-guide/framework/wpf/controls/snippets/how-to-choose-between-stackpanel-and-dockpanel/vb/My Project/Settings.settings
  dotnet-desktop-guide/framework/wpf/controls/snippets/how-to-choose-between-stackpanel-and-dockpanel/vb/WpfApp1.vbproj
  dotnet-desktop-guide/framework/wpf/controls/snippets/how-to-choose-between-stackpanel-and-dockpanel/vb/snippets.5000.json
  dotnet-desktop-guide/framework/wpf/controls/snippets/how-to-choose-between-stackpanel-and-dockpanel/xaml/App.xaml
  dotnet-desktop-guide/framework/wpf/controls/snippets/how-to-choose-between-stackpanel-and-dockpanel/xaml/App.xaml.cs
  dotnet-desktop-guide/framework/wpf/controls/snippets/how-to-choose-between-stackpanel-and-dockpanel/xaml/AssemblyInfo.cs
  dotnet-desktop-guide/framework/wpf/controls/snippets/how-to-choose-between-stackpanel-and-dockpanel/xaml/MainWindow.xaml
  dotnet-desktop-guide/framework/wpf/controls/snippets/how-to-choose-between-stackpanel-and-dockpanel/xaml/MainWindow.xaml.cs
  dotnet-desktop-guide/framework/wpf/controls/snippets/how-to-choose-between-stackpanel-and-dockpanel/xaml/WpfApp1.csproj
Labels: dotnet-framework/prod, dotnet-wpf/tech

#1599 Add note about handedness in WPF control popups
  dotnet-desktop-guide/framework/wpf/controls/popup-placement-behavior.md
Labels: dotnet-framework/prod, dotnet-wpf/tech

#1609 Corrected type reference preceding code snippet
  dotnet-desktop-guide/framework/wpf/advanced/how-to-override-metadata-for-a-dependency-property.md
Labels: dotnet-framework/prod, dotnet-wpf/tech
