Repository dotnet/docs-desktop, pull requests merged in 2023-10, with the labels that each got.

#1716 Fix code for WPF .NET Framework databinding
  dotnet-desktop-guide/framework/wpf/data/how-to-set-up-notification-of-binding-updates.md
Labels: dotnet-framework/prod, dotnet-wpf/tech

#1723 Fix bugs in the threading article
  dotnet-desktop-guide/framework/wpf/advanced/snippets/threading-model/csharp/App.xaml
  dotnet-desktop-guide/framework/wpf/advanced/snippets/threading-model/csharp/Weather.xaml.cs
  dotnet-desktop-guide/framework/wpf/advanced/snippets/threading-model/vb/Weather.xaml.vb
  dotnet-desktop-guide/framework/wpf/advanced/threading-model.md
Labels: dotnet-framework/prod, dotnet-wpf/tech

#1725 Addresses dotnet/docs issue 11917.
  dotnet-desktop-guide/framework/winforms/advanced/how-to-create-application-settings.md
Labels: dotnet-framework/prod, dotnet-winforms/tech

#1727 Update wpf-globalization-and-localization-overview.md
  dotnet-desktop-guide/framework/wpf/advanced/wpf-globalization-and-localization-overview.md
Labels: dotnet-framework/prod, dotnet-wpf/tech

#1728 Fix wrong shape mentioned in xaml-resources-overview.md
  dotnet-desktop-guide/net/wpf/systems/xaml-resources-overview.md
Labels: dotnet-wpf/tech, dotnet-desktop/prod

#1730 Fix issue with code casing in WPF overview
  dotnet-desktop-guide/net/wpf/overview/index.md
Labels: dotnet-wpf/tech, dotnet-desktop/prod

#1729 Update VB threading code
  dotnet-desktop-guide/framework/wpf/advanced/snippets/threading-model/vb/Weather.xaml.vb
Labels: dotnet-framework/prod, dotnet-wpf/tech
