Repository dotnet/docs-desktop, pull requests merged in 2023-08, with the labels that each got.

#1683 Remove obsolete warning
  dotnet-desktop-guide/net/winforms/migration/index.md
Labels: dotnet-winforms/tech, dotnet-desktop/prod

#1675 WinForms Design-time properties overview
  .openpublishing.redirection.winforms.json
  dotnet-desktop-guide/framework/winforms/controls/walkthrough-automatically-populating-the-toolbox-with-custom-components.md
  dotnet-desktop-guide/net/winforms/controls-design/designer-differences-framework.md
  dotnet-desktop-guide/net/winforms/controls-design/designer-errors.md
  dotnet-desktop-guide/net/winforms/controls-design/designer-overview.md
  dotnet-desktop-guide/net/winforms/controls-design/designer-properties-overview.md
  dotnet-desktop-guide/net/winforms/controls-design/extend-existing.md
  dotnet-desktop-guide/net/winforms/controls-design/how-to-create-usercontrol.md
  dotnet-desktop-guide/net/winforms/controls-design/how-to-designer-properties-shouldserialize-reset.md
  dotnet-desktop-guide/net/winforms/controls-design/how-to-set-toolbox-icon.md
  dotnet-desktop-guide/net/winforms/controls-design/media/designer-errors/vs-designer-error-message.png
  dotnet-desktop-guide/net/winforms/controls-design/media/designer-properties-overview/vs-properties-reset.png
  dotnet-desktop-guide/net/winforms/controls-design/overview.md
  dotnet-desktop-guide/net/winforms/controls-design/snippets/designer-properties-overview/csharp/CompassRose.Designer.cs
  dotnet-desktop-guide/net/winforms/controls-design/snippets/designer-properties-overview/csharp/CompassRose.cs
  dotnet-desktop-guide/net/winforms/controls-design/snippets/designer-properties-overview/csharp/CompassRose.resx
  dotnet-desktop-guide/net/winforms/controls-design/snippets/designer-properties-overview/csharp/Directions.cs
  dotnet-desktop-guide/net/winforms/controls-design/snippets/designer-properties-overview/csharp/Form1.Designer.cs
  dotnet-desktop-guide/net/winforms/controls-design/snippets/designer-properties-overview/csharp/Form1.cs
  dotnet-desktop-guide/net/winforms/controls-design/snippets/designer-properties-overview/csharp/Form1.resx
  dotnet-desktop-guide/net/winforms/controls-design/snippets/designer-properties-overview/csharp/Program.cs
  dotnet-desktop-guide/net/winforms/controls-design/snippets/designer-properties-overview/csharp/UserControlProject.csproj
  dotnet-desktop-guide/net/winforms/controls-design/snippets/designer-properties-overview/vb/ApplicationEvents.vb
  dotnet-desktop-guide/net/winforms/controls-design/snippets/designer-properties-overview/vb/CompassRose.Designer.vb
  dotnet-desktop-guide/net/winforms/controls-design/snippets/designer-properties-overview/vb/CompassRose.resx
  dotnet-desktop-guide/net/winforms/controls-design/snippets/designer-properties-overview/vb/CompassRose.vb
  dotnet-desktop-guide/net/winforms/controls-design/snippets/designer-properties-overview/vb/Directions.vb
  dotnet-desktop-guide/net/winforms/controls-design/snippets/designer-properties-overview/vb/Form1.Designer.vb
  dotnet-desktop-guide/net/winforms/controls-design/snippets/designer-properties-overview/vb/Form1.resx
  dotnet-desktop-guide/net/winforms/controls-design/snippets/designer-properties-overview/vb/Form1.vb
  dotnet-desktop-guide/net/winforms/controls-design/snippets/designer-properties-overview/vb/My Project/Application.Designer.vb
  dotnet-desktop-guide/net/winforms/controls-design/snippets/designer-properties-overview/vb/My Project/Application.myapp
  dotnet-desktop-guide/net/winforms/controls-design/snippets/designer-properties-overview/vb/UserControlProjectVB.vbproj
  dotnet-desktop-guide/net/winforms/controls-design/snippets/how-to-designer-properties-shouldserialize-reset/csharp/CompassRose.Designer.cs
  dotnet-desktop-guide/net/winforms/controls-design/snippets/how-to-designer-properties-shouldserialize-reset/csharp/CompassRose.cs
  dotnet-desktop-guide/net/winforms/controls-design/snippets/how-to-designer-properties-shouldserialize-reset/csharp/CompassRose.resx
  dotnet-desktop-guide/net/winforms/controls-design/snippets/how-to-designer-properties-shouldserialize-reset/csharp/Directions.cs
  dotnet-desktop-guide/net/winforms/controls-design/snippets/how-to-designer-properties-shouldserialize-reset/csharp/Form1.Designer.cs
  dotnet-desktop-guide/net/winforms/controls-design/snippets/how-to-designer-properties-shouldserialize-reset/csharp/Form1.cs
  dotnet-desktop-guide/net/winforms/controls-design/snippets/how-to-designer-properties-shouldserialize-reset/csharp/Form1.resx
  dotnet-desktop-guide/net/winforms/controls-design/snippets/how-to-designer-properties-shouldserialize-reset/csharp/Program.cs
  dotnet-desktop-guide/net/winforms/controls-design/snippets/how-to-designer-properties-shouldserialize-reset/csharp/UserControlProject.csproj
  dotnet-desktop-guide/net/winforms/controls-design/snippets/how-to-designer-properties-shouldserialize-reset/vb/ApplicationEvents.vb
  dotnet-desktop-guide/net/winforms/controls-design/snippets/how-to-designer-properties-shouldserialize-reset/vb/CompassRose.Designer.vb
  dotnet-desktop-guide/net/winforms/controls-design/snippets/how-to-designer-properties-shouldserialize-reset/vb/CompassRose.resx
  dotnet-desktop-guide/net/winforms/controls-design/snippets/how-to-designer-properties-shouldserialize-reset/vb/CompassRose.vb
  dotnet-desktop-guide/net/winforms/controls-design/snippets/how-to-designer-properties-shouldserialize-reset/vb/Directions.vb
  dotnet-desktop-guide/net/winforms/controls-design/snippets/how-to-designer-properties-shouldserialize-reset/vb/Form1.Designer.vb
  dotnet-desktop-guide/net/winforms/controls-design/snippets/how-to-designer-properties-shouldserialize-reset/vb/Form1.resx
  dotnet-desktop-guide/net/winforms/controls-design/snippets/how-to-designer-properties-shouldserialize-reset/vb/Form1.vb
  dotnet-desktop-guide/net/winforms/controls-design/snippets/how-to-designer-properties-shouldserialize-reset/vb/My Project/Application.Designer.vb
  dotnet-desktop-guide/net/winforms/controls-design/snippets/how-to-designer-properties-shouldserialize-reset/vb/My Project/Application.myapp
  dotnet-desktop-guide/net/winforms/controls-design/snippets/how-to-designer-properties-shouldserialize-reset/vb/UserControlProjectVB.vbproj
  dotnet-desktop-guide/net/winforms/controls-design/usercontrol-overview.md
  dotnet-desktop-guide/net/winforms/toc.yml
  redirects_generator/Properties/launchSettings.json
  redirects_generator/definitions.winforms.json
  redirects_generator/redirects.cs
Labels: dotnet-framework/prod, dotnet-winforms/tech, dotnet-desktop/prod

#1684 Add example icon to article
  dotnet-desktop-guide/net/winforms/controls-design/how-to-set-toolbox-icon.md
  dotnet-desktop-guide/net/winforms/controls-design/media/how-to-set-toolbox-icon/CompassRose_Icon.bmp
Labels: dotnet-winforms/tech, dotnet-desktop/prod

#1685 fix toolbox icon resource path
  dotnet-desktop-guide/net/winforms/controls-design/how-to-set-toolbox-icon.md
Labels: dotnet-winforms/tech, dotnet-desktop/prod

#1688 Restore bad includes find/replace items from WPF
  dotnet-desktop-guide/framework/wpf/advanced/bidirectional-features-in-wpf-overview.md
  dotnet-desktop-guide/framework/wpf/advanced/code-behind-and-xaml-in-wpf.md
  dotnet-desktop-guide/framework/wpf/advanced/custom-dependency-properties.md
  dotnet-desktop-guide/framework/wpf/advanced/dependency-property-metadata.md
  dotnet-desktop-guide/framework/wpf/advanced/dependency-property-value-precedence.md
  dotnet-desktop-guide/framework/wpf/advanced/documents-in-wpf.md
  dotnet-desktop-guide/framework/wpf/advanced/drag-and-drop-overview.md
  dotnet-desktop-guide/framework/wpf/advanced/drag-and-drop.md
  dotnet-desktop-guide/framework/wpf/advanced/draw-text-using-glyphs.md
  dotnet-desktop-guide/framework/wpf/advanced/framework-property-metadata.md
  dotnet-desktop-guide/framework/wpf/advanced/globalization-for-wpf.md
  dotnet-desktop-guide/framework/wpf/advanced/how-to-create-a-custom-routed-event.md
  dotnet-desktop-guide/framework/wpf/advanced/how-to-make-an-object-follow-the-mouse-pointer.md
  dotnet-desktop-guide/framework/wpf/advanced/how-to-register-an-attached-property.md
  dotnet-desktop-guide/framework/wpf/advanced/how-to-set-margins-of-elements-and-controls.md
  dotnet-desktop-guide/framework/wpf/advanced/how-to-use-a-grid-for-automatic-layout.md
  dotnet-desktop-guide/framework/wpf/advanced/how-to-use-automatic-layout-to-create-a-button.md
  dotnet-desktop-guide/framework/wpf/advanced/inline-styles-and-templates.md
  dotnet-desktop-guide/framework/wpf/advanced/input-overview.md
  dotnet-desktop-guide/framework/wpf/advanced/introduction-to-the-glyphrun-object-and-glyphs-element.md
  dotnet-desktop-guide/framework/wpf/advanced/localization-attributes-and-comments.md
  dotnet-desktop-guide/framework/wpf/advanced/merged-resource-dictionaries.md
  dotnet-desktop-guide/framework/wpf/advanced/object-lifetime-events.md
  dotnet-desktop-guide/framework/wpf/advanced/optimizing-performance-text.md
  dotnet-desktop-guide/framework/wpf/advanced/optimizing-wpf-application-performance.md
  dotnet-desktop-guide/framework/wpf/advanced/performance.md
  dotnet-desktop-guide/framework/wpf/advanced/presentationoptions-freeze-attribute.md
  dotnet-desktop-guide/framework/wpf/advanced/propertypath-xaml-syntax.md
  dotnet-desktop-guide/framework/wpf/advanced/resources-and-code.md
  dotnet-desktop-guide/framework/wpf/advanced/routed-events-overview.md
  dotnet-desktop-guide/framework/wpf/advanced/threading-model.md
  dotnet-desktop-guide/framework/wpf/advanced/trees-in-wpf.md
  dotnet-desktop-guide/framework/wpf/advanced/typography-in-wpf.md
  dotnet-desktop-guide/framework/wpf/advanced/typography.md
  dotnet-desktop-guide/framework/wpf/advanced/use-automatic-layout-overview.md
  dotnet-desktop-guide/framework/wpf/advanced/walkthrough-hosting-a-windows-forms-composite-control-in-wpf.md
  dotnet-desktop-guide/framework/wpf/advanced/walkthrough-hosting-a-wpf-composite-control-in-windows-forms.md
  dotnet-desktop-guide/framework/wpf/advanced/walkthrough-hosting-wpf-content-in-win32.md
  dotnet-desktop-guide/framework/wpf/advanced/wpf-and-win32-interoperation.md
  dotnet-desktop-guide/framework/wpf/advanced/wpf-globalization-and-localization-overview.md
  dotnet-desktop-guide/framework/wpf/advanced/xaml-in-wpf.md
  dotnet-desktop-guide/framework/wpf/advanced/xaml-loading-and-dependency-properties.md
  dotnet-desktop-guide/framework/wpf/controls/control-authoring-overview.md
  dotnet-desktop-guide/framework/wpf/controls/index.md
  dotnet-desktop-guide/framework/wpf/controls/panels-overview.md
  dotnet-desktop-guide/framework/wpf/controls/textblock-overview.md
  dotnet-desktop-guide/framework/wpf/controls/textblock.md
  dotnet-desktop-guide/framework/wpf/controls/ui-automation-of-a-wpf-custom-control.md
  dotnet-desktop-guide/framework/wpf/controls/walkthroughs-create-a-custom-animated-button.md
  dotnet-desktop-guide/framework/wpf/data/how-to-set-up-notification-of-binding-updates.md
  dotnet-desktop-guide/framework/wpf/graphics-multimedia/3-d-graphics-overview.md
  dotnet-desktop-guide/framework/wpf/graphics-multimedia/animation-overview.md
  dotnet-desktop-guide/framework/wpf/graphics-multimedia/how-to-animate-a-property-without-using-a-storyboard.md
  dotnet-desktop-guide/framework/wpf/graphics-multimedia/multimedia-overview.md
  dotnet-desktop-guide/framework/wpf/graphics-multimedia/tutorial-hosting-visual-objects-in-a-win32-application.md
  dotnet-desktop-guide/framework/wpf/graphics-multimedia/wpf-brushes-overview.md
Labels: dotnet-framework/prod, dotnet-wpf/tech

#1687 Add control design guidelines doc
  dotnet-desktop-guide/net/winforms/controls-design/snippets/usercontrol-guidelines/csharp/Form1.Designer.cs
  dotnet-desktop-guide/net/winforms/controls-design/snippets/usercontrol-guidelines/csharp/Form1.cs
  dotnet-desktop-guide/net/winforms/controls-design/snippets/usercontrol-guidelines/csharp/Form1.resx
  dotnet-desktop-guide/net/winforms/controls-design/snippets/usercontrol-guidelines/csharp/Program.cs
  dotnet-desktop-guide/net/winforms/controls-design/snippets/usercontrol-guidelines/csharp/UserControl1.Designer.cs
  dotnet-desktop-guide/net/winforms/controls-design/snippets/usercontrol-guidelines/csharp/UserControl1.cs
  dotnet-desktop-guide/net/winforms/controls-design/snippets/usercontrol-guidelines/csharp/UserControl1.resx
  dotnet-desktop-guide/net/winforms/controls-design/snippets/usercontrol-guidelines/csharp/WinFormsProject1.csproj
  dotnet-desktop-guide/net/winforms/controls-design/snippets/usercontrol-guidelines/vb/ApplicationEvents.vb
  dotnet-desktop-guide/net/winforms/controls-design/snippets/usercontrol-guidelines/vb/Form1.Designer.vb
  dotnet-desktop-guide/net/winforms/controls-design/snippets/usercontrol-guidelines/vb/Form1.resx
  dotnet-desktop-guide/net/winforms/controls-design/snippets/usercontrol-guidelines/vb/Form1.vb
  dotnet-desktop-guide/net/winforms/controls-design/snippets/usercontrol-guidelines/vb/My Project/Application.Designer.vb
  dotnet-desktop-guide/net/winforms/controls-design/snippets/usercontrol-guidelines/vb/My Project/Application.myapp
  dotnet-desktop-guide/net/winforms/controls-design/snippets/usercontrol-guidelines/vb/UserControl1.Designer.vb
  dotnet-desktop-guide/net/winforms/controls-design/snippets/usercontrol-guidelines/vb/UserControl1.resx
  dotnet-desktop-guide/net/winforms/controls-design/snippets/usercontrol-guidelines/vb/UserControl1.vb
  dotnet-desktop-guide/net/winforms/controls-design/snippets/usercontrol-guidelines/vb/WinFormsProject2.vbproj
  dotnet-desktop-guide/net/winforms/controls-design/usercontrol-guidelines.md
  dotnet-desktop-guide/net/winforms/controls-design/usercontrol-overview.md
  dotnet-desktop-guide/net/winforms/controls/events.md
  dotnet-desktop-guide/net/winforms/controls/overview.md
  dotnet-desktop-guide/net/winforms/toc.yml
  redirects_generator/definitions.winforms.json
Labels: dotnet-winforms/tech, dotnet-desktop/prod

#1692 updates to info about where user settings are stored
  dotnet-desktop-guide/framework/winforms/advanced/application-settings-architecture.md
  dotnet-desktop-guide/framework/winforms/advanced/application-settings-overview.md
Labels: dotnet-framework/prod, dotnet-winforms/tech
