Repository dotnet/docs-desktop, pull requests merged in 2024-11, with the labels that each got.

#1925 Add WinForms what's new
  .markdownlint-cli2.jsonc
  dotnet-desktop-guide/net/winforms/whats-new/net50.md
  dotnet-desktop-guide/net/winforms/whats-new/net60.md
  dotnet-desktop-guide/net/winforms/whats-new/net70.md
  dotnet-desktop-guide/net/winforms/whats-new/net80.md
  dotnet-desktop-guide/net/winforms/whats-new/net90.md
  dotnet-desktop-guide/net/winforms/whats-new/snippets/net90/csharp/Form1.Designer.cs
  dotnet-desktop-guide/net/winforms/whats-new/snippets/net90/csharp/Form1.cs
  dotnet-desktop-guide/net/winforms/whats-new/snippets/net90/csharp/Form1.resx
  dotnet-desktop-guide/net/winforms/whats-new/snippets/net90/csharp/MyExampleProject.csproj
  dotnet-desktop-guide/net/winforms/whats-new/snippets/net90/csharp/Program.cs
  dotnet-desktop-guide/net/winforms/whats-new/snippets/net90/vb/Form1.Designer.vb
  dotnet-desktop-guide/net/winforms/whats-new/snippets/net90/vb/Form1.vb
  dotnet-desktop-guide/net/winforms/whats-new/snippets/net90/vb/MyExampleProject.vbproj
  dotnet-desktop-guide/net/winforms/whats-new/snippets/net90/vb/Program.vb
  dotnet-desktop-guide/net/wpf/whats-new/net90.md
  dotnet-desktop-guide/net/wpf/whats-new/snippets/net90/csharp/MyWpfProject.csproj
Labels: wpf/subsvc, winforms/subsvc, dotnet-desktop/svc

#1924 Update startup time guidance to not recommend BinaryFormatter
  dotnet-desktop-guide/framework/wpf/advanced/application-startup-time.md
Labels: dotnet-framework/svc, wpf/subsvc, okr-health, okr-quality

#1926 Add what's new for .NET 9
  .markdownlint-cli2.jsonc
  dotnet-desktop-guide/net/winforms/toc.yml
  dotnet-desktop-guide/net/winforms/whats-new/net50.md
  dotnet-desktop-guide/net/winforms/whats-new/net60.md
  dotnet-desktop-guide/net/winforms/whats-new/net70.md
  dotnet-desktop-guide/net/winforms/whats-new/net80.md
  dotnet-desktop-guide/net/winforms/whats-new/net90.md
  dotnet-desktop-guide/net/winforms/whats-new/snippets/net90/csharp/Form1.Designer.cs
  dotnet-desktop-guide/net/winforms/whats-new/snippets/net90/csharp/Form1.cs
  dotnet-desktop-guide/net/winforms/whats-new/snippets/net90/csharp/Form1.resx
  dotnet-desktop-guide/net/winforms/whats-new/snippets/net90/csharp/MyExampleProject.csproj
  dotnet-desktop-guide/net/winforms/whats-new/snippets/net90/csharp/Program.cs
  dotnet-desktop-guide/net/winforms/whats-new/snippets/net90/vb/Form1.Designer.vb
  dotnet-desktop-guide/net/winforms/whats-new/snippets/net90/vb/Form1.vb
  dotnet-desktop-guide/net/winforms/whats-new/snippets/net90/vb/MyExampleProject.vbproj
  dotnet-desktop-guide/net/winforms/whats-new/snippets/net90/vb/Program.vb
  dotnet-desktop-guide/net/wpf/toc.yml
  dotnet-desktop-guide/net/wpf/whats-new/index.md
  dotnet-desktop-guide/net/wpf/whats-new/media/net90/ligature-8.png
  dotnet-desktop-guide/net/wpf/whats-new/media/net90/ligature-9.png
  dotnet-desktop-guide/net/wpf/whats-new/media/net90/wpf-dark.png
  dotnet-desktop-guide/net/wpf/whats-new/media/net90/wpf-light.png
  dotnet-desktop-guide/net/wpf/whats-new/net90.md
  dotnet-desktop-guide/net/wpf/whats-new/snippets/net90/csharp/App.xaml
  dotnet-desktop-guide/net/wpf/whats-new/snippets/net90/csharp/App.xaml.cs
  dotnet-desktop-guide/net/wpf/whats-new/snippets/net90/csharp/AssemblyInfo.cs
  dotnet-desktop-guide/net/wpf/whats-new/snippets/net90/csharp/DarkWindow.xaml
  dotnet-desktop-guide/net/wpf/whats-new/snippets/net90/csharp/DarkWindow.xaml.cs
  dotnet-desktop-guide/net/wpf/whats-new/snippets/net90/csharp/LightWindow.xaml
  dotnet-desktop-guide/net/wpf/whats-new/snippets/net90/csharp/LightWindow.xaml.cs
  dotnet-desktop-guide/net/wpf/whats-new/snippets/net90/csharp/MainWindow.xaml
  dotnet-desktop-guide/net/wpf/whats-new/snippets/net90/csharp/MainWindow.xaml.cs
  dotnet-desktop-guide/net/wpf/whats-new/snippets/net90/csharp/MyWpfProject.csproj
  dotnet-desktop-guide/net/wpf/whats-new/snippets/net90/csharp/ThemeWindow.xaml
  dotnet-desktop-guide/net/wpf/whats-new/snippets/net90/csharp/ThemeWindow.xaml.cs
  dotnet-desktop-guide/net/wpf/whats-new/snippets/net90/csharp/UserControl1.xaml
  dotnet-desktop-guide/net/wpf/whats-new/snippets/net90/csharp/UserControl1.xaml.cs
Labels: wpf/subsvc, winforms/subsvc, dotnet-desktop/svc

#1930 Minor fixes to whats new
  dotnet-desktop-guide/net/winforms/whats-new/net90.md
  dotnet-desktop-guide/net/wpf/whats-new/net70.md
  dotnet-desktop-guide/net/wpf/whats-new/net80.md
Labels: wpf/subsvc, winforms/subsvc, dotnet-desktop/svc

#1934 Update getting started winforms .NET 9
  dotnet-desktop-guide/net/winforms/controls-design/designer-differences-framework.md
  dotnet-desktop-guide/net/winforms/controls-design/designer-overview.md
  dotnet-desktop-guide/net/winforms/get-started/create-app-visual-studio.md
  dotnet-desktop-guide/net/winforms/get-started/media/create-app-visual-studio/netdesktop-8.0/vs-start-4-framework.png
  dotnet-desktop-guide/net/winforms/get-started/media/create-app-visual-studio/netdesktop-9.0/vs-start-4-framework.png
  dotnet-desktop-guide/net/winforms/get-started/media/create-app-visual-studio/vs-start-1-intro.png
  dotnet-desktop-guide/net/winforms/get-started/media/create-app-visual-studio/vs-start-2-templates.png
  dotnet-desktop-guide/net/winforms/get-started/media/create-app-visual-studio/vs-start-3-name.png
  dotnet-desktop-guide/net/winforms/get-started/snippets/create-app-visual-studio/csharp/Names.csproj
  dotnet-desktop-guide/net/winforms/get-started/snippets/create-app-visual-studio/vb/NamesVB.vbproj
  dotnet-desktop-guide/net/winforms/overview/index.md
  dotnet-desktop-guide/net/winforms/wfdev-diagnostics/obsoletions-overview.md
  dotnet-desktop-guide/net/winforms/whats-new/net60.md
Labels: winforms/subsvc, dotnet-desktop/svc

#1936 Update getting started for WPF
  dotnet-desktop-guide/net/wpf/get-started/create-app-visual-studio.md
  dotnet-desktop-guide/net/wpf/get-started/media/create-app-visual-studio/app-default.png
  dotnet-desktop-guide/net/wpf/get-started/media/create-app-visual-studio/app-finished.png
  dotnet-desktop-guide/net/wpf/get-started/media/create-app-visual-studio/netdesktop-6.0/vs-template-search-cs.png
  dotnet-desktop-guide/net/wpf/get-started/media/create-app-visual-studio/netdesktop-6.0/vs-template-search-vb.png
  dotnet-desktop-guide/net/wpf/get-started/media/create-app-visual-studio/netdesktop-7.0/vs-template-search-cs.png
  dotnet-desktop-guide/net/wpf/get-started/media/create-app-visual-studio/netdesktop-7.0/vs-template-search-vb.png
  dotnet-desktop-guide/net/wpf/get-started/media/create-app-visual-studio/netdesktop-8.0/vs-start-4-framework.png
  dotnet-desktop-guide/net/wpf/get-started/media/create-app-visual-studio/netdesktop-9.0/vs-start-4-framework.png
  dotnet-desktop-guide/net/wpf/get-started/media/create-app-visual-studio/vs-start-1-intro.png
  dotnet-desktop-guide/net/wpf/get-started/media/create-app-visual-studio/vs-start-2-templates.png
  dotnet-desktop-guide/net/wpf/get-started/media/create-app-visual-studio/vs-start-3-name.png
  dotnet-desktop-guide/net/wpf/get-started/snippets/create-app-visual-studio/csharp/Names.csproj
  dotnet-desktop-guide/net/wpf/get-started/snippets/create-app-visual-studio/vb/Names.vbproj
Labels: wpf/subsvc, dotnet-desktop/svc

#1938 New WinForms diagnostic reference articles
  .openpublishing.redirection.winforms.json
  dotnet-desktop-guide/net/winforms/compiler-messages/wfo0003.md
  dotnet-desktop-guide/net/winforms/compiler-messages/wfo5001.md
  dotnet-desktop-guide/net/winforms/compiler-messages/wfo5002.md
  dotnet-desktop-guide/net/winforms/toc.yml
  dotnet-desktop-guide/net/winforms/wfdev-diagnostics/obsoletions-overview.md
  dotnet-desktop-guide/net/winforms/wfdev-diagnostics/wfac010.md
  dotnet-desktop-guide/net/winforms/whats-new/net90.md
  redirects_generator/definitions.winforms.json
Labels: winforms/subsvc, dotnet-desktop/svc

#1940 Update winforms migration topic to 9
  dotnet-desktop-guide/net/winforms/migration/index.md
  dotnet-desktop-guide/net/winforms/migration/media/index/step-1-inplace.png
  dotnet-desktop-guide/net/winforms/migration/media/index/step-2-framework.png
  dotnet-desktop-guide/net/winforms/migration/media/index/step-2-initial-tab.png
  dotnet-desktop-guide/net/winforms/migration/media/index/step-3-components.png
  dotnet-desktop-guide/net/winforms/migration/media/index/step-3-project-upgrade-item.png
  dotnet-desktop-guide/net/winforms/migration/media/index/step-4-net8.png
  dotnet-desktop-guide/net/winforms/migration/media/index/step-4-results1.png
  dotnet-desktop-guide/net/winforms/migration/media/index/step-4-results2.png
  dotnet-desktop-guide/net/winforms/migration/media/index/step-5-results1.png
  dotnet-desktop-guide/net/winforms/migration/media/index/step-final-results2.png
Labels: winforms/subsvc, dotnet-desktop/svc, okr-freshness
