Repository dotnet/docs-desktop, pull requests merged in 2024-07, with the labels that each got.

#1867 Change RETURN to ENTER in WPF example
  dotnet-desktop-guide/framework/wpf/advanced/how-to-detect-when-the-enter-key-pressed.md
  dotnet-desktop-guide/framework/wpf/advanced/snippets/how-to-detect-when-the-enter-key-pressed/csharp/App.xaml
  dotnet-desktop-guide/framework/wpf/advanced/snippets/how-to-detect-when-the-enter-key-pressed/csharp/App.xaml.cs
  dotnet-desktop-guide/framework/wpf/advanced/snippets/how-to-detect-when-the-enter-key-pressed/csharp/AssemblyInfo.cs
  dotnet-desktop-guide/framework/wpf/advanced/snippets/how-to-detect-when-the-enter-key-pressed/csharp/MainWindow.xaml
  dotnet-desktop-guide/framework/wpf/advanced/snippets/how-to-detect-when-the-enter-key-pressed/csharp/MainWindow.xaml.cs
  dotnet-desktop-guide/framework/wpf/advanced/snippets/how-to-detect-when-the-enter-key-pressed/csharp/ProjectCS.csproj
  dotnet-desktop-guide/framework/wpf/advanced/snippets/how-to-detect-when-the-enter-key-pressed/csharp/app.manifest
  dotnet-desktop-guide/framework/wpf/advanced/snippets/how-to-detect-when-the-enter-key-pressed/vb/App.config
  dotnet-desktop-guide/framework/wpf/advanced/snippets/how-to-detect-when-the-enter-key-pressed/vb/Application.xaml
  dotnet-desktop-guide/framework/wpf/advanced/snippets/how-to-detect-when-the-enter-key-pressed/vb/Application.xaml.vb
  dotnet-desktop-guide/framework/wpf/advanced/snippets/how-to-detect-when-the-enter-key-pressed/vb/AssemblyInfo.vb
  dotnet-desktop-guide/framework/wpf/advanced/snippets/how-to-detect-when-the-enter-key-pressed/vb/MainWindow.xaml
  dotnet-desktop-guide/framework/wpf/advanced/snippets/how-to-detect-when-the-enter-key-pressed/vb/MainWindow.xaml.vb
  dotnet-desktop-guide/framework/wpf/advanced/snippets/how-to-detect-when-the-enter-key-pressed/vb/My Project/AssemblyInfo.vb
  dotnet-desktop-guide/framework/wpf/advanced/snippets/how-to-detect-when-the-enter-key-pressed/vb/My Project/MyExtensions/MyWpfExtension.vb
  dotnet-desktop-guide/framework/wpf/advanced/snippets/how-to-detect-when-the-enter-key-pressed/vb/My Project/Resources.Designer.vb
  dotnet-desktop-guide/framework/wpf/advanced/snippets/how-to-detect-when-the-enter-key-pressed/vb/My Project/Resources.resx
  dotnet-desktop-guide/framework/wpf/advanced/snippets/how-to-detect-when-the-enter-key-pressed/vb/My Project/Settings.Designer.vb
  dotnet-desktop-guide/framework/wpf/advanced/snippets/how-to-detect-when-the-enter-key-pressed/vb/My Project/Settings.settings
  dotnet-desktop-guide/framework/wpf/advanced/snippets/how-to-detect-when-the-enter-key-pressed/vb/ProjectVB.vbproj
  dotnet-desktop-guide/framework/wpf/advanced/snippets/how-to-detect-when-the-enter-key-pressed/vb/snippets.5000.json
  dotnet-desktop-guide/samples/snippets/csharp/VS_Snippets_Wpf/KeyDown/CSharp/KeyDown.csproj
  dotnet-desktop-guide/samples/snippets/csharp/VS_Snippets_Wpf/KeyDown/CSharp/Window1.xaml
  dotnet-desktop-guide/samples/snippets/csharp/VS_Snippets_Wpf/KeyDown/CSharp/Window1.xaml.cs
  dotnet-desktop-guide/samples/snippets/csharp/VS_Snippets_Wpf/KeyDown/CSharp/app.xaml
  dotnet-desktop-guide/samples/snippets/csharp/VS_Snippets_Wpf/KeyDown/CSharp/app.xaml.cs
  dotnet-desktop-guide/samples/snippets/csharp/VS_Snippets_Wpf/KeyDown/CSharp/sampleid.txt
  dotnet-desktop-guide/samples/snippets/visualbasic/VS_Snippets_Wpf/KeyDown/VisualBasic/KeyDown.vbproj
  dotnet-desktop-guide/samples/snippets/visualbasic/VS_Snippets_Wpf/KeyDown/VisualBasic/Window1.xaml
  dotnet-desktop-guide/samples/snippets/visualbasic/VS_Snippets_Wpf/KeyDown/VisualBasic/Window1.xaml.vb
  dotnet-desktop-guide/samples/snippets/visualbasic/VS_Snippets_Wpf/KeyDown/VisualBasic/app.xaml
  dotnet-desktop-guide/samples/snippets/visualbasic/VS_Snippets_Wpf/KeyDown/VisualBasic/app.xaml.vb
  dotnet-desktop-guide/samples/snippets/visualbasic/VS_Snippets_Wpf/KeyDown/VisualBasic/sampleid.txt
Labels: dotnet-framework/svc, wpf/subsvc

#1866 Fix icon file name in example
  dotnet-desktop-guide/net/winforms/controls-design/how-to-set-toolbox-icon.md
  dotnet-desktop-guide/net/winforms/controls-design/media/how-to-set-toolbox-icon/CompassRose.bmp
Labels: winforms/subsvc, dotnet-desktop/svc

#1873 Fix Minor Typo
  dotnet-desktop-guide/net/winforms/whats-new/net80.md
Labels: winforms/subsvc, dotnet-desktop/svc, community-contribution

#1874 Update graphics-rendering-tiers.md
  dotnet-desktop-guide/framework/wpf/advanced/graphics-rendering-tiers.md
Labels: dotnet-framework/svc, wpf/subsvc, community-contribution
