Repository dotnet/docs-desktop, pull requests merged in 2024-06, with the labels that each got.

#1841 Clarify that the LINE command in SVG can specify multiple points
  dotnet-desktop-guide/framework/wpf/graphics-multimedia/path-markup-syntax.md
Labels: dotnet-framework/svc, wpf/subsvc

#1832 Update how-to-add.md
  dotnet-desktop-guide/net/winforms/forms/how-to-add.md
Labels: winforms/subsvc, dotnet-desktop/svc, community-contribution

#1833 Update how-to-position-and-resize.md
  dotnet-desktop-guide/net/winforms/forms/how-to-position-and-resize.md
Labels: winforms/subsvc, dotnet-desktop/svc, community-contribution

#1844 Add files via upload
  dotnet-desktop-guide/framework/wpf/graphics-multimedia/media/graphcismm-drawinggroup-order.png
Labels: dotnet-framework/svc, wpf/subsvc

#1847 Fix singleton reference in WPF data binding
  dotnet-desktop-guide/framework/wpf/data/data-binding-overview.md
  dotnet-desktop-guide/net/wpf/data/index.md
Labels: dotnet-framework/svc, wpf/subsvc, dotnet-desktop/svc

#1848 Add link about tech region limitations in WPF
  dotnet-desktop-guide/framework/wpf/advanced/technology-regions-overview.md
Labels: dotnet-framework/svc, wpf/subsvc

#1849 Better explain code for winforms printing article
  dotnet-desktop-guide/net/winforms/printing/how-to-print-windows-form.md
  dotnet-desktop-guide/net/winforms/printing/snippets/how-to-print-windows-form/csharp/Form1.cs
  dotnet-desktop-guide/net/winforms/printing/snippets/how-to-print-windows-form/vb/Form1.vb
Labels: winforms/subsvc, dotnet-desktop/svc

#1851 Update details about transparency for winform controls
  dotnet-desktop-guide/framework/winforms/controls/how-to-give-your-control-a-transparent-background.md
  dotnet-desktop-guide/framework/winforms/controls/picturebox-control-overview-windows-forms.md
Labels: dotnet-framework/svc, winforms/subsvc

#1850 Add info about how TableLayoutPanel can only have one control per cell.
  dotnet-desktop-guide/framework/winforms/controls/tablelayoutpanel-control-overview.md
Labels: dotnet-framework/svc, winforms/subsvc

#1853 Correct shape example in WPF
  dotnet-desktop-guide/framework/wpf/graphics-multimedia/how-to-create-a-shape-using-a-streamgeometry.md
  dotnet-desktop-guide/samples/snippets/csharp/VS_Snippets_Wpf/GeometriesMiscSnippets_procedural_snip/CSharp/StreamGeometryExample.cs
  dotnet-desktop-guide/samples/snippets/visualbasic/VS_Snippets_Wpf/GeometriesMiscSnippets_procedural_snip/visualbasic/streamgeometryexample.vb
Labels: dotnet-framework/svc, wpf/subsvc

#1854 Fix WPF markup to match screenshot
  dotnet-desktop-guide/net/wpf/overview/index.md
Labels: wpf/subsvc, dotnet-desktop/svc

#1855 WPF shape article doesn't call out the namespaces used.
  dotnet-desktop-guide/framework/wpf/graphics-multimedia/shapes-and-basic-drawing-in-wpf-overview.md
Labels: dotnet-framework/svc, wpf/subsvc

#1856 Update persistent storage example for WPF Framework
  dotnet-desktop-guide/framework/wpf/app-development/persist-and-restore-application-scope-properties.md
  dotnet-desktop-guide/framework/wpf/app-development/snippets/persist-and-restore-application-scope-properties/csharp/App.xaml
  dotnet-desktop-guide/framework/wpf/app-development/snippets/persist-and-restore-application-scope-properties/csharp/App.xaml.cs
  dotnet-desktop-guide/framework/wpf/app-development/snippets/persist-and-restore-application-scope-properties/csharp/AssemblyInfo.cs
  dotnet-desktop-guide/framework/wpf/app-development/snippets/persist-and-restore-application-scope-properties/csharp/MainWindow.xaml
  dotnet-desktop-guide/framework/wpf/app-development/snippets/persist-and-restore-application-scope-properties/csharp/MainWindow.xaml.cs
  dotnet-desktop-guide/framework/wpf/app-development/snippets/persist-and-restore-application-scope-properties/csharp/ProjectCS.csproj
  dotnet-desktop-guide/framework/wpf/app-development/snippets/persist-and-restore-application-scope-properties/csharp/app.manifest
  dotnet-desktop-guide/framework/wpf/app-development/snippets/persist-and-restore-application-scope-properties/vb/App.config
  dotnet-desktop-guide/framework/wpf/app-development/snippets/persist-and-restore-application-scope-properties/vb/Application.xaml
  dotnet-desktop-guide/framework/wpf/app-development/snippets/persist-and-restore-application-scope-properties/vb/Application.xaml.vb
  dotnet-desktop-guide/framework/wpf/app-development/snippets/persist-and-restore-application-scope-properties/vb/AssemblyInfo.vb
  dotnet-desktop-guide/framework/wpf/app-development/snippets/persist-and-restore-application-scope-properties/vb/MainWindow.xaml
  dotnet-desktop-guide/framework/wpf/app-development/snippets/persist-and-restore-application-scope-properties/vb/MainWindow.xaml.vb
  dotnet-desktop-guide/framework/wpf/app-development/snippets/persist-and-restore-application-scope-properties/vb/My Project/AssemblyInfo.vb
  dotnet-desktop-guide/framework/wpf/app-development/snippets/persist-and-restore-application-scope-properties/vb/My Project/MyExtensions/MyWpfExtension.vb
  dotnet-desktop-guide/framework/wpf/app-development/snippets/persist-and-restore-application-scope-properties/vb/My Project/Resources.Designer.vb
  dotnet-desktop-guide/framework/wpf/app-development/snippets/persist-and-restore-application-scope-properties/vb/My Project/Resources.resx
  dotnet-desktop-guide/framework/wpf/app-development/snippets/persist-and-restore-application-scope-properties/vb/My Project/Settings.Designer.vb
  dotnet-desktop-guide/framework/wpf/app-development/snippets/persist-and-restore-application-scope-properties/vb/My Project/Settings.settings
  dotnet-desktop-guide/framework/wpf/app-development/snippets/persist-and-restore-application-scope-properties/vb/ProjectVB.vbproj
  dotnet-desktop-guide/framework/wpf/app-development/snippets/persist-and-restore-application-scope-properties/vb/snippets.5000.json
Labels: dotnet-framework/svc, wpf/subsvc
