Repository dotnet/docs-desktop, pull requests merged in 2024-02, with the labels that each got.

#1767 Remove VB Warning
  dotnet-desktop-guide/net/winforms/migration/index.md
Labels: winforms/subsvc, dotnet-desktop/svc

#1768 Add What's new for .NET 8
  dotnet-desktop-guide/net/wpf/index.yml
  dotnet-desktop-guide/net/wpf/migration/index.md
  dotnet-desktop-guide/net/wpf/migration/media/index/vs-target-framework.png
  dotnet-desktop-guide/net/wpf/toc.yml
  dotnet-desktop-guide/net/wpf/whats-new/net80.md
Labels: wpf/subsvc, dotnet-desktop/svc

#1764 Remove broken links
  dotnet-desktop-guide/framework/wpf/advanced/weak-event-patterns.md
  dotnet-desktop-guide/net/wpf/events/weak-event-patterns.md
Labels: dotnet-framework/svc, wpf/subsvc, dotnet-desktop/svc

#1771 Fix DPITabUnaware setting
  dotnet-desktop-guide/net/winforms/whats-new/snippets/net80/csharp/snippets.csproj
Labels: winforms/subsvc, dotnet-desktop/svc
