Repository dotnet/docs-desktop, pull requests merged in 2025-03, with the labels that each got.

#2020 Fix minor typos in treeview-styles-and-templates.md
  dotnet-desktop-guide/framework/wpf/controls/treeview-styles-and-templates.md
Labels: dotnet-framework/svc, wpf/subsvc, community-contribution

#2019 Add platform id to feedback template
  .github/ISSUE_TEMPLATE/customer-feedback.yml
Labels: community-contribution

#2029 Update wfo1000.md
  dotnet-desktop-guide/net/winforms/compiler-messages/wfo1000.md
Labels: winforms/subsvc, dotnet-desktop/svc

#2045 Update for preview 2
  dotnet-desktop-guide/net/winforms/whats-new/index.md
  dotnet-desktop-guide/net/winforms/whats-new/net100.md
  dotnet-desktop-guide/net/wpf/whats-new/index.md
  dotnet-desktop-guide/net/wpf/whats-new/net100.md
Labels: wpf/subsvc, winforms/subsvc, dotnet-desktop/svc

#2042 Rewrite .NET Framework article + code + screens
  dotnet-desktop-guide/framework/wpf/controls/how-to-add-a-watermark-to-a-textbox.md
  dotnet-desktop-guide/framework/wpf/controls/media/how-to-add-a-watermark-to-a-textbox/placeholder-example.png
  dotnet-desktop-guide/framework/wpf/controls/snippets/how-to-add-a-watermark-to-a-textbox/csharp/App.xaml
  dotnet-desktop-guide/framework/wpf/controls/snippets/how-to-add-a-watermark-to-a-textbox/csharp/App.xaml.cs
  dotnet-desktop-guide/framework/wpf/controls/snippets/how-to-add-a-watermark-to-a-textbox/csharp/MainWindow.xaml
  dotnet-desktop-guide/framework/wpf/controls/snippets/how-to-add-a-watermark-to-a-textbox/csharp/MainWindow.xaml.cs
  dotnet-desktop-guide/framework/wpf/controls/snippets/how-to-add-a-watermark-to-a-textbox/csharp/PlaceholderExample.csproj
  dotnet-desktop-guide/framework/wpf/controls/snippets/how-to-add-a-watermark-to-a-textbox/csharp/TextBoxHelper.cs
  dotnet-desktop-guide/framework/wpf/controls/snippets/how-to-add-a-watermark-to-a-textbox/csharp/snippets.5000.json
  dotnet-desktop-guide/framework/wpf/controls/snippets/how-to-add-a-watermark-to-a-textbox/csharp/textboxbackground.gif
  dotnet-desktop-guide/framework/wpf/controls/snippets/how-to-add-a-watermark-to-a-textbox/vb/Application.xaml
  dotnet-desktop-guide/framework/wpf/controls/snippets/how-to-add-a-watermark-to-a-textbox/vb/MainWindow.xaml
  dotnet-desktop-guide/framework/wpf/controls/snippets/how-to-add-a-watermark-to-a-textbox/vb/My Project/Resources.Designer.vb
  dotnet-desktop-guide/framework/wpf/controls/snippets/how-to-add-a-watermark-to-a-textbox/vb/My Project/Settings.Designer.vb
  dotnet-desktop-guide/framework/wpf/controls/snippets/how-to-add-a-watermark-to-a-textbox/vb/PlaceholderExample.vbproj
  dotnet-desktop-guide/framework/wpf/controls/snippets/how-to-add-a-watermark-to-a-textbox/vb/TextBoxHelper.vb
  dotnet-desktop-guide/framework/wpf/controls/snippets/how-to-add-a-watermark-to-a-textbox/vb/textboxbackground.gif
Labels: dotnet-framework/svc, wpf/subsvc, okr-quality
