Repository dotnet/docs-desktop, pull requests merged in 2025-01, with the labels that each got.

#1972 Clarify the drag-drop on a visual for WPF
  dotnet-desktop-guide/framework/wpf/advanced/drag-and-drop-overview.md
Labels: dotnet-framework/svc, wpf/subsvc

#1964 Fix description discrepancy.
  dotnet-desktop-guide/framework/winforms/how-to-access-keyed-collections-in-windows-forms.md
Labels: dotnet-framework/svc, winforms/subsvc

#1974 Fix some tables in the create usercontrol article
  dotnet-desktop-guide/net/winforms/controls-design/how-to-create-usercontrol.md
Labels: winforms/subsvc, dotnet-desktop/svc

#1977 Fix the typo on the height and width of the window
  dotnet-desktop-guide/net/wpf/get-started/create-app-visual-studio.md
Labels: wpf/subsvc, dotnet-desktop/svc, community-contribution

#1984 Minor update on wording
  dotnet-desktop-guide/net/wpf/data/how-to-bind-to-an-enumeration.md
Labels: wpf/subsvc, dotnet-desktop/svc

#1986 UUF: Empty section in wpf separator article
  dotnet-desktop-guide/framework/wpf/controls/separator.md
Labels: dotnet-framework/svc, wpf/subsvc, user-feedback
